STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
1000, 	"It displays the current playing position and tempo of. \n of the current playing position and tempo"
1001, 	"Change the current track.\n Current track"
1002, 	"Specifies the default velocity values. \n Default Velocity"
1003, 	"Specifies the default gate value. \n Default gate"
1004, 	"Change the quantization is carried out with a pen or a selection tool. \n Quantization Tool"
1005, 	"Meas : Tick "
1006, 	"C 4                "
1007, 	"Choice"
}

