STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{ 
  1008, 	"Navigates between marked measures. You may also modify or delete labels by right-clicking on it."
  1009, 	"Direct Input Mode"
  1010, 	"Shows the current CC Macro target selection for the Graph Panel 1. Right-click to directly input a specific CC Macro.\nControl Change Macro (EGP 1)"
  1011, 	"Shows the current CC Macro target selection for the Graph Panel 2. Right-click to directly input a specific CC Macro.\nControl Change Macro (EGP 2)"
  1012, 	"Shows the current CC Macro target selection for the Graph Panel 3. Right-click to directly input a specific CC Macro.\nControl Change Macro (EGP 3)"
  1013, 	"CC 0"
  1014, 	"CC 1"
  1015, 	"CC 2"
  1016, 	"CC 3"
  1017, 	"CC 4"
  1018, 	"Switches current track."
  1019, 	"Shows the current Graphing Resolution value, which can be adjusted.\nGraphing Resolution"
  1020, 	"Shows the current Graphing Tool, which can be switched.\nGraphing Tools"
}
