STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
1008, 	"Jump to Selected Marker"
1009, 	"Direct Input"
1010, 	"Event Graph 1 - Control Change Macro Tree\nEvent Graph 1 - Control Change Macro Tree"
1011, 	"Event Graph 2 - Control Change Macro Tree\nEvent Graph 2 - Control Change Macro Tree"
1012, 	"Event Graph 3 - Control Change Macro Tree\nEvent Graph 3 - Control Change Macro Tree"
1013, 	"CC 0"
1014, 	"CC 1"
1015, 	"CC 2"
1016, 	"CC 3"
1017, 	"CC 4"
1018, 	"Select Current Track"
1019, 	"Set Curve Intervals\nCurves Intervals"
1020, 	"Select Curve\nSelect Curve"
}

