STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32771, 	"Opens this project."
  32772, 	"Opens this project."
  32773, 	"Opens this project."
  32774, 	"Opens this project."
  32775, 	"Opens this project."
  32776, 	"Opens this project."
  32777, 	"Opens this project."
  32778, 	"Opens this project."
  32779, 	"Opens this project."
  32780, 	"Opens this project."
  32781, 	"Opens this project."
  32782, 	"Opens this project."
  32783, 	"Opens this project."
}
