STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32771, 	"?????????????"
32772, 	"?????????????"
32773, 	"?????????????"
32774, 	"?????????????"
32775, 	"?????????????"
32776, 	"?????????????"
32777, 	"?????????????"
32778, 	"?????????????"
32779, 	"?????????????"
32780, 	"?????????????"
32781, 	"?????????????"
32782, 	"?????????????"
32783, 	"?????????????"
}

