STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32784, 	"Opens this project."
  32785, 	"Opens this project."
  32786, 	"Opens this project."
  32787, 	"Opens this project."
  32788, 	"Opens this project."
  32789, 	"Opens this project."
  32790, 	"Opens this project."
  32791, 	"Clears the recent files list.\nClear recents list"
  32792, 	"Shows the Project Properties window where you can set up the project's title, copyright label, resolution, etc.\nProject Properties"
  32793, 	"Shows the Preferences window.\nPreferences"
  32794, 	"Exports as a MIDI file to a specified location\nExport SMF (MIDI) as"
  32795, 	"Deletes content within the selection range.\nDelete"
  32796, 	"Replaces selection with the clipboard contents.\nSubstitue Paste"
  32797, 	"Cancels the selection\nDeselect"
  32798, 	"Adds time to the selection.\nInsert Time"
  32799, 	"Deletes time from the selection.\nDelete Time"
}