STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32784, 	"Open selected file"
32785, 	"Open selected file"
32786, 	"Open selected file"
32787, 	"Open selected file"
32788, 	"Open selected file"
32789, 	"Open selected file"
32790, 	"Open selected file"
32791, 	"Clear Recents\nClear Recents"
32792, 	"Song Properties\nSong Properties"
32793, 	"Configuration\nConfiguration"
32794, 	"Export MIDI (*.mid)\nExport MIDI"
32795, 	"Delete\nDelete"
32796, 	"Insert\nInsert"
32797, 	"Deselect\nDeselect"
32798, 	"Insert Time\nInsert Time"
32799, 	"Delete Time\nDelete Time"
}

