STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
32800, 	"MIDI-IN??MIDI??????????????????\n????????"
32801, 	"MIDI-IN??MIDI???????????????\n??????"
32802, 	"MIDI-IN?????????????????\n??????????"
32803, 	"???????????????????(????)?\n??"
32804, 	"????????/???????????\n???????????"
32805, 	"Step???????????????????(????)???????\nStep?????"
32806, 	"Step?????????????\nStep?????"
32807, 	"X????????????\nX?????????"
32808, 	"X????????????\nX??????????"
32809, 	"Y????????????\nY?????????"
32810, 	"Y????????????\nY??????????"
32811, 	"????????/???????????\n????????????"
32812, 	"?????????/???????????\n?????????????"
32813, 	"??????????/???????????\n??????????????"
32814, 	"????????????/???????????\n????????????????"
}

