STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32800, 	"Real Time Recording\nReal Time Recording"
32801, 	"Step Recording\nStep Recording"
32802, 	"System Exclusive Event Recording\nSystem Exclusive Event Recording"
32803, 	"Rythm\nRythm"
32804, 	"Main Toolbar\nMain Toolbar"
32805, 	"Lock Steps\nLock Steps"
32806, 	"Unlock Steps\nUnlock Steps"
32807, 	"X-Axis Zoom In\nX-Axis Zoom In"
32808, 	"X-Axis Zoom Out\nX-Axis Zoom Out"
32809, 	"Y-Axis Zoom In\nY-Axis Zoom In"
32810, 	"Y-Axis Zoom Out\nY-Axis Zoom Out"
32811, 	"Markers Bar\nMarkers Bar"
32812, 	"Track List Bar\nTrack List Bar"
32813, 	"Track Sheet\nTrack Sheet"
32814, 	"Output Panel\nOutput Panel"
}

