STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32816, 	"Event List Panel\nEvent List Panel"
32817, 	"Event Graph 1\nEvent Graph 1"
32818, 	"Event Graph 2\nEvent Graph 2"
32819, 	"Velocity\nVelocity"
32820, 	"Velocity\nVelocity"
32821, 	"Onion Skin\nOnion Skin"
32822, 	"View Previous Track\nView Previous Track"
32823, 	"View Next Track\nView Next Track"
32824, 	"View Specified Tracks\nView Specified Tracks"
32826, 	"Insert Note\nInsert Note"
32827, 	"Insert Program Change\nInsert Program Change"
32828, 	"Insert Control Change\nInsert Control Change"
32829, 	"Insert System Exclusive\nInsert System Exclusive"
32830, 	"Insert Comment\nInsert Comment"
32831, 	"Insert Variable\nInsert Variable"
}

