STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32816, 	"Shows/hides the Event List\nToggle Event List"
  32817, 	"Shows/hides the Graph Panel 1\nToggle Graph Panel 1"
  32818, 	"Shows/hides the Graph Panel 2\nToggle Graph Panel 2"
  32819, 	"Shows the veelocity graph within Graph Panel 1.\nGraph Panel 1: Velocity"
  32820, 	"Shows the velocity graph within Graph Panel 2.\nGraph Panel 2: Velocity"
  32821, 	"Toggles the Onion Skin function within the Piano Roll.\nToggle Onion Skin"
  32822, 	"Overlays the previous Track.\nOverlay Previous Track"
  32823, 	"Overlays the next Track.\nOverlay Next Track"
  32824, 	"Sets up specific track(s) to overlay.\nOverlay Specific Track(s)"
  32826, 	"Inserts a note.\nInsert Note"
  32827, 	"Inserts a Program Change event.\nInsert Program Change"
  32828, 	"Inserts a Control Change event.\nInsert Control Change"
  32829, 	"Inserts a System Exclusive event.\nInsert System Exclusive"
  32830, 	"Inserts a comment.\nInsert Comment"
  32831, 	"Inserts a variable expression.\nInsert Variable"
}
