STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
32816, 	"?????????????/???????????\n?????????????????"
32817, 	"??????????1???/???????????\n??????????1???????"
32818, 	"??????????2???/???????????\n??????????2???????"
32819, 	"????????????\nVelocity"
32820, 	"????????????\nVelocity"
32821, 	"???????????????????????\n??????????????????"
32822, 	"??????????????????????\n????????????????"
32823, 	"??????????????????????\n????????????????"
32824, 	"????????????????????????\n?????????????????"
32826, 	"??????????????\n??????"
32827, 	"????????????????????\n????????????"
32828, 	"?????????????????????\n?????????????"
32829, 	"???????????????????\n???????????"
32830, 	"???????????\n???????"
32831, 	"??????????????????????\n????????"
}

