STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32832, 	"Insert Track Initialization Template\nInsert Track Initialization Template"
32838, 	"Split Events\nSplit Events"
32839, 	"Trim Events\nTrim Events"
32840, 	"Batch Modify\nBatch Modify"
32841, 	"Transpose\nTranspose"
32842, 	"Quantize\nQuantize"
32843, 	"Insert Custom Curve\nInsert Custom Curve"
32844, 	"Strum\nStrum"
32845, 	"One Octave Up\nOne Octave Up"
32846, 	"One Octave Down\nOne Octave Down"
32847, 	"Edit Selected Event value\nEdit Value"
}

