STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32832, 	"Choose a template by inserting various events.\nInsert Template"
  32838, 	"Divides note(s) on the playhead.\nSlice"
  32839, 	"Divides note(s) on the playhead and removes its remains.\nTrim"
  32840, 	"Changes the selection data in bulk.\nBulk Changes"
  32841, 	"Transposes notes (except from Rhythm Tracks).\nTranspose"
  32842, 	"Controls the note tick and gate using specified quantization values.\nQuantizer"
  32843, 	"Sets up a specified graph to be assigned to the selection range.\nGraph on selection"
  32844, 	"Shifts the timing of selected notes like guitar strokes.\nStroke"
  32845, 	"Transposes note(s) one octave up.\n+1 Octave"
  32846, 	"Transposes note(s) one octave down.\n-1 Octave"
  32847, 	"Modifies the selected value of an event.\nEdit selected value"
}
