STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
32848, 	"??????????????????????????\n??????????"
32849, 	"??????????????End of Track????????????\nEnd Of Track???"
32850, 	"????????????????????????????????????????\n??"
32851, 	"???????????????????????????????\n??"
32852, 	"????????????????????????????????????\n????"
32853, 	"???????????????????\n??/??????????"
32855, 	"???????????????????\nTick??????"
32856, 	"?????????????????\nGate??????"
32857, 	"?????????????????????????????\n??????"
32858, 	"????????????????????????\n??"
32859, 	"?????????????????????????????\n???????"
32861, 	"??????????????????????????\n?????"
32862, 	"??????????????????????????\n????"
32863, 	"???????????????????????\n????????"
}

