STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32864, 	"Uses specified preset as graphing tool."
  32865, 	"Uses specified preset as graphing tool."
  32866, 	"Uses specified preset as graphing tool."
  32867, 	"Uses specified preset as graphing tool."
  32868, 	"Uses specified preset as graphing tool."
  32869, 	"Uses specified preset as graphing tool."
  32870, 	"Uses specified preset as graphing tool."
  32871, 	"Uses specified preset as graphing tool."
  32872, 	"Uses specified preset as graphing tool."
  32873, 	"Uses specified preset as graphing tool."
  32874, 	"Uses specified preset as graphing tool."
  32875, 	"Uses specified preset as graphing tool."
  32876, 	"Uses specified preset as graphing tool."
  32877, 	"Uses specified preset as graphing tool."
  32878, 	"Uses specified preset as graphing tool."
  32879, 	"Uses specified preset as graphing tool."
}
