STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32864, 	"Use Selected Curve"
32865, 	"Use Selected Curve"
32866, 	"Use Selected Curve"
32867, 	"Use Selected Curve"
32868, 	"Use Selected Curve"
32869, 	"Use Selected Curve"
32870, 	"Use Selected Curve"
32871, 	"Use Selected Curve"
32872, 	"Use Selected Curve"
32873, 	"Use Selected Curve"
32874, 	"Use Selected Curve"
32875, 	"Use Selected Curve"
32876, 	"Use Selected Curve"
32877, 	"Use Selected Curve"
32878, 	"Use Selected Curve"
32879, 	"Use Selected Curve"
}

