STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32880, 	"Use Selected Curve"
32881, 	"Use Selected Curve"
32882, 	"Use Selected Curve"
32883, 	"Use Selected Curve"
32884, 	"Set Curves Interval\nInterval Setting"
32885, 	"Event is inserted in the event graph only where a note exists and immediately before it\nOnly Before Notes"
32886, 	"Play/Stop\nPlay/Stop"
32887, 	"Loop\nLoop"
32889, 	"Playback Speed : 50%\n50%"
32890, 	"Playback Speed : 100%\n100%"
32891, 	"Playback Speed : 150%\n150%"
32892, 	"Playback Speed : 200%\n200%"
32893, 	"Playback Speed : 300%\n300%"
32894, 	"GoTo Beginning\nGoTo Beginning"
32895, 	"GoTo Previous Measure\nGoTo Previous Measure"
}

