STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  32880, 	"Uses specified preset as graphing tool."
  32881, 	"Uses specified preset as graphing tool."
  32882, 	"Uses specified preset as graphing tool."
  32883, 	"Uses specified preset as graphing tool."
  32884, 	"Configures the sharpness of graphing.\nGraphing Resolution"
  32885, 	"Only insert CC events on notes when graphing.\nAnchor to notes only"
  32886, 	"Starts/Stops the playback.\nToggle Playback"
  32887, 	"Enables looping playback on whole track, selected range, or loop marks.\nEnable Loop"
  32889, 	"Sets playback speed to 50%.\n50%"
  32890, 	"Sets playback speed to 100%.\n100%"
  32891, 	"Sets playback speed to 150%.\n150%"
  32892, 	"Sets playback speed to 200%.\n200%"
  32893, 	"Sets playback speed to 300%.\n300%"
  32894, 	"Moves the playhead to the beginning.\nto Beginning"
  32895, 	"Moves the playhead to the previous measure.\nto Previous bar"
}
