STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32896, 	"Go To Next Measure\nGo To Next Measure"
32897, 	"Mute Track\nMute Track"
32898, 	"Solo Track\nSolo Track"
32899, 	"Play All Tracks\nPlay All Tracks"
32900, 	"Synchronize MIDI Out Device\nSynchronize MIDI Out Device"
32901, 	"Time Information\nTime Information"
32902, 	"Add New Track\nAdd New Track"
32903, 	"Delete Track\nDelete Track"
32904, 	"Track Properties\nTrack Properties"
32905, 	"One Track Up\nOne Track Up"
32906, 	"One Track Down\nOne Track Down"
}


