STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32896, 	"???????????????????\n???????"
32897, 	"?????????????/???????????\n???????"
32898, 	"?????????????????\n????"
32899, 	"????????????\n???????"
32900, 	"???????????????(????????)???????\nMIDI??????????"
32901, 	"????????????????\n???????"
32902, 	"??????????????\n???????"
32903, 	"????????????????\n???????"
32904, 	"?????????????????\n??????????"
32905, 	"???????????????\n???????"
32906, 	"???????????????\n???????"
}

