STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32973, 	"?????????????????????????/???????????\n???????????"
32974, 	"?????????????????????????/???????????\n???????????"
32975, 	"????????????????????"
}

