STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32976, 	"GoTo End\nGoTo End"
32977, 	"Pitch Bend\nPitch Bend"
32979, 	"Modulation\nModulation"
32980, 	"Expression\nExpression"
32982, 	"Volume\nVolume"
32983, 	"Panpot\nPanpot"
32984, 	"Hold\nHold"
32985, 	"LPF Cutoff Frequency\nLPF Cutoff Frequency"
32986, 	"Resonance\nResonance"
32987, 	"Master Volume\nMaster Volume"
32988, 	"Pitch Bend\nPitch Bend"
32989, 	"Modulation\nModulation"
32990, 	"Expression\nExpression"
32991, 	"Volume\nVolume"
}

