STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32976, 	"????????????\n??????"
32977, 	"?????????????\nPitch Bend"
32979, 	"???????????????\nModulation"
32980, 	"????????????????\nExpression"
32982, 	"????????????\nVolume"
32983, 	"????????????\nPanpot"
32984, 	"???????????\nHold"
32985, 	"??????????????????????\nLPF Cutoff Frequency"
32986, 	"??????????????????????\nResonance"
32987, 	"????????????????\nMaster Volume"
32988, 	"?????????????\nPitch Bend"
32989, 	"???????????????\nModulation"
32990, 	"????????????????\nExpression"
32991, 	"????????????\nVolume"
}

