STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
32992, 	"????????????\nPanpot"
32993, 	"???????????\nHold"
32994, 	"??????????????????????\nLPF Cutoff Frequency"
32995, 	"??????????????????????\nResonance"
32996, 	"????????????????\nMaster Volume"
32997, 	"?????????(????????????)?\n??????"
32998, 	"??????????????????\n???????"
32999, 	"???????????????????CPU????????????Wave??????\n?????"
33000, 	"???????????????????????\n?????? - ???"
33001, 	"???????????????????????\n?????? - ??2???"
33002, 	"???????????????????????\n?????? - 2???"
33003, 	"???????????????????????\n?????? - 3?2???"
33004, 	"???????????????????????\n?????? - ??4???"
33005, 	"???????????????????????\n?????? - 4???"
33006, 	"???????????????????????\n?????? - 3?4???"
33007, 	"???????????????????????\n?????? - ??8???"
}

