STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
32992, 	"Panpot\nPanpot"
32993, 	"Hold\nHold"
32994, 	"LPF Cutoff Frequency\nLPF Cutoff Frequency"
32995, 	"Resonance\nResonance"
32996, 	"Master Volume\nMaster Volume"
32997, 	"Insert Tempo\nInsert Tempo"
32998, 	"GoTo Second Previous Measure\nGoTo Second Previous Measure"
32999, 	"CPU load for playback is minimal. For use when recording wave sound.\nLow Load Playback"
33000, 	"Whole\nWhole"
33001, 	"3/4\n3/4"
33002, 	"1/2\n1/2"
33003, 	"1/3\n1/3"
33004, 	"3/8\n3/8"
33005, 	"1/4\n1/4"
33006, 	"1/6\n1/6"
33007, 	"3/16\n3/16"
}

