STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33008, 	"???????????????????????\n?????? - 8???"
33009, 	"???????????????????????\n?????? - 3?8???"
33010, 	"???????????????????????\n?????? - ??16???"
33011, 	"???????????????????????\n?????? - 16???"
33012, 	"???????????????????????\n?????? - 3?16???"
33013, 	"???????????????????????\n?????? - ??32??"
33014, 	"???????????????????????\n?????? - 32???"
33015, 	"???????????????????????\n?????? - 3?32???"
33016, 	"????????????????\n??????"
33017, 	"????????/???????????\n???????????"
33018, 	"??????????????????????????????\n?????????????"
33020, 	"???????????\n?????"
33021, 	"????????????????\n??????"
33022, 	"??????????????????\n?????"
}

