STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33024, 	"??????????????????\n??????????"
33025, 	"???????????????????"
33026, 	"???????????????????"
33027, 	"???????????????????"
33028, 	"???????????????????"
33029, 	"???????????????????"
33030, 	"???????????????????"
33031, 	"???????????????????"
33032, 	"???????????????????"
33033, 	"???????????????????"
33034, 	"???????????????????"
33035, 	"??????????????????????????????(????????)???????\nMIDI??????????????"
33036, 	"?????????\n?????"
33037, 	"??????????????\n??????????"
33038, 	"????????? 1 ?????(???????????????????)?\n???????"
33039, 	"?????????? 1 ?????(???????????????????)?\n??????"
}

