STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33024, 	"Display sound source definition files information\nSound Source Definition Files Information"
33025, 	"Insert event of the specified value at playback marker position in the event graph."
33026, 	"Insert event of the specified value at playback marker position in the event graph."
33027, 	"Insert event of the specified value at playback marker position in the event graph."
33028, 	"Insert event of the specified value at playback marker position in the event graph."
33029, 	"Insert event of the specified value at playback marker position in the event graph."
33030, 	"Insert event of the specified value at playback marker position in the event graph."
33031, 	"Insert event of the specified value at playback marker position in the event graph."
33032, 	"Insert event of the specified value at playback marker position in the event graph."
33033, 	"Insert event of the specified value at playback marker position in the event graph."
33034, 	"Insert event of the specified value at playback marker position in the event graph."
33035, 	"Always Synchronize MIDI Out Device\nAlways Synchronize MIDI Out Device"
33036, 	"Insert Lyrics\nInsert Lyrics"
33037, 	"Insert Cue Point\nInsert Cue Point"
33038, 	"Adds one small unit.\n Add one small unit"
33039, 	"Substracts one small unit.\n Substract one small unit"
}

