STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33024, 	"Shows the Sound Source Definition File Information window.\nSound Src. Def. File Info"
  33025, 	"Assigns this value to the Graph Panel 1."
  33026, 	"Assigns this value to the Graph Panel 1."
  33027, 	"Assigns this value to the Graph Panel 1."
  33028, 	"Assigns this value to the Graph Panel 1."
  33029, 	"Assigns this value to the Graph Panel 1."
  33030, 	"Assigns this value to the Graph Panel 2."
  33031, 	"Assigns this value to the Graph Panel 2."
  33032, 	"Assigns this value to the Graph Panel 2."
  33033, 	"Assigns this value to the Graph Panel 2."
  33034, 	"Assigns this value to the Graph Panel 2."
  33035, 	"Syncs to MIDI devices when moving the playhead.\nToggle Auto-sync to MIDI Devices"
  33036, 	"Inserts a Lyric event.\nInsert Lyric"
  33037, 	"Inserts a Cue Point event\nInsert Cue Point"
  33038, 	"Adds 1 point to a value (varies between columns).\n+ 1"
  33039, 	"Deducts 1 point from a value (varies between columns).\n- 1"
}
