STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33040, 	"Adds 10 points to a value (varies between columns).\n+ 10"
  33041, 	"Deducts 10 points to a value (varies between columns).\n- 10"
  33042, 	"Shows/hides this toolbar.\nToggle Toolbar"
  33043, 	"Focuses operation in the Event List.\nFocus navigation to Event List"
  33044, 	"Shows/hides this toolbar.\nToggle Toolbar"
  33045, 	"Refines the selection range.\nFilter Selection Range"
  33046, 	"Inserts a specified batch of Control Changes.\nInsert CCs"
  33047, 	"Preview/play selected note/CC event."
  33048, 	"Pauses/Resumes playback.\nPause/Resume Playback"
  33049, 	"Sets up key scale/chord highlight guide to Piano Roll.\nKey Scale/Chord Highlight"
  33050, 	"Shows/hides the Track Monitor Bar.\nToggle Track Monitor Bar"
  33051, 	"Customize the Track Monitor Bar.\nTrack Monitor Bar Customization"
  33052, 	"Changes the default velocity to molto pianissimo.\nmolto pianissimo"
  33053, 	"Changes the default velocity to pianissimo.\npianissimo"
  33054, 	"Changes the default velocity to piano.\npiano"
  33055, 	"Changes the default velocity to mezzo piano.\nmezzo piano"
}
