STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
33040, 	"????????? 10 ?????(???????????????????)?\n???????"
33041, 	"?????????? 10 ?????(???????????????????)?\n??????"
33042, 	"????????/???????????\n???????????"
33043, 	"???????????????????????\n???????????????????"
33044, 	"????????/???????????\n???????????"
33045, 	"?????????????????(????????)\n?????????"
33046, 	"???????????????????????\n??????????(??)???"
33047, 	"????????????????????????????????????????"
33048, 	"??????????(??????????)?\n????"
33049, 	"?????????????/??????????\n???????????/??????"
33050, 	"?????????????/???????????\n?????????????????"
33051, 	"?????????????????????\n?????????????????"
33052, 	"?????Velocity???????\n???????"
33053, 	"?????Velocity???????\n??????"
33054, 	"?????Velocity???????\n???"
33055, 	"?????Velocity???????\n?????"
}

