STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33040, 	"Adds one medium unit.\n Add one medium unit "
33041, 	"Substracts one medium unit.\n Substract one medium unit"
33042, 	"User Defined Toolbar 1\nUser Defined Toolbar 1"
33043, 	"???????????????????????\n???????????????????"
33044, 	"User Defined Toolbar 2\nUser Defined Toolbar 2"
33045, 	"Selection Filter\nSelection Filter"
33046, 	"Insert Multiple Control Changes\nInsert Multiple Control Changes"
33047, 	"Send Event"
33048, 	"Stop/Play (no rewind)\n Stop/Play (no rewind)"
33049, 	"Scale/Chord Highlighter\nScale/Chord Highlighter"
33050, 	"Track Monitor Bar\nTrack Monitor Bar"
33051, 	"Customize Track Monitor Bar\nCustomize Track Monitor Bar"
33052, 	"Molto Pianissimo\nMolto Pianissimo"
33053, 	"Pianissimo\nPianissimo"
33054, 	"Piano\nPiano"
33055, 	"Mezzopiano\nMezzopiano"
}


