STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33056, 	"Changes the default velocity to mezzo forte.\nmezzo forte"
  33057, 	"Changes the default velocity to forte.\nforte"
  33058, 	"Changes the default velocity to fortissimo.\nfortissimo"
  33059, 	"Changes the default velocity to molto fortissimo.\nmolto fortissimo"
  33060, 	"Changes the default quantization to Whole.\nDefault Gate: Whole"
  33061, 	"Changes the default quantization to 3/4.\nDefault Gate: 3/4"
  33062, 	"Changes the default quantization to 1/2.\nDefault Gate: 1/2"
  33063, 	"Changes the default quantization to 1/3.\nDefault Gate: 1/3"
  33064, 	"Changes the default quantization to 3/8.\nDefault Gate: 3/8"
  33065, 	"Changes the default quantization to 1/4.\nDefault Gate: 1/4"
  33066, 	"Changes the default quantization to 1/6.\nDefault Gate: 1/6"
  33067, 	"Changes the default quantization to 3/16.\nDefault Gate: 3/16"
  33068, 	"Changes the default quantization to 1/8.\nDefault Gate: 1/8"
  33069, 	"Changes the default quantization to 1/12.\nDefault Gate: 1/12"
  33070, 	"Changes the default quantization to 1/32.\nDefault Gate: 3/32"
  33071, 	"Changes the default quantization to 1/16.\nDefault Gate: 1/16"
}
