STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
33056, 	"?????Velocity???????\n??????"
33057, 	"?????Velocity???????\n????"
33058, 	"?????Velocity???????\n????????"
33059, 	"?????Velocity???????\n?????????"
33060, 	"?????Gate???????\n?????Gate - ???"
33061, 	"?????Gate???????\n?????Gate - ??2???"
33062, 	"?????Gate???????\n?????Gate - 2???"
33063, 	"?????Gate???????\n?????Gate - 3?2???"
33064, 	"?????Gate???????\n?????Gate - ??4???"
33065, 	"?????Gate???????\n?????Gate - 4???"
33066, 	"?????Gate???????\n?????Gate - 3?4???"
33067, 	"?????Gate???????\n?????Gate - ??8???"
33068, 	"?????Gate???????\n?????Gate - 8???"
33069, 	"?????Gate???????\n?????Gate - 3?8???"
33070, 	"?????Gate???????\n?????Gate - ??16???"
33071, 	"?????Gate???????\n?????Gate - 16???"
}

