STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
33072, 	"?????Gate???????\n?????Gate - 3?16???"
33073, 	"?????Gate???????\n?????Gate - ??32???"
33074, 	"?????Gate???????\n?????Gate - 32???"
33075, 	"?????Gate???????\n?????Gate - 3?32???"
33076, 	"????????/???????????\n???????????"
33077, 	"???????????GM???????????\nGM??????"
33078, 	"???????????????????????????\n???????"
33079, 	"?????????????????????????/???????????\n??????????????????/???????"
33081, 	"?????Gate/Velocity?????????????\n???????????????"
33082, 	"???????????????????????\n?????????????"
33086, 	"????????????????\n?????????"
33087, 	"?????????????????\n?????"
}

