STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33072, 	"1/24\n1/24"
33073, 	"3/64\n3/64"
33074, 	"1/32\n1/32"
33075, 	"1/48\n1/48"
33076, 	"Default Gate/Velocity Toolbar\nDefault Gate/Velocity Toolbar"
33077, 	"Reset GM Transmission\nReset GM Transmission"
33078, 	"Lock Toolbars\nLock Toolbars"
33079, 	"Auto Scroll\nAuto Scroll"
33081, 	"Default Gate/Velocity is remembered in every track. \n Remember default value in every track"
33082, 	"Per Track Settings\nPer Track Settings"
33086, 	"Reset Columns Width\nReset Columns Width"
33087, 	"Custom Selection\nCustom Selection"
}

