STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33090, 	"Display chords of current track + onion skin track at playback marker position in the status bar\nInspect Chords"
33094, 	"Add Several Tracks\nAdd Several Tracks"
33095, 	"Duplicate Onion Skin Notes\nDuplicate Onion Skin Notes"
33096, 	"State of  MIDI Out Device synchronization - Per track settings. \n Per track settings"
33097, 	"Humanize\nHumanize"
33098, 	"Custom Filter\nCustom Filter"
33099, 	"Exclude All Events\nExclude All Events"
33100, 	"Include All Events\nInclude All Events"
33101, 	"Include Notes\nInclude Notes"
33102, 	"Include Program Changes\nInclude Program Changes"
}

