STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33090, 	"????(????????+???????????)???????????????????????\n???????????"
33094, 	"????????????????????????????\n????????????"
33095, 	"?????????????????????????????????????\n?????????????"
33096, 	"[MIDI??????????]????????????????\n????????"
33097, 	"??????????Tick?Gate?Value????????????\n???????"
33098, 	"???????????????????????\n????????????????"
33099, 	"?????????????????/??????????\n??????????"
33100, 	"??????????????????????????\n?????????????????"
33101, 	"??????????/???????????\n???????????? : ???????"
33102, 	"????????????????/???????????\n???????????? : ?????????????"
}

