STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33090, 	"Shows the chord analysis from playhead position (includes current and onion skin track) on the status bar.\nInspect Chord"
  33094, 	"Add tracks from specified port's pre-configured track set.\nAdd Track Set"
  33095, 	"Duplicates current Onion Skin notes to the current track.\nMirror Onion Skin Note(s)"
  33096, 	"Sets up MIDI Device Synchronization to individual tracks.\nPer Track Sync"
  33097, 	"Shifts the selected event's Tick Gate, and Vel/Value randomly.\nHumanize"
  33098, 	"Sets up the Event List Filter function.\nSetup Event List Filter"
  33099, 	"Toggles the Event List Filter function.\nToggle Event List Filter"
  33100, 	"Resets the Event List Filter setup and disables it.\nReset/Disable Event List Filter"
  33101, 	"Filters notes.\nFilter Notes"
  33102, 	"Filters program changes.\nFilter PCs"
}
