STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33104, 	"????????????/???????????\n???????????? : Velocity"
33105, 	"?????????????/???????????\n???????????? : Pitch Bend"
33106, 	"???????????????/???????????\n???????????? : Modulation"
33107, 	"????????????????/???????????\n???????????? : Expression"
33108, 	"????????????/???????????\n???????????? : Volume"
33109, 	"????????????/???????????\n???????????? : Panpot"
33110, 	"???????????/???????????\n???????????? : Hold"
33111, 	"??????????????????????/???????????\n???????????? : LPF Cutoff Frequency"
33112, 	"????????????/???????????\n???????????? : LPF Resonance"
33113, 	"????????????????/???????????\n???????????? : Master Volume"
33114, 	"???????????????/???????????\n???????????? : ????????????"
33115, 	"???????????/???????????\n???????????? : ????????"
33116, 	"????????????/???????????\n???????????? : ?????????"
33117, 	"??????????/???????????\n???????????? : ???????"
33118, 	"?????????/???????????\n???????????? : ??????"
33119, 	"??????????????/???????????\n???????????? : ???????????"
}

