STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33104, 	"Filters velocity events.\nFilter: Velocity"
  33105, 	"Filters pitch events.\nFilter: Pitch Bend"
  33106, 	"Filters modulation events.\nFilter: Modulation"
  33107, 	"Filters expression events.\nFilter: Expression"
  33108, 	"Filters volume events.\nFilter: Volume"
  33109, 	"Filters panning events.\nFilter: Panning"
  33110, 	"Filters hold events.\nFilter: Hold"
  33111, 	"Filters low pass filter frequency events.\nFilter: LPF Cutoff Frequency"
  33112, 	"Filters resonance events.\nFilter: LPF Resonance"
  33113, 	"Filters master volume events.\nFilter: Master Volume"
  33114, 	"Filters System Exclusive events.\nFilter: System Exclusive"
  33115, 	"Filters comments.\nFilter: Comments"
  33116, 	"Filters variable expressions.\nFilter: Variables"
  33117, 	"Filters tempo.\nFilter: Tempi"
  33118, 	"Filters lyrics.\nFilter: Lyrics"
  33119, 	"Filters cue points.\nFilter: Cue Points"
}
