STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33120, 	"????????/???????????\n???????????"
33121, 	"??????????????????/???????????\n???????????? : ???????????????"
33122, 	"??????????????/???????????\n??????????????????"
33123, 	"???????????????????(????)?\n??"
33124, 	"????????????????????\n???????"
33125, 	"?????????/???????????\n?????????????"
33126, 	"MIDI???????????????????????????\nMIDI IN???????????"
33127, 	"???????????????????????????????????????\n??????"
33128, 	"??????????????????????\n???????????"
33129, 	"????????????????????????????????????Step???????\n???????????(???)"
33130, 	"?????????????????????\n??????"
33131, 	"?????????\n??"
33132, 	"??????????????????\n??????????????"
33133, 	"??????????????????\n??????????????"
33134, 	"??????????????????\n??????????????"
33135, 	"??????????????????\n??????????????"
}

