STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33120, 	"Event List Filter Toolbar\nEvent List Filter Toolbar"
33121, 	"Include All Control Changes\nInclude All Control Changes"
33122, 	"Track List Panel\nTrack List Panel"
33123, 	"Scale"
33124, 	"Select Notes Only\nSelect Notes Only"
33125, 	"Performance Monitor\nPerformance Monitor"
33126, 	"Insert MIDI IN Note Event\nInsert MIDI IN Note Event"
33127, 	"Play Measure Solo\nPlay Measure Solo"
33128, 	"Delete Previous Event\nDelete Previous Event"
33129, 	"Ripple Delete Previous Event\nRipple Delete Previous Event"
33130, 	"Play Solo\nPlay Solo"
33131, 	"Stop\nStop"
33132, 	"Scroll Up\nScroll Up"
33133, 	"Scroll Down\nScroll Down"
33134, 	"Scroll Left\nScroll Left"
33135, 	"Scroll Right\nScroll Right"
}

