STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33120, 	"Shows/hides this toolbar.\nToggle Toolbar"
  33121, 	"Filters all control changes.\nFilter All CCs"
  33122, 	"Shows/hides the Track Selection Panel\nToggle Track Selection Panel"
  33123, 	"Inserts a key signature event. (Conductor Track only)\nInsert Key Signature"
  33124, 	"Filters out events within the selected range except for the notes.\nSelect notes only"
  33125, 	"Shows/hides the Playback Monitor\nToggle Playback Monitor Mode"
  33126, 	"Insert notes based on input information from MIDI devices such as keyboard, etc.\nInsert note from MIDI-IN"
  33127, 	"Starts playback on current measure only.\nPlay Solo Measure"
  33128, 	"Deletes the previously inserted event.\nDelete Recent Event"
  33129, 	"Ripple deletes the previously inserted event.\nRipple Delete Recent Event"
  33130, 	"Starts playback on the current track only.\nPlay Solo Track"
  33131, 	"Stops playback.\nStop Playback"
  33132, 	"Scrolls the Piano Roll up.\nScroll Piano Roll Up"
  33133, 	"Scrolls the Piano Roll down.\nScroll Piano Roll Down"
  33134, 	"Scrolls the Piano Roll left.\nScroll Piano Roll Left"
  33135, 	"Scrolls the Piano Roll right.\nScroll Piano Roll Right"
}
