STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33136, 	"Ripple delete events. (Event List selection and highlight only)\nRipple Delete"
  33137, 	"Sets up the scroll command settings.\nScroll Options"
  33138, 	"Disables chord stamp.\nDisable Chord Stamp"
  33139, 	"Sets up chord stamps.\nChord Stamp Setup"
}
