STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33136, 	"Ripple Delete\nRipple Delete"
33137, 	"Customize Scrolling Amount\nCustomize Scrolling Amount"
33138, 	"No Chord\nNo Chord"
33139, 	"Customize Chords\nCustomize Chords"
}

