STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33136, 	"?????????????(?????????)?\n??(???)"
33137, 	"?????????????\n?????????"
33138, 	"?????????????????\n???????"
33139, 	"??????????????\n??????????"
}

