STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33260, 	"Event Graph 1 Onion Skin\nEvent Graph 1 Onion Skin"
33261, 	"Event Graph 1 Onion Skin\nEvent Graph 1 Onion Skin"
33262, 	"Quick Select Chord\nQuick Select Chord"
33263, 	"Increase by a factor of 10 the value of Tick, Gate or Step entered with the keyboard in the event list\nIncrease keyboard input magnitude"
}

