STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33264, 	"Decrease the value of Tick, Gate or Step received from MIDI IN by a factor of 10 in the Event List.\nDecrease Value Magnitude"
  33265, 	"Preview/play selected note event."
  33266, 	"Preview/play selected note event together with coinciding notes.\nPlay Chord"
  33267, 	"Increases Default Gate Quantization.\nIncrease Default Gate"
  33268, 	"Decreases Default Gate Quantization.\nDecrease Default Gate"
  33269, 	"Increases the default velocity value. (Amount is adjustable within the Preferences (Default Gate/Velocity) window)\nIncrease Default Velocity"
  33270, 	"Decreases the default velocity value. (Amount is adjustable within the Preferences (Default Gate/Velocity) window)\nDecrease Default Velocity"
  33271, 	"Sets up loop markers within the selection range.\nPlace Loop Markers"
  33272, 	"Removes loop markers.\nRemove Loop Markers"
  33273, 	"Stretches the note selection gate until the next note.\nLegato"
  33274, 	"Adds 100 points to a value (varies between columns).\n+ 100"
  33275, 	"Deducts 100 points from a value (varies between columns).\n- 100"
  33276, 	"Shows/hides the Function Key Bar.\nToggle Function Key Bar"
  33277, 	"Enables/Disables Event List Exclusive MIDI Input function\nToggle Event List Exclusive MIDI Input"
  33278, 	"Replaces note selection with the MIDI input information. (or hold [Shift] to toggle)\nEvent List MIDI Input: Replace Mode"
  33279, 	"Inserts MIDI input note to selection. (or hold [Alt] to toggle)\nEvent List MIDI Input: Insert Mode"
}
