STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33264, 	"Decrease by a factor of 10 the value of Tick, Gate or Step entered with the keyboard in the event list.\nIncrease keyboard input magnitude"
33265, 	"Send Note Event\nSend Note Event"
33266, 	"Send Synchronous Note Events (Chord)\nSend Synchronous Note Events (Chord)"
33267, 	"Increase Default Gate Value\nIncrease Default Gate Value"
33268, 	"Decrease Default Gate Value\nDecrease Default Gate Value"
33269, 	"Increase Default Velocity Value\nIncrease Default Velocity Value"
33270, 	"Decrease Default Velocity Value\nDecrease Default Velocity Value"
33271, 	"Create Loop Marker\nCreate Loop Marker"
33272, 	"Delete Loop Marker\nDelete Loop Marker"
33273, 	"Legato\nLegato"
33274, 	"Adds one large unit.\n Add one large unit"
33275, 	"Substracts one large unit.\n Substract one large unit"
33276, 	"Function Keys Bar\nFunction Keys Bar"
33277, 	"Enable/Disable Event List MIDI Input\nEvent List MIDI Input"
33278, 	"Event List MIDI Input - Replace mode (Shift key to temporarily switch to this mode when in another mode).\nReplace Mode"
33279, 	"Event List MIDI Input - Insert mode (Alt key to temporarily switch to this mode when in another mode).\nInsert Mode"
}

