STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33280, 	"???????MIDI??????????????(Ctrl+MIDI???????)?\n??"
33281, 	"???????????????\n??/??????"
33282, 	"MIDI?????Velocity??????????\nVelocity???ON/OFF????"
33283, 	"MIDI?????Note????????????\n????????ON/OFF????"
33284, 	"????????/???????????\n???????????"
33285, 	"??????????????????????????????????????????\n?????????"
33286, 	"???????????????????????\n????????????"
33288, 	"???????????????????????\n????????????"
33289, 	"?????????????????????????????????????????????????????\n??????&????"
33290, 	"???????????????????????(?????????)?\n????(???)"
33291, 	"???????????(?????????)?\n????????"
33292, 	"???????????(?????????)?\n????????"
33293, 	"????????????????????????????????\n????/???????????"
33294, 	"?????????????(???ID)?????????????????????\n?????????????"
33295, 	"????????????????Gate??????????\n?????Gate???"
}

