STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33280, 	"Event List MIDI Input - Addition Mode (Ctrl key to temporarily switch to this mode when in another mode).\nAddition Mode"
33281, 	"Event List MIDI Input Mono Mode - OFF : Input chords - ON : Treat chords as successive notes\nMono"
33282, 	"Event List MIDI Input - Velocity reflection.\nReflect Velocity"
33283, 	"Event List MIDI Input - Pitch reflection.\nReflect Pitch"
33284, 	"Event List MIDI Input Toolbar\nEvent List MIDI Input Toolbar"
33285, 	"イベントリストのカーソルもしくは演奏線がある小節のみを一時的にソロループ演奏します。\n小節ソロループ演奏"
33286, 	"演奏位置をループマーカー開始位置へ移動します。\nループマーカー開始位置へ"
33288, 	"演奏位置をループマーカー終了位置へ移動します。\nループマーカー終了位置へ"
33289, 	"指定トラックのノートイベントの間隔からテンポを算出し、テンポイベント挿入およびイベント位置の補正をします。\nタップテンポ＆フィット"
33290, 	"選択範囲を切り取ってクリップボードに保存します（イベントリストのみ）。\n切り取り(詰める)"
33291, 	"次の小節まで選択します（イベントリスト専用）。\n次の小節まで選択"
33292, 	"前の小節まで選択します（イベントリスト専用）。\n前の小節まで選択"
33293, 	"トラックモニターバーおよび演奏モニターバーの各値を初期化します。\nトラック/演奏モニターをリセット"
33294, 	"特定のコントロールチェンジ（マクロID）を別のコントロールチェンジに置き換えます。\nコントロールチェンジの置換"
33295, 	"クォンタイズ変更時に、デフォルトGateも同時に変更します。\nデフォルトGateと連動"
}

