STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33280, 	"Appends MIDI input note to the selection. (or hold [Ctrl] to toggle)\nEvent List MIDI Input: Append Mode"
  33281, 	"Processes one note at a time.\nEvent List MIDI Input: Toggle Chord/Single-note Conversion"
  33282, 	"Mirrors velocity from MIDI input.\nEvent List MIDI Input: Toggle Velocity Conversion"
  33283, 	"Mirrors note(s) from MIDI input.\nEvent List MIDI Input: Toggle Note Property Conversion"
  33284, 	"Shows/hides this toolbar.\nToggle Toolbar"
  33285, 	"Starts looping playback on current measure.\nLoop Measure"
  33286, 	"Moves the playhead to the beginning of loop marker.\ngo to Beginning of marker"
  33288, 	"Moves the playhead to the end of loop marker.\ngo to End of marker"
  33289, 	"Calculates tempo from a percussive track, then fixes tempo event position and note arrangement.\nTempo Tap && Fit"
  33290, 	"Ripple cuts the selection range and saves it to clipboard. (Event List selection and highlight only)\nRipple Cut"
  33291, 	"Selects events from the current selection until the next bar or measure.\nFrom current to next bar"
  33292, 	"Selects events from the current selection until the previous bar or measure.\nFrom current to previous bar"
  33293, 	"Resets the Track Monitor Bar and Playback Monitor Bar to initial values.\nReset Playback Monitor"
  33294, 	"Replaces selected Control Change events.\nReplace CC#"
  33295, 	"Synchronizes current quantization to Default Gate quantization.\nLink to Note Gate"
}
