STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33296, 	"????????????????????????\n??????????????????"
33297, 	"???????????????????\n??(???)"
33298, 	"??????????????????\n?"
33299, 	"??????????????????\n?"
33300, 	"??????????????????\n?"
33301, 	"??????????????????\n?"
33302, 	"??????????????????\n?"
33303, 	"??????????????????\n?"
33304, 	"??????????????????\n?"
33305, 	"???????????????\n?????????"
33306, 	"???????????????\n?????????"
33308, 	"???????CC????????????????1???????\n??????????1???"
33309, 	"???????CC????????????????2???????\n??????????2???"
33310, 	"????????????????????\n??????????"
33311, 	"???????????????????\n???????????"
}

