STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33296, 	"Overlays tracks of the same color.\nOverlay Similar Track Color"
  33297, 	"Automatically colors the track.\nAuto-color"
  33298, 	"Sets the current track's onion skin color to Red.\nRed"
  33299, 	"Sets the current track's onion skin color to Orange.\nOrange"
  33300, 	"Sets the current track's onion skin color to Yellow.\nYellow"
  33301, 	"Sets the current track's onion skin color to Green.\nGreen"
  33302, 	"Sets the current track's onion skin color to Blue/Cyan.\nWater"
  33303, 	"Sets the current track's onion skin color to Violet.\nViolet"
  33304, 	"Sets the current track's onion skin color to Purple.\nPurple"
  33305, 	"Shows the next track of the same color.\nNext of the same color"
  33306, 	"Shows the previous track of the same color.\nPrevious of the same color"
  33308, 	"Shows the selected CC event in the Graph Panel 1.\nView on Graph Panel 1"
  33309, 	"Shows the selected CC event in the Graph Panel 2.\nView on Graph Panel 2"
  33310, 	"Imports preferences configuration from specified file (.dmc).\nImport Preferences"
  33311, 	"Exports preferences configuration as a file (.dmc) to a specified location.\nExport Preferences"
}
