STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33296, 	"ピアノロールに同じ色のトラックを薄く表示します。\nピアノロールに同じ色のトラックを表示"
33297, 	"オニオンスキンの色を自動に変更します。\n自動（未指定）"
33298, 	"オニオンスキンの色を赤に変更します。\n赤"
33299, 	"オニオンスキンの色を橙に変更します。\n橙"
33300, 	"オニオンスキンの色を黄に変更します。\n黄"
33301, 	"オニオンスキンの色を緑に変更します。\n緑"
33302, 	"オニオンスキンの色を水に変更します。\n水"
33303, 	"オニオンスキンの色を紫に変更します。\n紫"
33304, 	"オニオンスキンの色を桃に変更します。\n桃"
33305, 	"次の同色トラックを表示します。\n次の同色トラックへ"
33306, 	"前の同色トラックを表示します。\n前の同色トラックへ"
33308, 	"カーソル位置のCCイベントを、イベントグラフペイン1で表示します。\nイベントグラフペイン1で表示"
33309, 	"カーソル位置のCCイベントを、イベントグラフペイン2で表示します。\nイベントグラフペイン2で表示"
33310, 	"ファイルから環境設定をインポートします。\n環境設定のインポート"
33311, 	"環境設定情報をファイルへ書き出します。\n環境設定のエクスポート"
}

