STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33313, 	"重複しているノートのGateを重複しないように一括補正します。\n重複ノートのGate一括補正"
33314, 	"指定した小節と同等の演奏を行うメジャーリンクイベントを挿入します。\nメジャーリンク"
33315, 	"選択されたメジャーリンクイベントを、リンク先の小節の内容に置き換えます。\nメジャーリンクイベントの復元"
33316, 	"メジャーリンクイベントの表示/非表示を切り替えます。\nイベントリストフィルター : メジャーリンクイベント"
33317, 	"特定のコントロールチェンジ（マクロID）を別のコントロールチェンジに置き換えます。\nコントロールチェンジの置換（複数）"
33318, 	"クリップボードの内容を置換貼り付けします。\n置換貼り付け"
33319, 	"イベントグラフ2の可能な操作を、アンカー上下移動のみにします。\nイベントグラフペイン2のアンカー上下移動のみ"
33320, 	"イベントグラフ1の可能な操作を、アンカー上下移動のみにします。\nイベントグラフペイン1のアンカー上下移動のみ"
33321, 	"選択された範囲を部分的にファイルへ書き出します。\nパーツ書き出し"
33322, 	"パーツファイルを開き、貼り付けます。\nパーツ読み込み"
33323, 	"標準MIDI形式(*.mid)でファイルを書き出します（上書きします）。\nSMF書き出しの再実行"
33324, 	"選択された範囲でノートの左右を反転させます。\n左右反転"
33325, 	"選択されたノートにおいて、ベロシティのしきい値より上側または下側のばらつきを圧縮します。\nベロシティコンプレッサ"
33326, 	"演奏位置をクォンタイズ単位で前へ移動します。\nクォンタイズ単位で前へ"
33327, 	"演奏位置をクォンタイズ単位で次へ移動します。\nクォンタイズ単位で次へ"
}

