STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33313, 	"Fixes note gates which are on top of another.\nFix Gate Overlaps"
  33314, 	"Inserts a Measure Link event which mirrors the same content from the specified measure.\nInsert Measure Link"
  33315, 	"Appends the contents of the linked measure to the selected measure link event range.\nApply Measure Link Event(s)"
  33316, 	"Filters measure links.\nFilter Measure Links"
  33317, 	"Replaces multiple Control Change with another.\nReplace Control Change(s)"
  33318, 	"Ripple replaces from clipboard content.\nRipple Replace"
  33319, 	"Locks horizontal movement of anchors within the Graph Panel 2.\nGraph Panel 2: Up and Down Anchor Only"
  33320, 	"Locks horizontal movement of anchors within the Graph Panel 1.\nGraph Panel 1: Up and Down Anchor Only"
  33321, 	"Exports highlighted events as a separate file to a specified location.\nExport highlighted events"
  33322, 	"Opens specified Domino Part file then pastes its content to the current project\nImport events"
  33323, 	"Exports and overwrites as a MIDI file to the current project's SMF location.\nSave MIDI"
  33324, 	"Flips selected notes horizontally.\nFlip"
  33325, 	"Compresses velocity values of the selected notes and scales its upper/lower ratio and threshold.\nVelocity Compressor"
  33326, 	"Moves the playhead one step backward relative to current quantization.\nto One quantized space backward"
  33327, 	"Moves the playhead one step forward relative to current quantization.\nto One quantized space forward"
}
