STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
33313, 	"??????????Gate?????????????????\n??????Gate????"
33314, 	"?????????????????????????????????\n???????"
33315, 	"????????????????????????????????????\n??????????????"
33316, 	"??????????????/???????????\n???????????? : ???????????"
33317, 	"?????????????(???ID)?????????????????????\n?????????????(??)"
33318, 	"?????????????????????\n??????"
33319, 	"???????2???????????????????????\n??????????2???????????"
33320, 	"???????1???????????????????????\n??????????1???????????"
33321, 	"????????????????????????\n???????"
33322, 	"??????????????????\n???????"
33323, 	"??MIDI??(*.mid)????????????(??????)?\nSMF????????"
33324, 	"??????????????????????\n????"
33325, 	"????????????????????????????????????????????\n???????????"
33326, 	"??????????????????????\n???????????"
33327, 	"??????????????????????\n???????????"
}

