STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33328, 	"Capture patterns from specified measure or slice another measure's note arrangement using patterns.\nPattern Slice"
  33329, 	"Connects selected note events on the same key regardless of distance between each other.\nMerge"
  33330, 	"Stops all incoming sounds from each port. Used when the sounds are not stopping.\nPanic"
  33331, 	"Enables rectangular selections freely within the Graph Panel 1.\nGraph Panel 1: Enable rectangular selection"
  33332, 	"Enables rectangular selections freely within the Graph Panel 2.\nGraph Panel 2: Enable rectangular selection"
  33333, 	"Automatically page break during playback. Page break behaviour can be modified in the Preferences (Piano Roll (pg. 2)) window.\nAuto-scroll on playback"
  33334, 	"Removes all entries from the Output Panel.\nClear"
  33335, 	"Inserts a Scale event. (Conductor Track only)\nInsert Scale"
  33336, 	"Inserts a Chord event. (Conductor Track only)\nInsert Chord"
  33337, 	"Graphs an S-shaped curved within the Graph Panel.\nS Curve"
  33338, 	"Expands or contracts the selected event's time(Tick and Gate).\nStretch"
  33339, 	"Prioritizes loop playback on current selection.\nToggle Selection Loop"
  33340, 	"Sets up the playhead position.\nMove Playhead To"
  33341, 	"Moves playhead to the next marker.\nto Next Mark"
  33342, 	"Moves playhead to the previous marker.\nto Previous Mark"
  33343, 	"Sets up multiple lines of specified lyrics.\nLyric Bucket"
}
