STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
33328, 	"指定した小節からパターンを取り込み、他の小節のノートを分断します。\nパターンスライス"
33329, 	"選択されたノートイベントで同じ音階の音を（離れていても）繋げます。\n結合"
33330, 	"全ポートの音を止めます。音が鳴りやまない場合にお使いください。\nパニック"
33331, 	"イベントグラフ1を矩形で選択できるようにします。\nイベントグラフ1　矩形選択"
33332, 	"イベントグラフ2を矩形で選択できるようにします。\nイベントグラフ2　矩形選択"
33333, 	"演奏中に自動で改ページ（横スクロール）を行います。行う条件は環境設定で変更できます。\n演奏中にピアノロールを自動で改ページする"
33334, 	"アウトプットペインの内容をすべて削除します。\nクリア"
33335, 	"スケールをコンダクタートラックへ挿入します（小節単位）。\nスケール"
33336, 	"コードをコンダクタートラックへ挿入します（小節単位）。\nコード"
33337, 	"イベントグラフペインにS字曲線データを書き込みます。\nS字曲線"
33338, 	"選択されたイベントの時間（Tick・Gate）を伸ばしたり縮めたりします。\nタイムストレッチ"
33339, 	"ループ範囲として、ループマーカーよりも選択範囲を優先します。\nループ範囲を選択範囲優先にする"
33340, 	"演奏位置とカレントトラックを指定します。\n演奏位置の指定"
33341, 	"次のマークへ演奏位置を移動します。\n次のマークへ"
33342, 	"前のマークへ演奏位置を移動します。\n前のマークへ"
33343, 	"テキストとして用意された歌詞を一気に流し込みます。\n歌詞の流し込み"
}

