STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
33344, 	"???????????????????????????????????????????\n?????????"
33345, 	"??????????Vel/Value? 1 ?????(?????????????????)?\n???????"
33346, 	"??????????Vel/Value?? 1 ?????(?????????????????)?\n??????"
33347, 	"??????????Vel/Value? 10 ?????(?????????????????)?\n???????"
33348, 	"??????????Vel/Value?? 10 ?????(?????????????????)?\n??????"
33349, 	"??????????Vel/Value? 100 ?????(?????????????????)?\n???????"
33350, 	"??????????Vel/Value?? 100 ?????(?????????????????)?\n??????"
33351, 	"?????????/???????????\n???????????? : ??????"
33352, 	"?????????/???????????\n???????????? : ??????"
33353, 	"???????????/???????????\n???????????? : ????????"
33354, 	"??????????/???????????\n???????????? : ???????"
33355, 	"??????????/???????????\n???????????? : ???????"
33356, 	"??????????\n??????"
33357, 	"??????????\n??????"
33358, 	"???????????????????\n??"
33359, 	"???????????????????????\n?????? - ??"
}

