STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
  33344, 	"Generates harmonic parts based on the current key scale to the current track's note selection.\nHarmonize"
  33345, 	"Add 1 point to the highlighted event's Velocity/Value.\n+ 1"
  33346, 	"Subtract 1 point from the highlighted event's Velocity/Value.\n- 1"
  33347, 	"Add 10 points to the highlighted event's Velocity/Value.\n+ 10"
  33348, 	"Subtract 10 points from the highlighted event's Velocity/Value.\n- 10"
  33349, 	"Add 100 points to the highlighted event's Velocity/Value.\n+ 100"
  33350, 	"Subtract 100 points from the highlighted event's Velocity/Value.\n- 100"
  33351, 	"Filters time signatures.\nFilter Time Signatures"
  33352, 	"Filters key signatures.\nFilter Key Signatures"
  33353, 	"Filters key scales.\nFilter Key Scales"
  33354, 	"Filters chord events.\nFilter Chord Events"
  33355, 	"Filters markers.\nFilter Markers"
  33356, 	"Edits the marker label.\nEdit Marker"
  33357, 	"Deletes this marker.\nDelete Marker"
  33358, 	"Find events that meet the following conditions.\nFind"
  33359, 	"Switches quantization to Bar.\nQuantization: Bar"
} 
