STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
57600, 	"Create a new document\nNew"
57601, 	"Open an existing document\nOpen"
57603, 	"Save the active document\nSave"
57604, 	"Save the active document with a new name\nSave As"
}

