STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
57632, 	"???????\n??"
57633, 	"?????\n?????"
57634, 	"???????????????????\n???"
57635, 	"????????????????????????\n????"
57636, 	"??????????\n??"
57637, 	"??????????????????\n????"
57640, 	"?????????????\n????"
57641, 	"????????????????\n??"
57642, 	"?????????\n????"
57643, 	"????????????????\n????"
57644, 	"???????????????\n????"
}

