STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
61184, 	"??????????????"
61185, 	"????????????"
61186, 	"????????????"
61187, 	"????????????"
61188, 	"??????????????"
61189, 	"??????????????"
61190, 	"????????????????????????????"
}

