STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
61696, 	"Invalid file name."
61697, 	"Failed to open document."
61698, 	"Failed to save document."
61699, 	"Save changes to %1?"
61700, 	"Failed to create empty document."
61701, 	"The file is too large to open."
61702, 	"Could not start print job."
61703, 	"Failed to launch help."
61704, 	"Internal application error."
61705, 	"Command failed."
61706, 	"Insufficient memory to perform operation."
61707, 	"System registry entries have been removed and the INI file (if any) was deleted."
61708, 	"Not all of the system registry entries (or INI file) were removed."
61709, 	"This program requires the file %s, which was not found on this system."
61710, 	"This program is linked to the missing export %s in the file %s. This machine may have an incompatible version of %s."
}

