STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
61696, 	"???????????"
61697, 	"????????????????????"
61698, 	"??????????????????"
61699, 	"%1 ????????????"
61700, 	"????????????????????"
61701, 	"????????????????"
61702, 	"???????????????????"
61703, 	"???????????????"
61704, 	"??????????????????"
61705, 	"????????????????"
61706, 	"????????????????"
61707, 	"???? ?????? ?????????????????INI ???????????INI ?????????????"
61708, 	"??????? ?????? ???? (??? INI ????) ????????????"
61709, 	"??????????????? %s ?????????????????????????"
61710, 	"??????????????????? %s ????? %s ???????????????????????????????????? %s ???????????????"
}

