STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
61712, 	"????????????"
61713, 	"????????????"
61714, 	"%1 ?? %2 ???????????????"
61715, 	"%1 ?? %2 ???????????????"
61716, 	"%1 ??????????????"
61717, 	"??????????????"
61718, 	"0 ?? 255 ???????????????"
61719, 	"??????????????"
61720, 	"??/????????????"
61721, 	"?????????????"
}

