STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
61712, 	"Please enter an integer."
61713, 	"Please enter a number."
61714, 	"Please enter an integer between %1 and %2."
61715, 	"Please enter a number between %1 and %2."
61716, 	"Please enter no more than %1 characters."
61717, 	"Please select a button."
61718, 	"Please enter an integer between 0 and 255."
61719, 	"Please enter a positive integer."
61720, 	"Please enter a date and/or time."
61721, 	"Please enter a currency."
}

