STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
61728, 	"??????????????"
61729, 	"%1\n???????????????\n?????????????????????????"
61730, 	"????????? ????????????????????"
61731, 	"%1 ????????????????"
61732, 	"%1 ?????????????????????????"
61733, 	"%1 ???????????????????????"
61734, 	"%1 ???????????????????????"
}

