STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
61728, 	"Unexpected file format."
61729, 	"%1\nCannot find this file.\nPlease verify that the correct path and file name are given."
61730, 	"Destination disk drive is full."
61731, 	"Unable to read from %1, as it is opened by someone else."
61732, 	"Unable to write to %1, as it is read-only or opened by someone else."
61733, 	"An unexpected error occurred while reading %1."
61734, 	"An unexpected error occurred while writing %1."
}

