STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
61856, 	"?????????????"
61857, 	"%1 ??????????????????????"
61858, 	"%1 ????????????"
61859, 	"%1 ?????????????????"
61860, 	"?????????????????%1 ??????????"
61861, 	"%1 ???????????????"
61862, 	"%1 ???????? ??????????????????"
61863, 	"?????????? %1 ????????????"
61864, 	"%1 ?????????????????????????????"
61865, 	"%1 ????????????"
61866, 	"%1 ??????????????? I/O ????????????"
61867, 	"%1 ????????????????????"
61868, 	"%1 ?????????????????????"
61869, 	"%1 ?????????????????????????"
61870, 	"%1 ???????????????????"
}

