STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
61856, 	"No error occurred."
61857, 	"An unknown error occurred while accessing %1."
61858, 	"%1 was not found."
61859, 	"%1 contains an invalid path."
61860, 	"%1 could not be opened because there are too many open files."
61861, 	"Access to %1 was denied."
61862, 	"An invalid file handle was associated with %1."
61863, 	"%1 could not be removed because it is the current directory."
61864, 	"%1 could not be created because the directory is full."
61865, 	"Seek failed on %1"
61866, 	"A hardware I/O error was reported while accessing %1."
61867, 	"A sharing violation occurred while accessing %1."
61868, 	"A locking violation occurred while accessing %1."
61869, 	"Disk full while accessing %1."
61870, 	"An attempt was made to access %1 past its end."
}

