STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
61872, 	"?????????????"
61873, 	"%1 ??????????????????????"
61874, 	"%1 ??????????????????"
61875, 	"%1 ???????????????????"
61876, 	"%1 ??????????????????"
61877, 	"%1 ?????????????"
61878, 	"%1 ??????????????????????"
61879, 	"%1 ????????????????"
}

