STRINGTABLE
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
61872, 	"No error occurred."
61873, 	"An unknown error occurred while accessing %1."
61874, 	"An attempt was made to write to the reading %1."
61875, 	"An attempt was made to access %1 past its end."
61876, 	"An attempt was made to read from the writing %1."
61877, 	"%1 has a bad format."
61878, 	"%1 contained an unexpected object."
61879, 	"%1 contains an incorrect schema."
}

