STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61712, 	"整数を入力してください。"
  61713, 	"数字を入力してください。"
  61714, 	"%1 から %2 までの整数を入力してください。"
  61715, 	"%1 から %2 までの数字を入力してください。"
  61716, 	"%1 文字以内で入力してください。"
  61717, 	"ボタンを選択してください。"
  61718, 	"0 から 255 までの整数を入力してください。"
  61719, 	"正の整数を入力してください。"
  61720, 	"日付/時刻を入力してください。"
  61721, 	"通貨型を入力してください。"
  61722, 	"GUID を入力してください。"
  61723, 	"時刻を入力してください。"
  61724, 	"日付を入力してください。"
}

