STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61856, 	"エラーはありませんでした。"
  61857, 	"%1 へのアクセス中に不明なエラーが発生しました。"
  61858, 	"%1 が見つかりませんでした。"
  61859, 	"%1 に正しくないパスが含まれています。"
  61860, 	"開いているファイルが多すぎるため、%1 を開けませんでした。"
  61861, 	"%1 へのアクセスは拒否されました。"
  61862, 	"正しくないファイル ハンドルが %1 に関連付けられていました。"
  61863, 	"現在のディレクトリ %1 は削除できませんでした。"
  61864, 	"%1 を作成できませんでした。そのディレクトリはいっぱいです。"
  61865, 	"%1 のシークに失敗しました。"
  61866, 	"%1 へのアクセス中にハードウェア I/O エラーが報告されました。"
  61867, 	"%1 へのアクセス中に共有違反が発生しました。"
  61868, 	"%1 へのアクセス中にロック違反が発生しました。"
  61869, 	"%1 へのアクセス中にディスクがいっぱいになりました。"
  61870, 	"%1 の末尾以降にアクセスしようとしました。"
}

