STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  61872, 	"エラーはありませんでした。"
  61873, 	"%1 へのアクセス中に不明なエラーが発生しました。"
  61874, 	"%1 の読み取り中に書き込もうとしました。"
  61875, 	"%1 の末尾以降にアクセスしようとしました。"
  61876, 	"%1 へ書き込み中に読み取ろうとしました。"
  61877, 	"%1 の形式が正しくありません。"
  61878, 	"%1 は予期しないオブジェクトを含んでいます。"
  61879, 	"%1 は不正なスキーマを含んでいます。"
}

