STRINGTABLE
LANGUAGE LANG_JAPANESE, 0x1
{
  62177, 	"オフ"
  62178, 	"オン"
  62179, 	"混合"
  62180, 	"1 つ以上の自動保存されたドキュメントが見つかりました。"
  62181, 	"これらのドキュメントは、現在開いているドキュメントより後に保存されています。また、アプリケーションの終了前に編集された変更内容も含まれています。"
  62182, 	"これらの自動保存されたドキュメントを復元しますか?"
  62183, 	"自動保存されたドキュメントを復元する場合、これらのドキュメントを手動で保存して元のドキュメントを上書きする必要があります。復元操作を実行しない場合、自動保存されたドキュメントは削除されます。"
  62184, 	"自動保存されたドキュメントを復元する\n手動で保存したドキュメントではなく、自動保存されたドキュメントを開きます。"
  62185, 	"自動保存されたドキュメントを復元しない\n最後に手動で保存したドキュメントを使用します。"
  62186, 	"%Ts [復元済み]"
}

