295 DIALOG 0, 0, 257, 200
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref event list pg 2"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Selection && playhead &synchronization: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 0, 144, 12 
   CONTROL "", 1389, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 145, 0, 110, 75 
   CONTROL "&Column border and fill: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 16, 144, 12 
   CONTROL "", 1390, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 145, 16, 110, 75 
   CONTROL "&Sort inserted notes: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 32, 144, 12 
   CONTROL "", 1391, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 145, 32, 110, 75 
   CONTROL "&Highlight events by pressing Shift + U/D: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 48, 144, 12 
   CONTROL "", 1392, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 145, 48, 110, 75 
   CONTROL "Scale &notation in Gate && Velocity column: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 64, 144, 12 
   CONTROL "", 1393, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 145, 64, 110, 75 
   CONTROL "Enter &key action while editing a value: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 80, 144, 12 
   CONTROL "", 1546, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 145, 80, 110, 75 
   CONTROL "&Outline the selected note event on the piano roll", 1330, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 112, 257, 10 
   CONTROL "&Focus on the event list on any key press (except for shortcut keys)", 1379, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 124, 257, 10 
   CONTROL "&Automatically insert a Rest event to the start of each measure if necessary", 1386, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 136, 257, 10 
   CONTROL "&Match key signature to the note's notation (#,b)", 1387, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 148, 257, 10 
   CONTROL "Insert note by pressing L/R arrow keys when the &End of Track event is selected", 1465, BUTTON, BS_CHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 0, 160, 257, 18 
   CONTROL "Interpret \"+\" as \"#\" and \"-\" as \"b\" in the event list of &a note event", 1579, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 180, 257, 10
}
