132 DIALOG 0, 0, 187, 68
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "ＭＳ Ｐゴシック"
{
   CONTROL "Tab1", 1018, "SysTabControl32", TCS_BUTTONS | TCS_HOTTRACK | TCS_OWNERDRAWFIXED | WS_CHILD | WS_VISIBLE, 50, 7, 80, 20 
}

