165 DIALOG 0, 0, 378, 277
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "リアルタイム録音"
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL "範囲", 1433, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 4, 159, 128 
   CONTROL "開始位置(&B) ", 1133, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 16, 55, 10 
   CONTROL "", 1134, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 27, 66, 14 
   CONTROL "Spin1", 1135, "msctls_updown32", UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 66, 27, 9, 14 
   CONTROL "", 1136, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 10, 42, 66, 83 
   CONTROL "終了位置(&E) ", 1137, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 90, 16, 54, 10 
   CONTROL "", 1138, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 90, 27, 66, 14 
   CONTROL "Spin1", 1139, "msctls_updown32", UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 146, 27, 9, 14 
   CONTROL "", 1140, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 90, 42, 66, 83 
   CONTROL "オプション", 1442, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 135, 159, 104 
   CONTROL "メトロノーム(&M) ", 1144, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 144, 58, 14 
   CONTROL "設定(&C)...", 1145, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 70, 144, 50, 14 
   CONTROL "入力と同時に録音開始(&I) ", 1148, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 161, 87, 10 
   CONTROL "即座に反映(&F) ", 1430, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 100, 161, 57, 10 
   CONTROL "テンポ(&T) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 24, 174, 46, 14 
   CONTROL "", 1146, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 174, 40, 14 
   CONTROL "Spin3", 1147, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 100, 174, 9, 14 
   CONTROL "％", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 112, 174, 13, 14 
   CONTROL "開始位置補正(&G) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 190, 64, 14 
   CONTROL "", 1142, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 70, 190, 40, 14 
   CONTROL "Spin1", 1143, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 100, 190, 9, 14 
   CONTROL "小節前から", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 112, 190, 38, 14 
   CONTROL "録音モード(&D) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 205, 64, 14 
   CONTROL "", 1345, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 70, 206, 58, 73 
   CONTROL "設定...", 1346, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 130, 205, 27, 14 
   CONTROL "Tickクォンタイズ(&Q) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 221, 64, 14 
   CONTROL "", 1347, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 70, 221, 70, 162 
   CONTROL "ループ(&L)", 1339, BUTTON, BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 243, 50, 14 
   CONTROL "設定(&N)...", 1336, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 59, 243, 50, 14 
   CONTROL "PCキーボード", 1337, BUTTON, BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 113, 243, 50, 14 
   CONTROL "開始(&R)", 1141, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 4, 259, 50, 14 
   CONTROL "再生(&P)", 1113, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 59, 259, 50, 14 
   CONTROL "停止(&S)", 1114, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 113, 259, 50, 14 
   CONTROL "Velocity(&V) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 184, 4, 45, 14 
   CONTROL "", 1043, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 4, 40, 14 
   CONTROL "Spin1", 1023, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 259, 4, 9, 14 
   CONTROL "", 1338, STATIC, SS_ETCHEDVERT | WS_CHILD | WS_VISIBLE, 167, 4, 1, 271 
   CONTROL "", 1184, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 173, 39, 201, 88 
   CONTROL "オクターブ(&O) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 184, 20, 45, 14 
   CONTROL "", 1044, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 20, 40, 14 
   CONTROL "Spin1", 1024, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 259, 20, 9, 14 
}

