285 DIALOG 0, 0, 257, 200
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL "Tree1", 1322, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 90, 10, 120, 185 
   CONTROL "", 1045, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 0, 10, 85, 65 
   CONTROL "ポップアップの種類(&K)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 65, 8 
   CONTROL "ポップアップ　プレビュー(&P)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 90, 0, 85, 8 
   CONTROL "編集", 1026, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 215, 10, 40, 14 
}

