310 DIALOG 0, 0, 225, 230
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "選択範囲の絞り込み コントロールチェンジ詳細設定"
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 7, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 25, 50, 14 
   CONTROL "コントロールチェンジ詳細設定", 1328, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 155, 216 
   CONTROL "Tree1", 1314, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 33, 140, 166 
   CONTROL "すべて解除(&R)", 1120, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 104, 201, 50, 14 
   CONTROL "個別に指定する(&D)", 1453, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 22, 136, 10 
}

