100 DIALOG 0, 0, 235, 64
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL 128, -1, STATIC, SS_ICON | WS_CHILD | WS_VISIBLE, 11, 22, 20, 20 
   CONTROL "Domino - MIDI/Music Editor", -1, STATIC, SS_LEFT | SS_NOPREFIX | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 9, 119, 9 
   CONTROL "Copyright Text", 1001, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 38, 148, 17 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 178, 7, 50, 14 
   CONTROL "Version Text", 1000, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 40, 24, 120, 9 
}
