131 DIALOG 0, 0, 187, 68
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "+", -32595, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 7, 14, 15 
   CONTROL "Tab1", 1008, "SysTabControl32", TCS_BUTTONS | TCS_HOTTRACK | WS_CHILD | WS_VISIBLE, 50, 7, 80, 20 
}

