132 DIALOG 0, 0, 187, 68
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Tab1", 1018, "SysTabControl32", TCS_BUTTONS | TCS_HOTTRACK | TCS_OWNERDRAWFIXED | WS_CHILD | WS_VISIBLE, 50, 7, 80, 20 
}

