133 DIALOG 0, 0, 393, 255
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Preferences"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 281, 234, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 336, 234, 50, 14 
   CONTROL "Tree1", 1007, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 7, 108, 220 
   CONTROL "", 1008, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 121, 7, 265, 14 
   CONTROL "", 1009, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 124, 27, 262, 200 
}
