136 DIALOG 0, 0, 257, 199
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref general pg 1"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "&Timebase format: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 65528, 0, 155, 12 
   CONTROL "", 1262, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 147, 0, 109, 74 
   CONTROL "Mi&ddle Octave: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 65528, 16, 155, 12 
   CONTROL "", 1264, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 147, 16, 109, 74 
   CONTROL "Act&ion on overlapping gates: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 65528, 32, 155, 12 
   CONTROL "", 1263, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 147, 32, 109, 74 
   CONTROL "&Slice/Trim Gate Threshold: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 65528, 49, 155, 12 
   CONTROL "", 1302, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 147, 49, 27, 12 
   CONTROL "Spin1", 1303, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 165, 49, 10, 12 
   CONTROL "percent (%)", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 177, 48, 39, 14 
   CONTROL "Track S&election Panel position: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 65528, 64, 155, 12 
   CONTROL "", 1329, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 147, 64, 109, 114 
   CONTROL "Slider &depth: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 65531, 80, 83, 12 
   CONTROL "", 1300, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 78, 80, 41, 71 
   CONTROL "Program Cha&nge # range: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 125, 80, 84, 12 
   CONTROL "", 1304, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 209, 80, 47, 51 
   CONTROL "Slide&r on playback stop: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 65528, 97, 155, 12 
   CONTROL "", 1305, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 147, 97, 109, 71 
   CONTROL "S&lider on Solo Track playback stop: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE, 65529, 114, 154, 12 
   CONTROL "", 1306, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 147, 114, 109, 71 
   CONTROL "Slider on playback resumption (from &pausing): ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 65530, 131, 153, 12 
   CONTROL "", 1307, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 147, 131, 109, 71 
   CONTROL "Marker Bar list &format: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 9, 147, 138, 12 
   CONTROL "", 1308, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 147, 147, 109, 71 
   CONTROL "Prevent &multiple instances of this program", 1392, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 167, 139, 10 
   CONTROL "Aut&omatically show Output Panel", 1298, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 179, 111, 10 
}

