137 DIALOG 0, 0, 143, 137
STYLE DS_SETFONT | WS_POPUP | WS_CLIPCHILDREN | WS_THICKFRAME
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "List1", 1016, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 25, 110, 85 
}

