138 DIALOG 0, 0, 143, 137
STYLE DS_SETFONT | WS_POPUP | WS_CLIPCHILDREN | WS_THICKFRAME
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Tree1", 1017, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 39, 60, 50 
}

