150 DIALOG 0, 0, 295, 319
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Program Change Event Properties"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 184, 298, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 238, 298, 50, 14 
   CONTROL "Preview (Left-click on the keys to play. Right-click to set the note preview.) ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 281, 8 
   CONTROL "", 1062, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 7, 16, 281, 37 
   CONTROL "Automatically preview on selection", 1050, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 55, 126, 10 
   CONTROL "", 1051, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 137, 55, 151, 8 
   CONTROL "Gate:  ", 1070, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 68, 39, 14 
   CONTROL "", 1021, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 65, 68, 40, 14 
   CONTROL "Spin1", 1022, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 95, 68, 9, 14 
   CONTROL "ms", 1249, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 68, 15, 14 
   CONTROL "Apply", 1331, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 68, 50, 14 
   CONTROL "Velocity:  ", 1332, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 179, 68, 50, 14 
   CONTROL "", 1043, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 229, 68, 40, 14 
   CONTROL "Spin1", 1023, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 259, 68, 9, 14 
   CONTROL "Settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 85, 281, 205 
   CONTROL "Mode: ", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 100, 26, 10 
   CONTROL "Patch list", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 45, 100, 50, 10 
   CONTROL "Drum set list", 1055, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 101, 100, 71, 10 
   CONTROL "Update Track Properties", 1105, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 177, 100, 102, 10 
   CONTROL "Macro:  ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 116, 33, 8 
   CONTROL "", 1056, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 15, 126, 85, 136 
   CONTROL "Program Change #:  ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 105, 116, 83, 8 
   CONTROL "", 1057, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 105, 126, 85, 136 
   CONTROL "Bank:  ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 195, 116, 34, 8 
   CONTROL "", 1058, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 195, 126, 85, 136 
   CONTROL "Search:  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 268, 34, 14 
   CONTROL "", 1060, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 49, 268, 84, 14 
   CONTROL "↓", 1059, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 135, 267, 16, 16 
   CONTROL "↑", 1061, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 151, 267, 16, 16 
   CONTROL "Show MSB/LSB", 1289, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 267, 85, 16 
}
