151 DIALOGEX 0, 0, 315, 373
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Control Change Event Properties"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Value:", 1069, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 21, 34, 8 
   CONTROL "(65535 - 65535)", 1068, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 210, 21, 89, 8 
   CONTROL "", 1064, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 171, 30, 128, 14 
   CONTROL "Spin1", 1218, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 289, 30, 10, 14 
   CONTROL "", 1065, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 171, 44, 111, 78 
   CONTROL "VK", 1072, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 283, 45, 16, 16 
   CONTROL "Gate:", 1070, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 171, 135, 34, 8 
   CONTROL "range", 1071, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 210, 135, 89, 8 
   CONTROL "", 1021, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 171, 144, 128, 14 
   CONTROL "Spin1", 1022, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 289, 144, 9, 14 
   CONTROL "", 1044, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 171, 158, 111, 78 
   CONTROL "GK", 1073, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 283, 159, 16, 16 
   CONTROL "Options", 1284, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 301, 284 
   CONTROL "Macro: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 21, 146, 8 
   CONTROL "Tree1", 1063, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 15, 30, 147, 206 
   CONTROL "", 1074, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 15, 237, 284, 34 
   CONTROL "Test", 1039, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 352, 50, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 352, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 258, 352, 50, 14 
   CONTROL "Auto preview", 1281, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 352, 54, 14 
   CONTROL "Show monitor", 1282, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 120, 352, 59, 14 
   CONTROL "Monitor:", 1285, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 297, 94, 8 
   CONTROL "", 1283, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_READONLY | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 307, 301, 37 
   CONTROL "Reset project's Gate && velocity/value values when selecting new Control Change", 1290, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 273, 279, 10 
}
