153 DIALOG 0, 0, 263, 223
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Stroke"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Direction", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 27, 142, 121 
   CONTROL "↑ (Low to High)", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 42, 116, 10 
   CONTROL "↓ (High to Low)", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 56, 105, 10 
   CONTROL "↑↓↑↓", 1055, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 70, 96, 10 
   CONTROL "↓↑↓↑", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 84, 115, 10 
   CONTROL "Custom", 1077, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 98, 100, 10 
   CONTROL "", 1078, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 25, 110, 116, 14 
   CONTROL "↑", 1079, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 126, 26, 14 
   CONTROL "↓", 1080, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 126, 26, 14 
   CONTROL "Clear", 1081, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 126, 26, 14 
   CONTROL "Step value", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 155, 27, 102, 121 
   CONTROL "Fixed value", 1082, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 42, 76, 10 
   CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 174, 53, 40, 14 
   CONTROL "Spin1", 1085, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 204, 53, 9, 14 
   CONTROL "Velocity-based", 1083, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 163, 75, 85, 10 
   CONTROL "Velocity = 1", 1086, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 174, 90, 64, 8 
   CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 174, 99, 40, 14 
   CONTROL "Spin2", 1088, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 204, 99, 9, 14 
   CONTROL "Velocity = 127", 1089, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 174, 116, 78, 8 
   CONTROL "", 1090, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 174, 125, 40, 14 
   CONTROL "Spin2", 1091, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 204, 125, 9, 14 
   CONTROL "Other", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 153, 250, 42 
   CONTROL "Lock note end positions", 1241, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 165, 141, 10 
   CONTROL "Apply linear &Velocity graph in stroke direction", 1308, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 177, 159, 10 
   CONTROL "Amount: ", 1309, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 178, 31, 8 
   CONTROL "", 1092, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 206, 175, 40, 14 
   CONTROL "Spin2", 1093, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 236, 175, 9, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 202, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 206, 202, 50, 14 
   CONTROL "Preview", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 202, 50, 14 
   CONTROL "Stop", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 202, 50, 14 
   CONTROL "Presets:  ", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 8, 43, 12 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 8, 114, 191 
   CONTROL "S", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 6, 16, 15 
   CONTROL "D", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 6, 16, 15 
}
