153 DIALOG 0, 0, 263, 223
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ストローク"
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL "ストローク方向", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 27, 142, 121 
   CONTROL "↑・・・低音から高音へ(&D)", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 42, 116, 10 
   CONTROL "↓・・・高音から低音へ(&U)", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 56, 105, 10 
   CONTROL "↑↓↑↓・・・(&Q)", 1055, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 70, 96, 10 
   CONTROL "↓↑↓↑・・・(&A)", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 84, 115, 10 
   CONTROL "カスタム(&C)", 1077, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 98, 100, 10 
   CONTROL "", 1078, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 25, 110, 116, 14 
   CONTROL "↑", 1079, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 25, 126, 26, 14 
   CONTROL "↓", 1080, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 126, 26, 14 
   CONTROL "クリア", 1081, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 115, 126, 26, 14 
   CONTROL "Step値", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 155, 27, 102, 121 
   CONTROL "固定値(&F)", 1082, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 42, 76, 10 
   CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 174, 53, 40, 14 
   CONTROL "Spin1", 1085, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 222, 54, 9, 14 
   CONTROL "ベロシティから算出", 1083, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 163, 75, 85, 10 
   CONTROL "Velocity=1のStep値(&I)", 1086, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 174, 90, 64, 8 
   CONTROL "", 1087, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 174, 99, 40, 14 
   CONTROL "Spin2", 1088, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 219, 99, 9, 14 
   CONTROL "Velocity=127のStep値(&L)", 1089, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 174, 116, 78, 8 
   CONTROL "", 1090, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 174, 125, 40, 14 
   CONTROL "Spin2", 1091, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 219, 125, 9, 14 
   CONTROL "その他", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 153, 250, 42 
   CONTROL "消音位置を固定する(&G)", 1241, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 165, 141, 10 
   CONTROL "ストローク方向順にベロシティを徐々に増減させる(&V)", 1308, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 177, 159, 10 
   CONTROL "増減量 :  ", 1309, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 175, 178, 31, 8 
   CONTROL "", 1092, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 206, 175, 40, 14 
   CONTROL "Spin2", 1093, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 239, 172, 9, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 152, 202, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 206, 202, 50, 14 
   CONTROL "試聴(&P)", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 202, 50, 14 
   CONTROL "試聴解除", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 202, 50, 14 
   CONTROL "プリセット(&S) :  ", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 8, 43, 12 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 8, 114, 191 
   CONTROL "S", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 6, 16, 15 
   CONTROL "D", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 6, 16, 15 
}

