154 DIALOG 0, 0, 235, 139
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "一括変更"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "設定", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 143, 104 
   CONTROL "Velocity/Value(&V) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 20, 67, 14 
   CONTROL "", 1064, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 20, 62, 14 
   CONTROL "Step(&S) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 37, 65, 14 
   CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 37, 62, 14 
   CONTROL "Gate(&G) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 54, 65, 14 
   CONTROL "", 1021, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 54, 62, 14 
   CONTROL "Note Number(&N) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 71, 65, 14 
   CONTROL "", 1066, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 71, 62, 14 
   CONTROL "Tick(&T) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 88, 65, 14 
   CONTROL "", 1019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 88, 62, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 118, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 118, 50, 14 
   CONTROL "n : 値を n にする", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 166, 22, 59, 8 
   CONTROL "n% : 値を n% にする", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 34, 59, 8 
   CONTROL "*n : 値に n を掛ける", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 46, 59, 8 
   CONTROL "/n : 値を n で割る", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 58, 59, 8 
   CONTROL "+n : 値に n を加える", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 70, 59, 8 
   CONTROL "-n : 値から n を引く", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 82, 59, 8 
   CONTROL "書式", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 154, 7, 75, 104 
   CONTROL "試聴(&P)", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 118, 50, 14 
   CONTROL "試聴解除", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 118, 50, 14 
}

