154 DIALOG 0, 0, 235, 139
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bulk Changes"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 143, 104 
   CONTROL "&Velocity/value: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 20, 65, 14 
   CONTROL "", 1064, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 20, 62, 14 
   CONTROL "&Step: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 37, 65, 14 
   CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 37, 62, 14 
   CONTROL "&Gate: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 54, 65, 14 
   CONTROL "", 1021, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 54, 62, 14 
   CONTROL "&Note Number: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 71, 65, 14 
   CONTROL "", 1066, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 71, 62, 14 
   CONTROL "&Tick: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 88, 65, 14 
   CONTROL "", 1019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 88, 62, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 118, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 118, 50, 14 
   CONTROL "n : value is n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 166, 22, 59, 8 
   CONTROL "n% : value is n%", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 34, 59, 8 
   CONTROL "*n : multiply by n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 46, 59, 8 
   CONTROL "/n : divide by n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 58, 59, 8 
   CONTROL "+n : increase by n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 70, 59, 8 
   CONTROL "-n : decrease by n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 82, 59, 8 
   CONTROL "Expressions", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 154, 7, 75, 104 
   CONTROL "Preview", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 118, 50, 14 
   CONTROL "Stop", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 118, 50, 14 
}
