154 DIALOG 0, 0, 258, 139
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bulk Changes"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 143, 104 
   CONTROL "Velocity/Value: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 20, 67, 14 
   CONTROL "", 1064, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 20, 62, 14 
   CONTROL "Step: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 37, 65, 14 
   CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 37, 62, 14 
   CONTROL "Gate: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 54, 65, 14 
   CONTROL "", 1021, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 54, 62, 14 
   CONTROL "Note Number(&N): ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 71, 65, 14 
   CONTROL "", 1066, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 71, 62, 14 
   CONTROL "Tick: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 88, 65, 14 
   CONTROL "", 1019, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 88, 62, 14 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 150, 118, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 203, 118, 50, 14 
   CONTROL "n: value is n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 166, 22, 99, 8 
   CONTROL "n%: value is n%", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 34, 59, 8 
   CONTROL "*n: value is multiplied by n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 46, 120, 8 
   CONTROL "/n: value is divided by n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 58, 107, 8 
   CONTROL "+n: value is increased by n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 70, 106, 8 
   CONTROL "-n: value is decreased by n", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 82, 99, 8 
   CONTROL "Valid Expressions:", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 156, 7, 97, 104 
   CONTROL "Preview", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 118, 50, 14 
   CONTROL "Reset", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 118, 50, 14 
}

