158 DIALOG 0, 0, 319, 243
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Bug Report Template"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Close", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 262, 7, 50, 14 
   CONTROL "&Copy", 1106, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 262, 39, 50, 14 
   CONTROL "In case of any technical problem within the program, please state the symptoms or the reproduction steps on the template below and report it to the bug report bulletin board (wikiwiki.jp/tkbsoft/domino/不具合報告). Sorry for the inconvenience. m(_ _)m", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 248, 37 
   CONTROL "", 1107, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 7, 42, 248, 193 
}
