162 DIALOGEX 0, 0, 350, 335
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Graph Customization"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 314, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 293, 314, 50, 14 
   CONTROL "", 1016, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 14, 21, 108, 139 
   CONTROL "Preview: (drag the anchors to change the start or endpoint)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 194, 295, 8 
   CONTROL "", 1125, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 7, 203, 336, 104 
   CONTROL "Graph list", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 123, 180 
   CONTROL "&Add new", 1025, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 164, 50, 14 
   CONTROL "&Delete", 1027, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 72, 164, 50, 14 
   CONTROL "Graph setup", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 135, 7, 208, 180 
   CONTROL "&Name: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 142, 21, 88, 8 
   CONTROL "", 1120, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 31, 193, 12 
   CONTROL "Graph &expression: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 142, 55, 88, 8 
   CONTROL "", 1049, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 142, 65, 193, 12 
   CONTROL "", 1041, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 142, 79, 193, 97 
}
