170 DIALOG 0, 0, 257, 171
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref backup"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Enable automatic backups", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 165, 10 
   CONTROL "Backup every", 1508, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 16, 80, 14 
   CONTROL "", 1111, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 43, 16, 30, 14 
   CONTROL "Spin1", 1112, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 73, 16, 11, 14 
   CONTROL "minutes", 1509, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 77, 16, 25, 14 
   CONTROL "File name format", 1216, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 45, 196, 62 
   CONTROL "(file name).dms      * Backups to a single file only", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 60, 176, 10 
   CONTROL "(file name)_(date)_(time).dms", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 10, 74, 120, 10 
   CONTROL "Only backup if there are changes to the project", 1507, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 29, 87, 141, 10 
   CONTROL "Backup directory: ", 1510, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 120, 140, 8 
   CONTROL "", 1171, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 0, 130, 255, 14 
   CONTROL "...", 1172, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 230, 145, 25, 14 
}
