170 DIALOG 0, 0, 257, 171
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref backup"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "&Enable scheduled backups", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 99, 10 
   CONTROL "Backup every: ", 1508, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 17, 55, 12 
   CONTROL "", 1111, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 56, 17, 34, 12 
   CONTROL "Spin1", 1112, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 81, 17, 10, 12 
   CONTROL "minute(s)", 1509, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 93, 17, 39, 12 
   CONTROL "Backup &name format", 1216, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 45, 247, 62 
   CONTROL "\"(filename).dms\"      * Backups to a single file only", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 60, 229, 10 
   CONTROL "\"(filename)_(date)_(time).dms\"", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 12, 74, 229, 10 
   CONTROL "Only backup if there are changes to the project.", 1507, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 31, 87, 209, 10 
   CONTROL "Backup Directory: ", 1510, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 120, 140, 8 
   CONTROL "", 1171, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 0, 130, 255, 12 
   CONTROL "...", 1172, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 230, 143, 25, 14 
}
