170 DIALOG 0, 0, 257, 171
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "定期バックアップを行う(&E)", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 165, 10 
   CONTROL "バックアップを行う間隔(&I) :  ", 1508, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 16, 80, 14 
   CONTROL "", 1111, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 80, 16, 40, 14 
   CONTROL "Spin1", 1112, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 110, 10, 9, 14 
   CONTROL "分おき", 1509, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 121, 16, 25, 14 
   CONTROL "バックアップファイル名(&N)", 1216, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 45, 196, 62 
   CONTROL "編集ファイル名.dms", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 60, 115, 10 
   CONTROL "編集ファイル名_年月日_時分.dms", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 10, 74, 120, 10 
   CONTROL "データに変更があった場合のみ書き出す(&M)", 1507, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 29, 87, 141, 10 
   CONTROL "バックアップ先のフォルダ(&F) :  ", 1510, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 120, 140, 8 
   CONTROL "", 1171, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 0, 130, 255, 14 
   CONTROL "...", 1172, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 230, 145, 25, 14 
}

