172 DIALOG 0, 0, 257, 200
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref shortcut keys"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 176, 65533, 87, 150 
   CONTROL "Clear", 1081, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 185, 38, 14 
   CONTROL "Tree1", 1017, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 0, 0, 173, 183 
   CONTROL "Expand all", 1180, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 176, 150, 79, 14 
   CONTROL "Collapse all", 1181, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 176, 164, 79, 14 
   CONTROL "Reset all keybinds", 1182, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 176, 185, 79, 14 
   CONTROL "Each context menu command can contain user-defined shortcut keys. Select one from the list and press the desired key combination to bind with that command.", 1183, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 181, 7, 66, 125 
   CONTROL "　", 1184, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 185, 135, 14 
}
