172 DIALOG 0, 0, 257, 200
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "クリア", 1081, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 136, 185, 38, 14 
   CONTROL "Tree1", 1017, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 0, 0, 215, 169 
   CONTROL "全て開く", 1180, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 219, 0, 38, 14 
   CONTROL "全て閉じる", 1181, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 219, 18, 38, 14 
   CONTROL "初期化", 1182, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 219, 100, 38, 14 
   CONTROL "コマンドを選択した状態でキーを入力すると、ショートカットキーとして割り当てられます。", 1183, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 171, 246, 11 
   CONTROL "　", 1184, STATIC, SS_CENTER | SS_CENTERIMAGE | SS_SUNKEN | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 185, 135, 14 
}

