174 DIALOG 0, 0, 368, 288
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Selection Range Filter"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 355, 259 
   CONTROL "&Value/Velocity:", 1191, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 21, 54, 10 
   CONTROL "", 1192, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 34, 40, 12 
   CONTROL "Spin1", 1199, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 63, 34, 10, 12 
   CONTROL "~", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 36, 8, 9 
   CONTROL "", 1200, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 83, 34, 40, 12 
   CONTROL "Spin1", 1201, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 113, 34, 10, 12 
   CONTROL "Invert Range Sel.", 1397, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 33, 63, 14 
   CONTROL "", 1068, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 33, 50, 168, 25 
   CONTROL "&Gate:", 1198, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 82, 27, 10 
   CONTROL "", 1202, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 94, 39, 12 
   CONTROL "Spin1", 1203, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 63, 94, 10, 12 
   CONTROL "~", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 73, 96, 8, 8 
   CONTROL "", 1204, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 83, 94, 39, 12 
   CONTROL "Spin1", 1205, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 113, 94, 10, 12 
   CONTROL "Invert Range Sel.", 1398, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 94, 63, 14 
   CONTROL "", 1071, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 33, 111, 168, 25 
   CONTROL "&Step value:", 1207, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 143, 43, 10 
   CONTROL "", 1208, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 156, 40, 12 
   CONTROL "Spin1", 1209, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 63, 156, 10, 12 
   CONTROL "~", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 158, 8, 8 
   CONTROL "", 1210, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 83, 156, 40, 12 
   CONTROL "Spin1", 1211, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 113, 156, 10, 12 
   CONTROL "Invert Range Sel.", 1400, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 155, 63, 14 
   CONTROL "", 1070, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 33, 172, 168, 25 
   CONTROL "&Tick value: ", 1212, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 204, 43, 10 
   CONTROL "Tick Type: ", 1512, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 109, 204, 41, 10 
   CONTROL "", 1511, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 154, 202, 48, 66 
   CONTROL "", 1306, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 217, 40, 12 
   CONTROL "Spin1", 1307, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 63, 217, 10, 12 
   CONTROL "~", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 219, 8, 8 
   CONTROL "", 1308, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 83, 217, 40, 12 
   CONTROL "Spin1", 1309, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 113, 217, 10, 12 
   CONTROL "Invert Range Sel.", 1401, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 216, 63, 14 
   CONTROL "", 1072, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 33, 233, 168, 25 
   CONTROL "", -1, STATIC, SS_ETCHEDVERT | WS_CHILD | WS_VISIBLE, 207, 21, 1, 234 
   CONTROL "&Note Events only", 1352, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 21, 78, 10 
   CONTROL "Only the highest note in a chord", 1467, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 227, 32, 110, 10 
   CONTROL "Only the lowest note in a chord", 1468, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 227, 43, 110, 10 
   CONTROL "Error Margin: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 229, 55, 45, 12 
   CONTROL "", 1500, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 273, 55, 38, 12 
   CONTROL "Spin1", 1501, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 302, 55, 10, 12 
   CONTROL "Tick(s)", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 314, 55, 23, 12 
   CONTROL "&Program Change Events", 1312, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 72, 85, 10 
   CONTROL "&Control Change Events", 1313, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 83, 87, 10 
   CONTROL "Specify...", 1450, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 302, 82, 50, 14 
   CONTROL "", 1451, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 227, 97, 129, 79 
   CONTROL "E&xclusive Events ", 1315, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 183, 59, 10 
   CONTROL "Comments", 1316, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 194, 44, 10 
   CONTROL "Variable Events", 1317, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 205, 57, 10 
   CONTROL "&Lyrics", 1319, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 216, 27, 10 
   CONTROL "Cu&e Points", 1320, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 227, 47, 10 
   CONTROL "Measure Lin&ks", 1321, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 238, 57, 10 
   CONTROL "Te&mpi", 1318, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 281, 183, 31, 10 
   CONTROL "Rhythmic Signatures", 1322, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 281, 194, 77, 10 
   CONTROL "Ke&y Signatures", 1324, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 281, 205, 59, 10 
   CONTROL "Scale Events", 1325, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 281, 216, 49, 10 
   CONTROL "Chord Events", 1326, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 281, 227, 52, 10 
   CONTROL "Markers", 1323, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 281, 238, 35, 10 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 237, 269, 61, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 300, 269, 61, 14 
   CONTROL "&Apply", 1206, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 102, 269, 60, 14 
   CONTROL "Apply && Modify...", 1399, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 165, 269, 61, 14 
}

