174 DIALOG 0, 0, 394, 328
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Selection Filter"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 323, 314 
   CONTROL "Value/Velocity range", 1191, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 21, 125, 10 
   CONTROL "", 1192, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 33, 40, 14 
   CONTROL "Spin1", 1199, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 63, 33, 9, 14 
   CONTROL "-", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 36, 8, 8 
   CONTROL "", 1200, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 83, 33, 40, 14 
   CONTROL "Spin1", 1201, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 113, 33, 9, 14 
   CONTROL "Invert Selection", 1397, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 33, 67, 14 
   CONTROL "", 1068, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 33, 50, 168, 25 
   CONTROL "Gate range", 1198, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 82, 95, 10 
   CONTROL "", 1202, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 94, 40, 14 
   CONTROL "Spin1", 1203, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 63, 94, 10, 14 
   CONTROL "-", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 97, 8, 8 
   CONTROL "", 1204, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 83, 94, 40, 14 
   CONTROL "Spin1", 1205, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 113, 94, 10, 14 
   CONTROL "Invert Selection", 1398, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 94, 67, 14 
   CONTROL "", 1071, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 33, 111, 168, 25 
   CONTROL "Step range", 1207, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 143, 94, 10 
   CONTROL "", 1208, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 155, 40, 14 
   CONTROL "Spin1", 1209, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 63, 155, 9, 14 
   CONTROL "-", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 159, 8, 8 
   CONTROL "", 1210, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 83, 155, 40, 14 
   CONTROL "Spin1", 1211, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 113, 155, 9, 14 
   CONTROL "Invert selection", 1400, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 155, 67, 14 
   CONTROL "", 1070, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 33, 172, 168, 25 
   CONTROL "Tick range", 1212, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 204, 93, 10 
   CONTROL "Tick Type: ", 1512, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 109, 204, 41, 10 
   CONTROL "", 1511, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 154, 202, 48, 66 
   CONTROL "", 1306, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 33, 216, 40, 14 
   CONTROL "Spin1", 1307, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 63, 216, 10, 14 
   CONTROL "-", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 74, 220, 8, 8 
   CONTROL "", 1308, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 83, 216, 40, 14 
   CONTROL "Spin1", 1309, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 113, 216, 10, 14 
   CONTROL "Invert Selection", 1401, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 132, 216, 67, 14 
   CONTROL "", 1072, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 33, 233, 168, 25 
   CONTROL "", -1, STATIC, SS_ETCHEDVERT | WS_CHILD | WS_VISIBLE, 207, 21, 1, 293 
   CONTROL "Note events only", 1352, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 21, 78, 10 
   CONTROL "Highest in the chord only", 1467, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 227, 32, 97, 10 
   CONTROL "Lowest in the chord only", 1468, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 227, 43, 97, 10 
   CONTROL "Tolerance: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 213, 55, 38, 14 
   CONTROL "", 1500, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 252, 55, 40, 14 
   CONTROL "Spin1", 1501, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 282, 55, 10, 14 
   CONTROL "tick", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 294, 55, 18, 14 
   CONTROL "Program Change events only", 1312, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 72, 111, 10 
   CONTROL "Control Change events only", 1313, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 83, 113, 10 
   CONTROL "Specify...", 1450, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 227, 94, 50, 14 
   CONTROL "", 1451, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 227, 109, 95, 71 
   CONTROL "System Exclusive events only", 1315, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 183, 111, 10 
   CONTROL "Comments only ", 1316, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 194, 91, 10 
   CONTROL "Variable expressions only", 1317, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 205, 110, 10 
   CONTROL "Lyrics only", 1319, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 216, 93, 10 
   CONTROL "Cue points only", 1320, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 227, 108, 10 
   CONTROL "Measure Links only", 1321, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 238, 108, 10 
   CONTROL "Tempo events only", 1318, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 249, 96, 10 
   CONTROL "Time signature events only", 1322, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 260, 110, 10 
   CONTROL "Key signature events only", 1324, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 271, 93, 10 
   CONTROL "Scale events only", 1325, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 282, 108, 10 
   CONTROL "Chord events only", 1326, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 293, 108, 10 
   CONTROL "Markers only", 1323, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 213, 304, 96, 10 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 337, 7, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 337, 24, 50, 14 
   CONTROL "Apply", 1206, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 337, 56, 50, 14 
   CONTROL "Apply && Modify", 1399, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 337, 74, 50, 14 
}
