187 DIALOG 0, 0, 351, 257
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Event List Filter"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 293, 7, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 293, 23, 50, 14 
   CONTROL "&Enabled", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 33, 142, 10 
   CONTROL "Event Filter Options", 1304, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 49, 120, 201 
   CONTROL "&Notes", 1311, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 63, 103, 10 
   CONTROL "&Program Change events", 1312, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 74, 103, 10 
   CONTROL "System Exclusive events", 1315, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 85, 103, 10 
   CONTROL "Commen&ts", 1316, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 96, 103, 10 
   CONTROL "Variable expresions", 1317, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 107, 103, 10 
   CONTROL "&Lyrics", 1319, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 118, 103, 10 
   CONTROL "C&ue points", 1320, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 129, 103, 10 
   CONTROL "Measure lin&ks", 1321, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 140, 103, 10 
   CONTROL "Te&mpo events", 1318, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 151, 103, 10 
   CONTROL "Time signatures events", 1322, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 162, 103, 10 
   CONTROL "Ke&y signatures events", 1324, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 173, 103, 10 
   CONTROL "&Scale events", 1325, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 184, 103, 10 
   CONTROL "Chor&d events", 1326, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 195, 103, 10 
   CONTROL "M&arkers", 1323, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 15, 206, 103, 10 
   CONTROL "Control Change", 1328, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 132, 49, 155, 201 
   CONTROL "All &Control Changes", 1313, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 62, 106, 10 
   CONTROL "Specified: ", 1327, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 77, 46, 8 
   CONTROL "Tree1", 1314, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 139, 85, 140, 156 
   CONTROL "Reset", 1120, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 293, 73, 50, 14 
   CONTROL "&Presets: ", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 8, 43, 12 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 51, 8, 154, 191 
   CONTROL "S", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 207, 6, 16, 15 
   CONTROL "D", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 223, 6, 16, 15 
}
