187 DIALOG 0, 0, 318, 228
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Event List Filter"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 7, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 23, 50, 14 
   CONTROL "&Enabled", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 33, 251, 10 
   CONTROL "Event Filter Options", 1304, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 49, 92, 174 
   CONTROL "&Notes", 1311, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 63, 76, 9 
   CONTROL "&Program Changes", 1312, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 74, 76, 9 
   CONTROL "E&xclusive Events", 1315, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 85, 76, 9 
   CONTROL "Commen&ts", 1316, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 96, 76, 9 
   CONTROL "Variable Events", 1317, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 107, 76, 9 
   CONTROL "&Lyrics", 1319, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 118, 76, 9 
   CONTROL "C&ue Points", 1320, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 129, 76, 9 
   CONTROL "Measure Lin&ks", 1321, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 140, 76, 9 
   CONTROL "Te&mpi", 1318, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 151, 76, 9 
   CONTROL "Rhythmic S&ignatures", 1322, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 162, 76, 8 
   CONTROL "Ke&y Signatures", 1324, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 173, 76, 8 
   CONTROL "&Scale Events", 1325, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 184, 76, 9 
   CONTROL "Chor&d Events", 1326, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 195, 76, 9 
   CONTROL "M&arkers", 1323, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 17, 206, 76, 9 
   CONTROL "Control Changes (CCs)", 1328, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 103, 49, 155, 174 
   CONTROL "All &Control Changes", 1313, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 110, 62, 139, 10 
   CONTROL "Specified: ", 1327, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 110, 77, 46, 8 
   CONTROL "Tree1", 1314, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 110, 85, 140, 130 
   CONTROL "Reset", 1120, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 73, 50, 14 
   CONTROL "&Presets: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 10, 8, 29, 11 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 39, 8, 154, 185 
   CONTROL "S", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 195, 6, 16, 15 
   CONTROL "D", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 211, 6, 16, 15 
}
