216 DIALOG 0, 0, 323, 276
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "歌詞の流し込み"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "歌詞(&L) :  ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 83, 8 
   CONTROL "", 1547, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 7, 17, 113, 207 
   CONTROL "※ 1行=1イベントとなります。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 227, 110, 8 
   CONTROL "前回の歌詞を復元(&T)", 1572, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 239, 113, 14 
   CONTROL "歌詞イベントから歌詞を復元(&E)", 1573, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 255, 113, 14 
   CONTROL "開始位置(&B)  :", 1549, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 126, 7, 50, 8 
   CONTROL "", 1134, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 126, 17, 78, 14 
   CONTROL "挿入位置(&I)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 126, 38, 132, 98 
   CONTROL "等間隔(&F)", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 134, 52, 45, 10 
   CONTROL "ノートイベントの直前(&R)", 1055, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 134, 99, 108, 10 
   CONTROL "ノートイベントの直後(&N)", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 134, 115, 89, 10 
   CONTROL "間隔(&S) :  ", 1548, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 153, 66, 31, 8 
   CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 75, 40, 14 
   CONTROL "Spin1", 1085, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 181, 68, 10, 14 
   CONTROL "Tick", 1512, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 195, 76, 25, 14 
   CONTROL "カレントトラックの開始位置以降にある既存の歌詞イベントを全て削除する(&D)", 1550, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 126, 146, 135, 26 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 7, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 24, 50, 14 
   CONTROL "試聴(&P)", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 46, 50, 14 
   CONTROL "試聴解除", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 65, 50, 14 
}

