216 DIALOG 0, 0, 323, 276
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Lyric Bucket"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "&Lyrics: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 83, 8 
   CONTROL "", 1547, EDIT, ES_LEFT | ES_MULTILINE | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_WANTRETURN | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP, 7, 17, 113, 200 
   CONTROL "* 1 line = 1 lyric event", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 220, 110, 8 
   CONTROL "Res&tore previously added lyric(s)", 1572, BUTTON, BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 232, 113, 14 
   CONTROL "Get lyric(s) from target measure to last measure", 1573, BUTTON, BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 248, 113, 21 
   CONTROL "Target Measure: ", 1549, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 126, 7, 66, 8 
   CONTROL "", 1134, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 126, 17, 78, 14 
   CONTROL "L&ine position:", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 126, 38, 132, 98 
   CONTROL "Equidistant:", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 134, 52, 45, 10 
   CONTROL "On note p&ress", 1055, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 134, 99, 108, 10 
   CONTROL "After the &note(s)", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 134, 115, 89, 10 
   CONTROL "", 1548, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 153, 66, 31, 8 
   CONTROL "", 1084, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 68, 40, 14 
   CONTROL "Spin1", 1085, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 181, 61, 10, 14 
   CONTROL "tick(s)", 1512, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 195, 69, 25, 12 
   CONTROL "&Delete all existing lyric events from target measure onwards", 1550, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 126, 146, 135, 26 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 7, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 24, 50, 14 
   CONTROL "Preview", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 46, 50, 14 
   CONTROL "Revert", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 65, 50, 14 
}
