266 DIALOG 0, 0, 325, 278
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ツールバーカスタマイズ"
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 214, 257, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 257, 50, 14 
   CONTROL "カテゴリ(&C) :  ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 83, 8 
   CONTROL "", 1062, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 7, 17, 115, 183 
   CONTROL "List1", 1045, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 34, 115, 164 
   CONTROL "⇒", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 131, 109, 8, 8 
   CONTROL "カスタマイズするツールバー(&T) :  ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 148, 7, 88, 8 
   CONTROL "", 1063, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 148, 17, 115, 183 
   CONTROL "List1", 1046, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 148, 34, 115, 164 
   CONTROL "ツールバー名", 1321, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 17, 50, 14 
   CONTROL "リセット", 1120, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 34, 50, 14 
   CONTROL "削除", 1027, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 268, 184, 50, 14 
   CONTROL "ドラッグ＆ドロップでコマンドの挿入や移動をすることが出来ます。", 1226, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 203, 311, 8 
   CONTROL "オプション", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 219, 311, 31 
   CONTROL "ボタン幅の補正値(&W) :  ", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 230, 73, 14 
   CONTROL "", 1485, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 89, 230, 40, 14 
   CONTROL "Spin1", 1487, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 136, 227, 10, 14 
}

