267 DIALOG 0, 0, 342, 297
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Sound Source Definition File Information"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Basic File Information", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 102, 7, 233, 79 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 276, 50, 14 
   CONTROL "", 1207, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 7, 16, 89, 222 
   CONTROL "&List: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 80, 8 
   CONTROL "Name: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 21, 57, 8 
   CONTROL "Author: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 33, 57, 8 
   CONTROL "Version: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 45, 57, 8 
   CONTROL "Website: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 57, 57, 8 
   CONTROL "Path: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 106, 69, 57, 8 
   CONTROL "Static", 1216, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 21, 168, 8 
   CONTROL "Static", 1215, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 33, 168, 8 
   CONTROL "Static", 1214, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 45, 168, 8 
   CONTROL "Static", 1213, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 57, 168, 8 
   CONTROL "Static", 1212, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 163, 69, 168, 8 
   CONTROL "Open .xml File", 1209, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 241, 89, 14 
   CONTROL "Edit with Notepad", 1210, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 257, 89, 14 
   CONTROL "", 1211, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 102, 103, 124, 168 
   CONTROL "Control Change &Macro List (by ID#): ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 102, 94, 117, 8 
   CONTROL "&Table List: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 234, 94, 97, 8 
   CONTROL "", 1219, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 234, 103, 101, 236 
   CONTROL "", 1220, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 234, 118, 101, 153 
}

