268 DIALOG 0, 0, 257, 200
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref mouse buttons"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Customize the command or action of each mouse buttons.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 3, 190, 8 
   CONTROL "List1", 1016, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_CLIPSIBLINGS | WS_BORDER | WS_TABSTOP, 0, 18, 255, 182 
   CONTROL "", 1217, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VSCROLL | WS_TABSTOP, 202, 0, 48, 198 
}

