272 DIALOG 0, 0, 386, 258
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Key Scale/Chord Highlight"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 275, 237, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 329, 237, 50, 14 
   CONTROL "Op&tions", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 372, 224 
   CONTROL "&Enabled", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 21, 149, 10 
   CONTROL "&Scale", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 37, 46, 10 
   CONTROL "&Chord", 1055, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 156, 37, 41, 10 
   CONTROL "Refer to Key Sc&ale Event(s)", 1057, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 264, 37, 112, 10 
   CONTROL "Refer to C&hord Event(s)", 1058, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 264, 50, 112, 10 
   CONTROL "C&ustomized", 1056, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 264, 63, 65, 10 
   CONTROL "", 1246, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 27, 48, 26, 161 
   CONTROL "", 1243, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 56, 48, 90, 161 
   CONTROL "", 1244, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 167, 48, 26, 161 
   CONTROL "", 1245, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 196, 48, 58, 161 
   CONTROL "Button1", 1531, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 273, 75, 15, 15 
   CONTROL "Button1", 1525, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 288, 75, 15, 15 
   CONTROL "Button1", 1526, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 303, 75, 15, 15 
   CONTROL "Button1", 1527, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 273, 91, 15, 15 
   CONTROL "Button1", 1528, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 288, 91, 15, 15 
   CONTROL "Button1", 1529, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 303, 91, 15, 15 
   CONTROL "Button1", 1530, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 318, 91, 15, 15 
   CONTROL "Button1", 1532, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 333, 91, 15, 15 
   CONTROL "Button1", 1533, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 348, 91, 15, 15 
   CONTROL "P&review selected chord", 1449, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 212, 89, 10 
   CONTROL "&Preview", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 237, 50, 14 
   CONTROL "", 1523, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 273, 109, 93, 110 
}
