275 DIALOG 0, 0, 444, 294
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Track Monitor Bar Customization"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Customization", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 429, 191 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 333, 276, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 387, 276, 50, 14 
   CONTROL "", -1, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 12, 37, 420, 1 
   CONTROL "&Available Panels: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 45, 99, 8 
   CONTROL "List1", 1257, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 55, 115, 132 
   CONTROL ">", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 134, 119, 10, 8 
   CONTROL "C&urrent Panels: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 147, 45, 87, 8 
   CONTROL "List1", 1017, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 147, 55, 117, 132 
   CONTROL "&Delete", 1027, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 275, 55, 50, 14 
   CONTROL "Panel Properties", 1261, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 275, 75, 153, 69 
   CONTROL "&Label: ", 1158, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 277, 89, 30, 14 
   CONTROL "", 1030, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 307, 89, 86, 14 
   CONTROL "&Color: ", 1259, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 277, 106, 30, 14 
   CONTROL "", 1258, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 307, 106, 86, 15 
   CONTROL "...", 1253, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 395, 107, 20, 14 
   CONTROL "&Width: ", 1260, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 277, 124, 30, 12 
   CONTROL "", 1254, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 307, 124, 30, 12 
   CONTROL "Spin1", 1255, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 323, 124, 12, 12 
   CONTROL "Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 203, 429, 69 
   CONTROL "&Panel Navigation: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 217, 61, 12 
   CONTROL "", 1413, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 76, 217, 352, 34 
   CONTROL "Monitor every track in the Track Monitor Bar when monitoring pla&yback (applies to keyboard only)", 1414, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 233, 259, 17 
   CONTROL "Show patch name with &map name", 1444, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 18, 254, 411, 10 
   CONTROL "&Presets: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 19, 43, 12 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 19, 122, 191 
   CONTROL "S", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 18, 16, 15 
   CONTROL "D", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 18, 16, 15 
   CONTROL "* CPU intensive. Warnings could occur.", 0, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 298, 234, 130, 9 
}
