275 DIALOG 0, 0, 367, 317
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Track Monitor Bar Customization"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Customization", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 6, 353, 215 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 256, 296, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 310, 296, 50, 14 
   CONTROL "", -1, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 12, 37, 344, 1 
   CONTROL "&Available Panels: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 45, 89, 8 
   CONTROL "List1", 1257, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 55, 100, 159 
   CONTROL ">", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 121, 127, 8, 8 
   CONTROL "C&urrent Panels: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 136, 45, 75, 8 
   CONTROL "List1", 1017, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 136, 55, 100, 159 
   CONTROL "&Delete", 1027, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 241, 55, 50, 14 
   CONTROL "Panel Properties", 1261, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 241, 75, 111, 69 
   CONTROL "&Label: ", 1158, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 243, 90, 42, 14 
   CONTROL "", 1030, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 285, 89, 40, 14 
   CONTROL "&Color: ", 1259, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 243, 107, 42, 14 
   CONTROL "", 1258, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 285, 105, 40, 16 
   CONTROL "...", 1253, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 326, 107, 20, 14 
   CONTROL "&Width: ", 1260, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 277, 124, 30, 12 
   CONTROL "", 1254, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 285, 124, 40, 14 
   CONTROL "Spin1", 1255, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 315, 124, 10, 14 
   CONTROL "Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 227, 353, 66 
   CONTROL "&Panel Navigation: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 239, 71, 12 
   CONTROL "", 1413, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 85, 239, 267, 47 
   CONTROL "Monitor every track in the Track Monitor Bar when monitoring pla&yback (applies to keyboard only) \n* CPU intensive. Warnings could occur.", 1414, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 258, 338, 18 
   CONTROL "Show patch name with &map name", 1444, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 14, 278, 298, 10 
   CONTROL "&Presets: ", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 19, 43, 12 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 19, 122, 191 
   CONTROL "S", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 18, 16, 15 
   CONTROL "D", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 18, 16, 15 
}
