276 DIALOG 0, 0, 223, 231
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Range of Selection"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "&Measure", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 153, 47 
   CONTROL "", 1266, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 20, 40, 14 
   CONTROL "to", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 55, 23, 11, 8 
   CONTROL "", 1268, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 66, 20, 40, 14 
   CONTROL "* Ticks can be specified by separating it with a period (.).", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 35, 142, 17 
   CONTROL "Selection Type", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 58, 153, 72 
   CONTROL "&Tracklist", 1445, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 71, 100, 10 
   CONTROL "&Event List", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 84, 100, 10 
   CONTROL "Graph Panel &2", 1078, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 98, 100, 10 
   CONTROL "Graph Panel &1", 1079, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 112, 100, 10 
   CONTROL "Track(s)", 1446, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 132, 153, 92 
   CONTROL "&Current track only", 1271, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 146, 75, 10 
   CONTROL "Specified track &range", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 160, 87, 10 
   CONTROL "&All tracks", 1055, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 206, 90, 10 
   CONTROL "", 1273, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 46, 172, 104, 241 
   CONTROL "from ", 1275, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 174, 14, 9 
   CONTROL "", 1274, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 46, 188, 104, 246 
   CONTROL "to", 1276, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 190, 14, 9 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 7, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 24, 50, 14 
   CONTROL "&Preview", 1206, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 56, 50, 14 
}
