276 DIALOG 0, 0, 223, 231
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "範囲の選択"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "小節(&M)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 153, 43 
   CONTROL "", 1266, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 20, 40, 14 
   CONTROL "～", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 55, 23, 11, 8 
   CONTROL "", 1268, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 66, 20, 40, 14 
   CONTROL "※ ピリオド等で区切ればTickも指定できます。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 35, 126, 8 
   CONTROL "選択の種類", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 55, 153, 72 
   CONTROL "トラックリスト(&T)", 1445, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 68, 117, 10 
   CONTROL "イベントリスト(&E)", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 81, 59, 10 
   CONTROL "イベントグラフ&2", 1078, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 95, 54, 10 
   CONTROL "イベントグラフ&1", 1079, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 109, 54, 10 
   CONTROL "トラック", 1446, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 132, 153, 92 
   CONTROL "カレントトラックのみ(&C)", 1271, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 146, 75, 10 
   CONTROL "トラック範囲指定(&R)", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 160, 87, 10 
   CONTROL "全トラック(&A)", 1055, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 14, 206, 90, 10 
   CONTROL "", 1273, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 32, 172, 104, 241 
   CONTROL "から", 1275, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 137, 174, 14, 9 
   CONTROL "", 1274, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 32, 188, 104, 246 
   CONTROL "まで", 1276, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 137, 190, 14, 9 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 7, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 24, 50, 14 
   CONTROL "適用(&P)", 1206, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 166, 56, 50, 14 
}

