279 DIALOG 0, 0, 257, 200
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Display (long) notes a maximum of:  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 138, 14 
   CONTROL "", 1236, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 138, 0, 40, 14 
   CONTROL "Spin1", 1237, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 238, 0, 9, 14 
   CONTROL "拍までさかのぼる", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 181, 0, 50, 14 
   CONTROL "グリッド(&G):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 16, 126, 12 
   CONTROL "", 1294, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 16, 110, 78 
   CONTROL "リズムトラックの各楽器名のノート番号(&N):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 32, 138, 12 
   CONTROL "", 1295, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 32, 110, 78 
   CONTROL "縦スクロール位置の記憶(&S):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 48, 138, 12 
   CONTROL "", 1296, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 48, 110, 78 
   CONTROL "ノート配置予定枠(&F):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 64, 138, 12 
   CONTROL "", 1298, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 64, 110, 78 
   CONTROL "時間軸拡大・縮小時のスクロール処理(&Z):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 80, 138, 12 
   CONTROL "", 1299, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 80, 110, 78 
   CONTROL "ノート配置・ドラッグ中のホイール動作(&W):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 96, 138, 12 
   CONTROL "", 1300, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 96, 110, 78 
   CONTROL "鍵盤画像上のガイド(&I):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 112, 138, 12 
   CONTROL "", 1301, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 112, 110, 78 
   CONTROL "ノートGate調節の当たり判定", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 133, 257, 66 
   CONTROL "当たり判定(&H):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 146, 79, 14 
   CONTROL "", 1240, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 85, 146, 40, 14 
   CONTROL "Spin1", 1241, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 115, 142, 9, 14 
   CONTROL "％　（ノートのドット幅に対する割合）", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 146, 114, 14 
   CONTROL "幅の最小値・最大値(&R):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 163, 79, 14 
   CONTROL "", 1202, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 85, 163, 40, 14 
   CONTROL "Spin1", 1203, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 115, 160, 9, 14 
   CONTROL "～", -1, STATIC, SS_CENTER | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 126, 163, 11, 14 
   CONTROL "", 1204, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 138, 163, 40, 14 
   CONTROL "Spin1", 1205, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 168, 160, 9, 14 
   CONTROL "調節位置指定方法(&O):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 6, 181, 79, 10 
   CONTROL "相対指定", 1242, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 85, 181, 52, 10 
   CONTROL "絶対指定", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 138, 181, 43, 10 
   CONTROL "ドット", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 179, 163, 22, 14 
}

