280 DIALOG 0, 0, 264, 200
STYLE DS_SETFONT | WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "&Step column location: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 138, 12 
   CONTROL "", 1298, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 0, 124, 73 
   CONTROL "Step values of &0: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 16, 138, 12 
   CONTROL "", 1299, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 16, 124, 73 
   CONTROL "L/R arrow key action while editing &a value: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 32, 138, 12 
   CONTROL "", 1300, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 32, 124, 73 
   CONTROL "&Control Change #: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 48, 138, 12 
   CONTROL "", 1297, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 48, 124, 73 
   CONTROL "Rhythm &Note Event key #: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 64, 138, 12 
   CONTROL "", 1295, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 64, 124, 73 
   CONTROL "&Font: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 80, 138, 12 
   CONTROL "", 1341, COMBOBOX, CBS_DROPDOWN | CBS_OWNERDRAWVARIABLE | CBS_SORT | CBS_HASSTRINGS | CBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 80, 124, 232 
   CONTROL "Font s&ize: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 97, 138, 12 
   CONTROL "", 1343, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 138, 97, 37, 12 
   CONTROL "Spin1", 1342, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 164, 97, 12, 12 
   CONTROL "Co&lor Scheme: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 113, 138, 12 
   CONTROL "", 1296, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 113, 124, 73 
   CONTROL "Selection colo&r: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 129, 138, 12 
   CONTROL "", 1301, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 129, 124, 73 
   CONTROL "&Only color the selection", 1355, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 144, 125, 10 
   CONTROL "&Measure (and beat) values: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 156, 138, 12 
   CONTROL "", 1302, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 156, 124, 73 
   CONTROL "&Play event after changing its value: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 172, 138, 12 
   CONTROL "", 1303, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 172, 124, 73 
}
