283 DIALOG 0, 0, 225, 250
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "[MIDI Device Synchronization] Individual Track Settings"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 113, 231, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 231, 50, 14 
   CONTROL "List1", 1160, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 17, 211, 137 
   CONTROL "Per Track Synchronization Settings", 1304, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 160, 211, 65 
   CONTROL "Track&list: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 96, 8 
   CONTROL "Do not set", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 174, 197, 10 
   CONTROL "Utilize", 1077, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 189, 197, 10 
   CONTROL "Utilize from measure #", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 204, 82, 12 
   CONTROL "", 1028, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 98, 204, 42, 12 
   CONTROL "Spin1", 1029, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 121, 204, 10, 12 
   CONTROL "", 1305, STATIC, SS_LEFT | WS_CHILD, 0, 0, 0, 0 
}
