283 DIALOG 0, 0, 225, 267
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "[MIDI機器の状態を合わせる]機能のトラック個別設定"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 113, 246, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 246, 50, 14 
   CONTROL "List1", 1160, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 17, 211, 137 
   CONTROL "トラック個別設定", 1304, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 160, 211, 78 
   CONTROL "トラック一覧(&L) : ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 96, 8 
   CONTROL "処理しない(&F)", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 174, 55, 10 
   CONTROL "処理する(&O)", 1077, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 189, 50, 10 
   CONTROL "指定小節以降のイベントを処理する(&A)", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 15, 204, 122, 10 
   CONTROL "", 1028, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 48, 216, 40, 14 
   CONTROL "Spin1", 1029, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 141, 211, 9, 14 
   CONTROL "小節以降", 1305, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 89, 216, 30, 14 
}

