286 DIALOG 0, 0, 343, 229
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pop-up Menu Customization"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 230, 208, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 208, 50, 14 
   CONTROL "Tree1", 1323, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 17, 126, 169 
   CONTROL "Available &commands: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 108, 8 
   CONTROL "Tree1", 1324, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_EDITLABELS | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 17, 126, 169 
   CONTROL ">", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 101, 8, 8 
   CONTROL "Pop-up menu: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 153, 7, 97, 8 
   CONTROL "Reset", 1120, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 172, 50, 14 
   CONTROL "Delete", 1196, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 116, 50, 14 
   CONTROL "Rename", 1325, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 37, 50, 14 
   CONTROL "Create sub-menu", 1326, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 17, 50, 14 
   CONTROL "Insert or remove items/commands by dragging and dropping it in and between the two lists above.", 1226, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 193, 305, 8 
}
