286 DIALOG 0, 0, 343, 229
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "ポップアップメニュー　カスタマイズ"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 232, 208, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 208, 50, 14 
   CONTROL "Tree1", 1323, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 7, 17, 126, 169 
   CONTROL "使用可能なコマンド(&C)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 108, 8 
   CONTROL "Tree1", 1324, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_EDITLABELS | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 153, 17, 126, 169 
   CONTROL "⇒", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 101, 8, 8 
   CONTROL "ポップアップメニュー(&P)", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 153, 7, 97, 8 
   CONTROL "リセット", 1120, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 172, 50, 14 
   CONTROL "削除", 1196, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 116, 50, 14 
   CONTROL "ラベル変更", 1325, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 37, 50, 14 
   CONTROL "サブメニュー作成", 1326, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 286, 17, 50, 14 
   CONTROL "ドラッグ＆ドロップでコマンドの挿入や移動をすることが出来ます。", 1226, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 193, 272, 8 
}

