289 DIALOG 0, 0, 255, 210
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Existing Note(s) Edit Mode Configuration"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 7, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 24, 50, 14 
   CONTROL "This mode lets you update previously arranged notes with realtime input information.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 182, 19 
   CONTROL "Target notes from:", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 29, 182, 90 
   CONTROL "Nearest Tic&k\r\n(An input within a particular chord's gate will process that whole chord.)", 1351, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 44, 165, 26 
   CONTROL "Nearest Tick or Scale", 1055, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 15, 74, 164, 10 
   CONTROL "&Event Sequence\r\n(An input within a particular chord's gate will process that whole chord.)", 1075, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 15, 88, 161, 26 
   CONTROL "Update Properties", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 123, 182, 81 
   CONTROL "&Note &Scale: ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 21, 139, 40, 10 
   CONTROL "(unchanged)", 1349, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 67, 139, 53, 10 
   CONTROL "Updated", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 126, 139, 45, 10 
   CONTROL "&Tick: ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 31, 155, 30, 10 
   CONTROL "(unchanged)", 1350, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 67, 155, 53, 10 
   CONTROL "Updated", 1078, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 126, 155, 45, 10 
   CONTROL "&Gate: ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 25, 171, 37, 10 
   CONTROL "(unchanged)", 1079, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 67, 171, 53, 10 
   CONTROL "Updated", 1080, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 126, 171, 45, 10 
   CONTROL "&Velocity: ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 18, 187, 43, 10 
   CONTROL "(unchanged)", 1081, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 67, 187, 53, 10 
   CONTROL "Updated", 1082, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 126, 187, 45, 10 
}
