289 DIALOG 0, 0, 255, 229
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リアルタイム録音 既存ノート補正モードの詳細設定"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 7, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 24, 50, 14 
   CONTROL "あらかじめ配置されているノートに対してリアルタイム入力した情報を反映させます。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 182, 25 
   CONTROL "対象とするノート", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 37, 182, 98 
   CONTROL "Tickが一番近いもの(&K)\n（和音が置かれている部分に対しては、１入力で\n 全て処理対象になります。）", 1351, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 51, 165, 31 
   CONTROL "Tickが一番近く、さらに音階が一番近いもの(&O)", 1055, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 15, 86, 165, 14 
   CONTROL "イベント順(&E)\n（和音が置かれている部分に対しては、１入力で\n 全て処理対象になります。）", 1075, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 15, 102, 161, 30 
   CONTROL "反映する情報の設定", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 141, 182, 81 
   CONTROL "音階(&N) :  ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 156, 60, 10 
   CONTROL "そのまま", 1349, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 156, 37, 10 
   CONTROL "反映させる", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 130, 156, 45, 10 
   CONTROL "Tick(&T) :  ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 172, 60, 10 
   CONTROL "そのまま", 1350, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 172, 37, 10 
   CONTROL "反映させる", 1078, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 130, 172, 45, 10 
   CONTROL "Gate(&G) :  ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 188, 60, 10 
   CONTROL "そのまま", 1079, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 188, 37, 10 
   CONTROL "反映させる", 1080, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 130, 188, 45, 10 
   CONTROL "Velocity(&V) :  ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 204, 60, 10 
   CONTROL "そのまま", 1081, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 82, 204, 37, 10 
   CONTROL "反映させる", 1082, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 130, 204, 45, 10 
}

