289 DIALOG 0, 0, 255, 229
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Existing Note(s) Edit Mode Configuration"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 7, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 198, 24, 50, 14 
   CONTROL "This mode lets you update previously arranged notes with real-time input information.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 8, 182, 21 
   CONTROL "Target notes from:", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 37, 182, 98 
   CONTROL "The transform applies to the note or chord whose tick is closest to the incoming note.", 1351, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 52, 165, 31 
   CONTROL "As above but in the case of a chord, only the note whose scale is closest to the incoming note is targeted.", 1055, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 15, 76, 165, 26 
   CONTROL "The first incoming note targets the first existing note or chord, and so on...", 1075, BUTTON, BS_AUTORADIOBUTTON | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE, 15, 108, 161, 24 
   CONTROL "Affected properties", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 141, 182, 81 
   CONTROL "&Note &Scale: ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 156, 60, 10 
   CONTROL "Don't change", 1349, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 79, 156, 52, 10 
   CONTROL "Change", 1076, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 136, 156, 49, 10 
   CONTROL "&Tick: ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 172, 60, 10 
   CONTROL "Don't change", 1350, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 79, 172, 54, 10 
   CONTROL "Change", 1078, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 136, 172, 49, 10 
   CONTROL "Gate: ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 188, 60, 10 
   CONTROL "Don't change", 1079, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 79, 188, 52, 10 
   CONTROL "Change", 1080, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 136, 188, 49, 10 
   CONTROL "Velocity: ", -1, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 13, 204, 60, 10 
   CONTROL "Don't change", 1081, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 79, 204, 53, 10 
   CONTROL "Change", 1082, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 136, 204, 49, 10 
}
