293 DIALOG 0, 0, 257, 200
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref graph panel pg 1"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "&Horizontal anchor snap: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 138, 12 
   CONTROL "", 1376, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 0, 110, 78 
   CONTROL "Snap to &origin", 1373, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 14, 116, 10 
   CONTROL "Sna&p to playhead", 1375, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 24, 119, 10 
   CONTROL "Vertical anchor snap: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 37, 138, 12 
   CONTROL "", 1295, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 37, 110, 78 
   CONTROL "Snap to o&rigin", 1374, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 51, 119, 10 
   CONTROL "Horizontal graphing &snap: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 64, 138, 12 
   CONTROL "", 1296, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 64, 110, 78 
   CONTROL "Snap to slid&er", 1371, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 78, 119, 10 
   CONTROL "Vertical graph&ing snap: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 91, 138, 12 
   CONTROL "", 1297, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 91, 110, 78 
   CONTROL "Snap to current &level of value", 1372, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 138, 105, 112, 10 
   CONTROL "&Velocity snap resolution: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 117, 138, 12 
   CONTROL "", 1379, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 138, 118, 40, 14 
   CONTROL "Spin1", 1380, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 167, 115, 9, 14 
   CONTROL "Note gate control snap: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 135, 138, 12 
   CONTROL "", 1298, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 135, 110, 78 
   CONTROL "Note gate control zone width: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 151, 138, 12 
   CONTROL "", 1377, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 138, 151, 40, 14 
   CONTROL "Spin1", 1378, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 167, 148, 9, 14 
   CONTROL "pixel(s) (0 = disabled)", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 179, 151, 68, 14 
   CONTROL "Outline before placement: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 168, 138, 12 
   CONTROL "", 1299, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 168, 110, 78 
   CONTROL "&Color scheme: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 184, 138, 12 
   CONTROL "", 1300, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 184, 110, 78 
}
