294 DIALOG 0, 0, 398, 266
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Graph Panel Onion Skin"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Se&tup", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 382, 235 
   CONTROL "&Available data: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 45, 76, 8 
   CONTROL "Tree1", 1380, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_LINESATROOT | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 55, 124, 179 
   CONTROL ">", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 142, 9, 8 
   CONTROL "Data to be &overlaid: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 149, 45, 72, 8 
   CONTROL "List1", 1017, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 149, 55, 100, 179 
   CONTROL "Selected Data Properties", 1261, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 255, 68, 126, 70 
   CONTROL "&Delete", 1027, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 324, 118, 50, 14 
   CONTROL "O&verlay", 1382, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 265, 82, 107, 10 
   CONTROL "&Color: ", 1259, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 260, 99, 32, 14 
   CONTROL "", 1258, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 292, 97, 58, 16 
   CONTROL "...", 1253, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 353, 99, 20, 14 
   CONTROL "* Display priority is from the top entry.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 255, 46, 126, 11 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 278, 247, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 333, 247, 50, 14 
   CONTROL "Options", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 255, 166, 129, 42 
   CONTROL "Display onion skin &graph anchors", 1383, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 262, 178, 119, 10 
   CONTROL "Display onion skin &behind the grid", 1384, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 262, 190, 117, 10 
   CONTROL "&Presets: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 19, 43, 12 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 59, 19, 122, 191 
   CONTROL "S", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 18, 16, 15 
   CONTROL "D", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 199, 18, 16, 15 
   CONTROL "", -1, STATIC, SS_ETCHEDHORZ | WS_CHILD | WS_VISIBLE, 12, 37, 371, 1 
   CONTROL "Draw the onion king rough deeper.", -1, STATIC, SS_LEFT | WS_CHILD, 0, 0, 0, 0 
}
