295 DIALOG 0, 0, 257, 200
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "[カーソル位置と演奏位置の同期] の動き(&S) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 0, 138, 12 
   CONTROL "", 1389, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 0, 110, 78 
   CONTROL "列の境界線及び塗り(&L) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 16, 138, 12 
   CONTROL "", 1390, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 16, 110, 78 
   CONTROL "ノート挿入時の自動ソート(&O) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 32, 138, 12 
   CONTROL "", 1391, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 32, 110, 78 
   CONTROL "[シフト+↑/↓]キーによる初回選択時(&F) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 48, 138, 12 
   CONTROL "", 1392, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 48, 110, 78 
   CONTROL "Gate・Vel/Value列での音階表記(&T) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 64, 138, 12 
   CONTROL "", 1393, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 64, 110, 78 
   CONTROL "入力中に[ENTER]キーを押した場合(&I) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 0, 80, 138, 12 
   CONTROL "", 1546, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 80, 110, 78 
   CONTROL "カーソル位置のノートイベントをピアノロール側で判別できるようにする(&B)", 1330, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 112, 249, 10 
   CONTROL "ショートカットキー以外のキーを押したらイベントリストにフォーカスを移す(&U) ", 1379, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 124, 236, 10 
   CONTROL "各小節の頭に必要に応じてRestを自動挿入する(&R)", 1386, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 136, 221, 10 
   CONTROL "調号に合わせてノートの表記（#,b）を変える(&N)", 1387, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 148, 221, 10 
   CONTROL "カーソルがEnd of Trackのイベント列から左右に移動したらノートを挿入する(&E)", 1465, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 160, 242, 10 
}

