296 DIALOG 0, 0, 305, 245
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "直線・曲線コンボボックスのカスタマイズ"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "内容のカスタマイズ", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 24, 291, 193 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 194, 224, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 248, 224, 50, 14 
   CONTROL "追加可能なデータ(&A) :  ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 38, 89, 8 
   CONTROL "List1", 1257, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 48, 100, 159 
   CONTROL "⇒", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 121, 120, 8, 8 
   CONTROL "使用中のデータ一覧(&U) :  ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 136, 38, 74, 8 
   CONTROL "List1", 1017, "SysListView32", LVS_REPORT | LVS_SHOWSELALWAYS | LVS_NOCOLUMNHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 136, 48, 100, 159 
   CONTROL "削除(&D)", 1027, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 241, 48, 50, 14 
   CONTROL "デフォルトの並びにする(&F)", 1387, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 7, 177, 10 
}

