297 DIALOGEX 0, 0, 257, 198
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref Function keys"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "&Enable Function Keys", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 251, 10 
   CONTROL "Modifier &Key: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 161, 10, 49, 12 
   CONTROL "", 1391, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 210, 10, 41, 69 
   CONTROL "Step", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 35, 12, 40, 8 
   CONTROL "Gate", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 78, 12, 40, 8 
   CONTROL "Velocity", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 121, 12, 40, 8 
   CONTROL "", 1279, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 22, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1300, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 22, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1312, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 22, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1289, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 34, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1301, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 34, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1313, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 34, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1290, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 46, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1302, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 46, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1314, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 46, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1291, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 58, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1303, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 58, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1315, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 58, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1292, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 76, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1304, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 76, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1316, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 76, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1293, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 88, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1305, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 88, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1317, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 88, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1294, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 100, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1306, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 100, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1318, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 100, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1295, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 112, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1307, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 112, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1319, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 112, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1296, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 130, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1308, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 130, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1320, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 130, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1297, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 142, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1309, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 142, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1321, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 142, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1298, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 154, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1310, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 154, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1322, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 154, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1299, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 35, 166, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1311, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 78, 166, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "", 1323, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 121, 166, 40, 12, WS_EX_CLIENTEDGE
   CONTROL "F1 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 21, 26, 12 
   CONTROL "F2 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 34, 26, 12 
   CONTROL "F3 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 46, 26, 12 
   CONTROL "F4 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 58, 26, 12 
   CONTROL "F5 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 76, 26, 12 
   CONTROL "F6 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 89, 26, 12 
   CONTROL "F7 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 101, 26, 12 
   CONTROL "F8 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 113, 26, 12 
   CONTROL "F9 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 129, 26, 12 
   CONTROL "F10 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 143, 26, 12 
   CONTROL "F11 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 155, 26, 12 
   CONTROL "F12 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 8, 167, 26, 12 
   CONTROL "You can set the following in the gate field:\n\nT : Tie\nL : Legato", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 166, 36, 76, 62 
   CONTROL "&Change only one note within a gate scope", 1407, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 184, 257, 9 
}
