297 DIALOGEX 0, 0, 257, 200
STYLE DS_SETFONT | WS_CHILD
CAPTION "pref Function keys"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "&Enable Function Keys", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 151, 10 
   CONTROL "Modifier &key: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 1, 17, 59, 12 
   CONTROL "", 1391, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 60, 16, 100, 78 
   CONTROL "Step", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 60, 32, 40, 8 
   CONTROL "Gate", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 103, 32, 40, 8 
   CONTROL "Velocity", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 146, 32, 40, 8 
   CONTROL "", 1279, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 42, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1300, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 42, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1312, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 42, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1289, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 54, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1301, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 54, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1313, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 54, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1290, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 66, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1302, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 66, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1314, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 66, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1291, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 78, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1303, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 78, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1315, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 78, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1292, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 96, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1304, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 96, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1316, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 96, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1293, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 108, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1305, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 108, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1317, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 108, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1294, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 120, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1306, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 120, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1318, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 120, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1295, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 132, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1307, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 132, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1319, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 132, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1296, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 150, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1308, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 150, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1320, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 150, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1297, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 162, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1309, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 162, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1321, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 162, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1298, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 174, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1310, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 174, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1322, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 174, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1299, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 60, 186, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1311, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 103, 186, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "", 1323, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 146, 186, 40, 12 , WS_EX_CLIENTEDGE
   CONTROL "F1: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 41, 26, 12 
   CONTROL "F2: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 54, 26, 12 
   CONTROL "F3: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 66, 26, 12 
   CONTROL "F4: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 78, 26, 12 
   CONTROL "F5: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 96, 26, 12 
   CONTROL "F6: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 109, 26, 12 
   CONTROL "F7: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 121, 26, 12 
   CONTROL "F8: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 133, 26, 12 
   CONTROL "F9: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 149, 26, 12 
   CONTROL "F10: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 163, 26, 12 
   CONTROL "F11: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 175, 26, 12 
   CONTROL "F12: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 32, 187, 26, 12 
   CONTROL "For the gate column, it is also possible to set the values Tie and Legato using \"T\" and \"L\" respectively.", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 192, 42, 62, 62 
   CONTROL "&Change only one note within a gate scope", 1407, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 188, 146, 68, 35 
}
