297 DIALOGEX 0, 0, 257, 200
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL "ファンクションキーを数値入力に使用する(&E)", 1168, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 0, 0, 151, 10 
   CONTROL "補助キー(&K) :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 3, 14, 49, 12 
   CONTROL "", 1391, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 53, 13, 100, 78 
   CONTROL "Step", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 53, 29, 40, 8 
   CONTROL "Gate", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 96, 29, 40, 8 
   CONTROL "Velocity", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 139, 29, 40, 8 
   CONTROL "", 1279, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 39, 40, 12 , 0x00000200
   CONTROL "", 1300, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 39, 40, 12 , 0x00000200
   CONTROL "", 1312, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 39, 40, 12 , 0x00000200
   CONTROL "", 1289, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 51, 40, 12 , 0x00000200
   CONTROL "", 1301, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 51, 40, 12 , 0x00000200
   CONTROL "", 1313, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 51, 40, 12 , 0x00000200
   CONTROL "", 1290, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 63, 40, 12 , 0x00000200
   CONTROL "", 1302, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 63, 40, 12 , 0x00000200
   CONTROL "", 1314, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 63, 40, 12 , 0x00000200
   CONTROL "", 1291, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 75, 40, 12 , 0x00000200
   CONTROL "", 1303, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 75, 40, 12 , 0x00000200
   CONTROL "", 1315, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 75, 40, 12 , 0x00000200
   CONTROL "", 1292, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 93, 40, 12 , 0x00000200
   CONTROL "", 1304, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 93, 40, 12 , 0x00000200
   CONTROL "", 1316, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 93, 40, 12 , 0x00000200
   CONTROL "", 1293, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 105, 40, 12 , 0x00000200
   CONTROL "", 1305, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 105, 40, 12 , 0x00000200
   CONTROL "", 1317, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 105, 40, 12 , 0x00000200
   CONTROL "", 1294, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 117, 40, 12 , 0x00000200
   CONTROL "", 1306, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 117, 40, 12 , 0x00000200
   CONTROL "", 1318, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 117, 40, 12 , 0x00000200
   CONTROL "", 1295, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 129, 40, 12 , 0x00000200
   CONTROL "", 1307, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 129, 40, 12 , 0x00000200
   CONTROL "", 1319, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 129, 40, 12 , 0x00000200
   CONTROL "", 1296, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 147, 40, 12 , 0x00000200
   CONTROL "", 1308, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 147, 40, 12 , 0x00000200
   CONTROL "", 1320, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 147, 40, 12 , 0x00000200
   CONTROL "", 1297, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 159, 40, 12 , 0x00000200
   CONTROL "", 1309, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 159, 40, 12 , 0x00000200
   CONTROL "", 1321, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 159, 40, 12 , 0x00000200
   CONTROL "", 1298, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 171, 40, 12 , 0x00000200
   CONTROL "", 1310, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 171, 40, 12 , 0x00000200
   CONTROL "", 1322, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 171, 40, 12 , 0x00000200
   CONTROL "", 1299, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 53, 183, 40, 12 , 0x00000200
   CONTROL "", 1311, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 96, 183, 40, 12 , 0x00000200
   CONTROL "", 1323, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 139, 183, 40, 12 , 0x00000200
   CONTROL "F1 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 38, 26, 12 
   CONTROL "F2 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 51, 26, 12 
   CONTROL "F3 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 63, 26, 12 
   CONTROL "F4 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 75, 26, 12 
   CONTROL "F5 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 93, 26, 12 
   CONTROL "F6 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 106, 26, 12 
   CONTROL "F7 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 118, 26, 12 
   CONTROL "F8 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 130, 26, 12 
   CONTROL "F9 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 146, 26, 12 
   CONTROL "F10 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 160, 26, 12 
   CONTROL "F11 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 172, 26, 12 
   CONTROL "F12 :  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 184, 26, 12 
   CONTROL "Gate欄では以下の指定も可能です。\n\nT : タイ\nL : レガート", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 184, 39, 62, 62 
   CONTROL "Gate列でファンクションキーを使った場合は常に単音を変更する(&S)", 1407, BUTTON, BS_AUTOCHECKBOX | BS_TOP | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 183, 147, 72, 35 
}

