304 DIALOG 0, 0, 354, 303
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "リアルタイム録音 詳細設定"
LANGUAGE LANG_JAPANESE, 0x1
FONT 9, "MS UI Gothic"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 243, 282, 50, 14 
   CONTROL "キャンセル", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 297, 282, 50, 14 
   CONTROL "PCキーボードカスタマイズ(&K)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 145, 267 
   CONTROL "List1", 1334, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 29, 130, 221 
   CONTROL "選択キークリア", 1340, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 252, 50, 14 
   CONTROL "項目を選択し、キーを入力してください。", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 20, 114, 8 
   CONTROL "画面レイアウト(&L)", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 7, 188, 33 
   CONTROL "標準", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 21, 30, 10 
   CONTROL "横長", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 236, 21, 30, 10 
   CONTROL "その他の設定", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 45, 188, 229 
   CONTROL "録音画面表示時に自動的に録音を開始する(&R)", 1447, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 167, 60, 172, 10 
   CONTROL "停止時に自動的に録音画面を閉じる(&C)", 1448, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 167, 73, 173, 10 
}

