304 DIALOG 0, 0, 354, 303
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Real-Time Recording Configuration"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 243, 282, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 297, 282, 50, 14 
   CONTROL "PC &Keyboard Customization", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 145, 267 
   CONTROL "List1", 1334, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 29, 130, 221 
   CONTROL "Unbind", 1340, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 252, 50, 14 
   CONTROL "Keybinds: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 20, 114, 8 
   CONTROL "Window &Layout", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 7, 188, 33 
   CONTROL "Vertical", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 167, 21, 50, 10 
   CONTROL "Horizontal", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 236, 21, 50, 10 
   CONTROL "Other Settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 45, 188, 229 
   CONTROL "Automatically &start recording as soon as Real-Time Recording window shows", 1447, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 167, 60, 172, 19 
   CONTROL "Automatically &close Real-Time Recording as soon as it stops", 1448, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 167, 82, 173, 19 
}
