304 DIALOG 0, 0, 295, 251
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Realtime Recording Configuration"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 225, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 234, 225, 50, 14 
   CONTROL "Virtual &Keyboard Customization", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 145, 238 
   CONTROL "List1", 1334, "SysListView32", LVS_REPORT | LVS_SINGLESEL | LVS_SHOWSELALWAYS | LVS_NOSORTHEADER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 14, 29, 130, 192 
   CONTROL "Unbind", 1340, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 94, 225, 50, 14 
   CONTROL "Keybinds: ", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 14, 20, 114, 8 
   CONTROL "Window &Layout", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 7, 131, 33 
   CONTROL "Vertical", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 172, 21, 47, 10 
   CONTROL "Horizontal", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 231, 21, 52, 10 
   CONTROL "Other Settings", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 159, 47, 131, 79 
   CONTROL "Automatically &start recording as soon as Realtime Recording window shows", 1447, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 60, 106, 24 
   CONTROL "Automatically &close Realtime Recording as soon as it stops", 1448, BUTTON, BS_AUTOCHECKBOX | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 170, 91, 102, 24 
}
