306 DIALOG 0, 0, 523, 145
STYLE DS_SETFONT | DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Real-Time Recording"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Range", 1433, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 4, 4, 141, 138 
   CONTROL "&Beginning", 1133, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 16, 55, 10 
   CONTROL "", 1134, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10, 27, 60, 14 
   CONTROL "Spin1", 1135, "msctls_updown32", UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 61, 17, 9, 14 
   CONTROL "", 1136, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 10, 42, 60, 93 
   CONTROL "&End", 1137, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 79, 16, 54, 10 
   CONTROL "", 1138, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 79, 27, 60, 14 
   CONTROL "Spin1", 1139, "msctls_updown32", UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 136, 17, 9, 14 
   CONTROL "", 1140, LISTBOX, LBS_NOTIFY | LBS_NOINTEGRALHEIGHT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_VSCROLL | WS_TABSTOP, 79, 42, 60, 93 
   CONTROL "Options", 1442, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 149, 4, 159, 104 
   CONTROL "&Metronome ", 1144, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 16, 58, 10 
   CONTROL "&Configure...", 1145, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 215, 13, 50, 14 
   CONTROL "Start recording on &input", 1148, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 155, 30, 87, 10 
   CONTROL "Visible Notes", 1430, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 245, 30, 57, 10 
   CONTROL "&Tempo: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 169, 43, 46, 14 
   CONTROL "", 1146, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 215, 43, 40, 14 
   CONTROL "Spin3", 1147, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 245, 41, 9, 14 
   CONTROL "%", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 257, 43, 13, 14 
   CONTROL "Ad&just start pos. by: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 151, 59, 64, 14 
   CONTROL "", 1142, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 215, 59, 40, 14 
   CONTROL "Spin1", 1143, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 253, 56, 9, 14 
   CONTROL "measures prior", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 257, 59, 46, 14 
   CONTROL "Mo&de: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 151, 74, 64, 14 
   CONTROL "", 1345, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 215, 75, 58, 73 
   CONTROL "Config...", 1346, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 275, 74, 30, 14 
   CONTROL "&Quantize Ticks: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 151, 90, 64, 14 
   CONTROL "", 1347, COMBOBOX, CBS_DROPDOWNLIST | CBS_OWNERDRAWVARIABLE | CBS_HASSTRINGS | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 215, 90, 70, 162 
   CONTROL "&Loop", 1339, BUTTON, BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 149, 112, 50, 14 
   CONTROL "Co&nfigure...", 1336, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 112, 50, 14 
   CONTROL "Toggle Kyb.", 1337, BUTTON, BS_AUTOCHECKBOX | BS_PUSHLIKE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 258, 112, 50, 14 
   CONTROL "Start ", 1141, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 149, 128, 50, 14 
   CONTROL "&Preview", 1113, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 204, 128, 50, 14 
   CONTROL "&Stop", 1114, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 258, 128, 50, 14 
   CONTROL "", 1338, STATIC, SS_ETCHEDVERT | WS_CHILD | WS_VISIBLE, 312, 4, 1, 140 
   CONTROL "&Velocity: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 329, 4, 45, 14 
   CONTROL "", 1043, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 373, 4, 40, 14 
   CONTROL "Spin1", 1023, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 414, 4, 9, 14 
   CONTROL "", 1184, STATIC, SS_BLACKFRAME | WS_CHILD | WS_VISIBLE, 317, 39, 201, 88 
   CONTROL "&Octave: ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 329, 20, 45, 14 
   CONTROL "", 1044, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 373, 20, 40, 14 
   CONTROL "Spin1", 1024, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 414, 20, 9, 14 
}
