307 DIALOG 0, 0, 257, 200
STYLE WS_CHILD
CAPTION ""
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "SMF読み込み", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 0, 257, 84 
   CONTROL "読み込んで良いかの確認(&F):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 13, 133, 12 
   CONTROL "", 1459, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 13, 110, 78 
   CONTROL "BankSelectMSB/LSBとPC(&P):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 29, 133, 12 
   CONTROL "", 1460, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 29, 110, 78 
   CONTROL "CCマクロ復元(&R):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 45, 133, 12 
   CONTROL "", 1457, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 45, 110, 78 
   CONTROL "先頭ポート(&T):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 61, 133, 12 
   CONTROL "", 1458, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 61, 110, 78 
   CONTROL "ノートとノートが重なっていた場合(&O):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 102, 133, 12 
   CONTROL "", 1461, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 102, 110, 78 
   CONTROL "書き出すトラック(&E):  ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 5, 118, 133, 12 
   CONTROL "", 1462, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 138, 118, 110, 78 
   CONTROL "SMF書き出し", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 0, 89, 257, 51 
}

