311 DIALOG 0, 0, 235, 94
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Control Change Macro Restoration"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Stop", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 92, 73, 50, 14 
   CONTROL "0 %", 1455, STATIC, SS_RIGHT | WS_CHILD | WS_VISIBLE | WS_GROUP, 184, 57, 44, 8 
   CONTROL "Progress1", 1456, "msctls_progress32", PBS_SMOOTH | WS_CHILD | WS_VISIBLE | WS_BORDER, 7, 42, 221, 14 
   CONTROL "Analyzing MIDI data...\n\nThis could take several moments.", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 7, 221, 29
}

