317 DIALOG 0, 0, 376, 188
STYLE DS_SETFONT | WS_CHILD | WS_CLIPSIBLINGS
CAPTION "import events"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Paste &Mode:  ", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 149, 52, 12 
   CONTROL "", 1034, COMBOBOX, CBS_DROPDOWNLIST | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 186, 149, 99, 191 
   CONTROL "Tree1", 1017, "SysTreeView32", TVS_HASBUTTONS | TVS_HASLINES | TVS_SHOWSELALWAYS | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 23, 109, 69 
   CONTROL "&Favorites:  ", -1, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 127, 5, 47, 12 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWN | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 185, 5, 139, 191 
   CONTROL "S", 1035, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 326, 4, 16, 15 
   CONTROL "D", 1036, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 342, 4, 16, 15 
   CONTROL "Static", 1119, STATIC, SS_LEFT | WS_CHILD | WS_GROUP, 120, 22, 255, 126 
   CONTROL "&Set current folder list as default", 1468, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 5, 109, 14 
   CONTROL "", 1338, STATIC, SS_ETCHEDVERT | WS_CHILD | WS_VISIBLE, 118, 5, 1, 132 
   CONTROL "Register", 1479, BUTTON, BS_PUSHBUTTON | BS_MULTILINE | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 5, 95, 50, 14 
   CONTROL "Remove", 1478, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 64, 95, 50, 14 
   CONTROL "&Preview", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 167, 50, 14 
   CONTROL "Revert", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 179, 167, 50, 14 
}
