320 DIALOG 0, 0, 235, 245
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Pattern Slice"
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
FONT 9, "MS Sans Serif"
{
   CONTROL "Pattern", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 7, 221, 154 
   CONTROL "Capture from an existing note arrangement", 1075, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 21, 203, 10 
   CONTROL "&Use a registered pattern entry", 1054, BUTTON, BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 16, 125, 163, 10 
   CONTROL "Prepare an arrangement of notes within a measure. Each key press is recorded as a slice position.", 1543, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 36, 35, 177, 22 
   CONTROL "Measure to capture: ", 1544, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 61, 98, 14 
   CONTROL "", 1498, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 125, 61, 40, 14 
   CONTROL "Spin1", 1499, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 154, 55, 10, 14 
   CONTROL "&Error Margin: ", 1545, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 26, 81, 98, 14 
   CONTROL "", 1500, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 125, 81, 40, 14 
   CONTROL "Spin1", 1501, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 154, 75, 10, 14 
   CONTROL "Tick(s)", 1512, STATIC, SS_LEFT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 166, 81, 18, 14 
   CONTROL "Register...", 1540, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 125, 99, 89, 14 
   CONTROL "", 1033, COMBOBOX, CBS_DROPDOWNLIST | CBS_SORT | WS_CHILD | WS_VISIBLE | WS_VSCROLL | WS_TABSTOP, 36, 139, 122, 191 
   CONTROL "&Delete", 1027, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 159, 139, 50, 14 
   CONTROL "Slice Target", -1, BUTTON, BS_GROUPBOX | WS_CHILD | WS_VISIBLE, 7, 166, 221, 51 
   CONTROL "Measure(s): ", -1, STATIC, SS_RIGHT | SS_CENTERIMAGE | WS_CHILD | WS_VISIBLE | WS_GROUP, 16, 179, 79, 14 
   CONTROL "", 1494, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 95, 179, 40, 14 
   CONTROL "Spin1", 1495, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 125, 174, 10, 14 
   CONTROL "-", -1, STATIC, SS_CENTER | WS_CHILD | WS_VISIBLE | WS_GROUP, 135, 182, 12, 8 
   CONTROL "", 1496, EDIT, ES_LEFT | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 147, 179, 40, 14 
   CONTROL "Spin1", 1497, "msctls_updown32", UDS_SETBUDDYINT | UDS_ALIGNRIGHT | UDS_AUTOBUDDY | UDS_ARROWKEYS | UDS_NOTHOUSANDS | WS_CHILD | WS_VISIBLE, 177, 174, 10, 14 
   CONTROL "Mirror &Velocity values", 1542, BUTTON, BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 199, 191, 10 
   CONTROL "OK", 1, BUTTON, BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 124, 224, 50, 14 
   CONTROL "Cancel", 2, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 178, 224, 50, 14 
   CONTROL "&Preview", 1023, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 7, 224, 50, 14 
   CONTROL "Stop", 1024, BUTTON, BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 61, 224, 50, 14 
}
