128 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
POPUP "ファイル(&F)"
{
	MENUITEM "新規作成(&N)",  57600
	MENUITEM "開く(&O)...",  57601
	MENUITEM "上書き保存(&S)",  57603
	MENUITEM "名前を付けて保存(&A)...",  57604
	MENUITEM SEPARATOR
	MENUITEM "曲のプロパティ(&P)...",  32792
	MENUITEM SEPARATOR
	MENUITEM "SMF書き出し(&M)...",  32794
	MENUITEM "SMF書き出しの再実行(&W)",  33323
	MENUITEM SEPARATOR
	MENUITEM "パーツ読み込み(&T)...",  33322
	MENUITEM "パーツ書き出し(&V)...",  33321
	MENUITEM SEPARATOR
	MENUITEM "環境設定(&E)...",  32793
	MENUITEM "環境設定のインポート(&I)...",  33310
	MENUITEM "環境設定のエクスポート(&R)...",  33311
	MENUITEM SEPARATOR
	POPUP "最近使ったファイル(&H)"
	{
		MENUITEM "00",  32771
		MENUITEM "01",  32772
		MENUITEM "02",  32773
		MENUITEM "03",  32774
		MENUITEM "04",  32775
		MENUITEM "05",  32776
		MENUITEM "06",  32777
		MENUITEM "07",  32778
		MENUITEM "08",  32779
		MENUITEM "09",  32780
		MENUITEM "10",  32781
		MENUITEM "11",  32782
		MENUITEM "12",  32783
		MENUITEM "13",  32784
		MENUITEM "14",  32785
		MENUITEM "15",  32786
		MENUITEM "16",  32787
		MENUITEM "17",  32788
		MENUITEM "18",  32789
		MENUITEM "19",  32790
		MENUITEM SEPARATOR
		MENUITEM "クリア(&C)",  32791
	}
	MENUITEM SEPARATOR
	MENUITEM "終了(&X)",  57665
}
POPUP "編集(&E)"
{
	MENUITEM "元に戻す(&U)",  57643
	MENUITEM "やり直し(&R)",  57644
	MENUITEM SEPARATOR
	MENUITEM "切り取り(&T)",  57635
	MENUITEM "切り取り(詰める)(&W)",  33290
	MENUITEM SEPARATOR
	MENUITEM "コピー(&C)",  57634
	MENUITEM SEPARATOR
	MENUITEM "貼り付け(&P)",  57637
	MENUITEM "挿入貼り付け(&I)",  32796
	MENUITEM "置換貼り付け(&B)",  33318
	MENUITEM SEPARATOR
	MENUITEM "削除(&D)",  32795
	MENUITEM "削除(詰める)(&Q)",  33136
	MENUITEM "一つ前のイベントを削除(&2)",  33128
	MENUITEM "一つ前のイベントを削除(詰める)(&3)",  33129
	MENUITEM SEPARATOR
	POPUP "選択範囲(&E)"
	{
		MENUITEM "すべて選択(&A)",  57642
		MENUITEM "範囲の選択(&S)...",  33087
		MENUITEM "次の小節まで選択(&X)",  33291
		MENUITEM "前の小節まで選択(&P)",  33292
		MENUITEM SEPARATOR
		MENUITEM "選択範囲の絞り込み(&F)...",  33045
		MENUITEM "ノートのみ選択(&N)",  33124
		MENUITEM SEPARATOR
		MENUITEM "選択の解除(&D)",  32797
	}
	MENUITEM SEPARATOR
	MENUITEM "時間挿入(&N)",  32798
	MENUITEM "時間削除(&L)",  32799
	MENUITEM SEPARATOR
	MENUITEM "リアルタイム録音(&M)...",  32800
	MENUITEM "ステップ録音(&S)...",  32801
	MENUITEM "エクスクルーシブ受信(&X)",  32802
	MENUITEM SEPARATOR
	MENUITEM "変数表(&V)...",  33019
	MENUITEM SEPARATOR
	MENUITEM "Stepロック設定(&O)",  32805
	MENUITEM "Stepロック解除(&K)",  32806
	MENUITEM SEPARATOR
	MENUITEM "検索(&F)...",  33358
}
POPUP "表示(&V)"
{
	POPUP "表示倍率(&Z)"
	{
		MENUITEM "X軸 - ズームイン(&I)",  32807
		MENUITEM "X軸 - ズームアウト(&O)",  32808
		MENUITEM SEPARATOR
		MENUITEM "Y軸 - ズームイン(&T)",  32809
		MENUITEM "Y軸 - ズームアウト(&B)",  32810
	}
	MENUITEM SEPARATOR
	POPUP "ツールバー(&T)"
	{
		MENUITEM "メインツールバー(&T)",  32804
		MENUITEM "エディットツールバー(&O)",  33017
		MENUITEM "デフォルトGate/Veloツールバー(&D)",  33076
		MENUITEM "イベントリストフィルターツールバー(&F)",  33120
		MENUITEM "イベントリストMIDI入力ツールバー(&L)",  33284
		MENUITEM SEPARATOR
		MENUITEM "ユーザー定義ツールバー(&1)",  33042
		MENUITEM "ユーザー定義ツールバー(&2)",  33044
		MENUITEM SEPARATOR
		MENUITEM "カスタマイズ(&C)...",  33016
	}
	MENUITEM "マークバー(&M)",  32811
	MENUITEM "トラックモニターバー(&C)",  33050
	MENUITEM "トラックモニターバーのカスタマイズ(&X)...",  33051
	MENUITEM "トラックバー(&R)",  32812
	MENUITEM "ファンクションキーバー(&K)",  33276
	MENUITEM "ステータスバー(&S)",  59393
	MENUITEM SEPARATOR
	MENUITEM "バー位置の固定(&O)",  33078
	MENUITEM SEPARATOR
	POPUP "ピアノロールペイン(&P)"
	{
		POPUP "オニオンスキン(&O)"
		{
			MENUITEM "ピアノロールオニオンスキン機能を使う(&U)",  32821
			MENUITEM SEPARATOR
			MENUITEM "ピアノロールに前のトラックを表示(&P)",  32822
			MENUITEM "ピアノロールに次のトラックを表示(&N)",  32823
			MENUITEM "ピアノロールに指定のトラックを表示(&O)...",  32824
			MENUITEM "ピアノロールに同じ色のトラックを表示(&C)",  33296
			MENUITEM SEPARATOR
			MENUITEM "設定をトラック毎に記憶する(&S)",  33082
		}
		MENUITEM "スケール/コードを表示(&S)",  33049
		POPUP "スクロール(&R)"
		{
			MENUITEM "上へ(&U)",  33132
			MENUITEM "下へ(&D)",  33133
			MENUITEM "左へ(&L)",  33134
			MENUITEM "右へ(&R)",  33135
			MENUITEM SEPARATOR
			MENUITEM "スクロール量の設定(&C)...",  33137
		}
		MENUITEM "演奏中に自動で改ページする(&P)",  33333
	}
	POPUP "イベントリストペイン(&E)"
	{
		MENUITEM "イベントリストペイン(&E)",  32816
		MENUITEM "イベントリストペインにフォーカスを移動(&O)",  33043
		MENUITEM SEPARATOR
		MENUITEM "カーソル位置と演奏位置の同期(&S)",  33079
		MENUITEM SEPARATOR
		POPUP "フィルター(&F)"
		{
			MENUITEM "フィルター詳細設定(&P)...",  33098
			MENUITEM SEPARATOR
			MENUITEM "フィルター機能を使う(&E)",  33099
			MENUITEM "リセット(&R)",  33100
			MENUITEM SEPARATOR
			MENUITEM "ノートイベント(&N)",  33101
			MENUITEM "プログラムチェンジイベント(&O)",  33102
			POPUP "コントロールチェンジイベント(&C)"
			{
				MENUITEM "全コントロールチェンジイベント(&C)",  33121
				MENUITEM SEPARATOR
				MENUITEM "&Pitch Bend",  33105
				MENUITEM "&Modulation",  33106
				MENUITEM "&Expression",  33107
				MENUITEM "V&olume",  33108
				MENUITEM "Pa&npot",  33109
				MENUITEM "&Hold",  33110
				MENUITEM "&LPF Cutoff Frequency",  33111
				MENUITEM "LPF &Resonance",  33112
				MENUITEM "Ma&ster Volume",  33113
			}
			MENUITEM "エクスクルーシブイベント(&X)",  33114
			MENUITEM "コメントイベント(&T)",  33115
			MENUITEM "変数代入式イベント(&F)",  33116
			MENUITEM "歌詞イベント(&L)",  33118
			MENUITEM "キューポイントイベント(&U)",  33119
			MENUITEM "メジャーリンクイベント(&K)",  33316
			MENUITEM "テンポイベント(&M)",  33117
			MENUITEM "拍子イベント(&I)",  33351
			MENUITEM "調号イベント(&Y)",  33352
			MENUITEM "スケールイベント(&S)",  33353
			MENUITEM "コードイベント(&D)",  33354
			MENUITEM "マークイベント(&A)",  33355
		}
		MENUITEM SEPARATOR
		MENUITEM "項目の幅をリセット(&R)",  33086
	}
	POPUP "イベントグラフペイン1(&N)"
	{
		MENUITEM "イベントグラフペイン1(&C)",  32817
		MENUITEM "アンカー(&A)",  32973
		MENUITEM "オニオンスキン(&K)...",  33260
		MENUITEM SEPARATOR
		MENUITEM "&Velocity",  32819
		MENUITEM "&Pitch Bend",  32988
		MENUITEM "&Modulation",  32989
		MENUITEM "&Expression",  32990
		MENUITEM "V&olume",  32991
		MENUITEM "Pa&npot",  32992
		MENUITEM "&Hold",  32993
		MENUITEM "&LPF Cutoff Frequency",  32994
		MENUITEM "LPF &Resonance",  32995
		MENUITEM "Ma&ster Volume",  32996
	}
	POPUP "イベントグラフペイン2(&B)"
	{
		MENUITEM "イベントグラフペイン2(&C)",  32818
		MENUITEM "アンカー(&A)",  32974
		MENUITEM "オニオンスキン(&K)...",  33261
		MENUITEM SEPARATOR
		MENUITEM "&Velocity",  32820
		MENUITEM "&Pitch Bend",  32977
		MENUITEM "&Modulation",  32979
		MENUITEM "&Expression",  32980
		MENUITEM "V&olume",  32982
		MENUITEM "Pa&npot",  32983
		MENUITEM "&Hold",  32984
		MENUITEM "&LPF Cutoff Frequency",  32985
		MENUITEM "LPF &Resonance",  32986
		MENUITEM "Ma&ster Volume",  32987
	}
	MENUITEM "トラックセレクトペイン(&A)",  33122
	MENUITEM SEPARATOR
	MENUITEM "トラックリスト(&L)",  32813
	MENUITEM SEPARATOR
	MENUITEM "演奏モニター(&F)",  33125
	MENUITEM "演奏モニターをリセット(&J)",  33293
	MENUITEM SEPARATOR
	MENUITEM "アウトプットペイン(&U)",  32814
	MENUITEM SEPARATOR
	MENUITEM "各ペインのサイズをリセット(&I)",  33018
}
POPUP "挿入(&I)"
{
	MENUITEM "ノート(&N)",  32826
	MENUITEM "プログラムチェンジ(&P)",  32827
	MENUITEM "コントロールチェンジ(&C)",  32828
	MENUITEM "コントロールチェンジ（複数）(&G)",  33046
	MENUITEM "エクスクルーシブ(&E)",  32829
	MENUITEM "コメント(&M)",  32830
	MENUITEM "歌詞(&L)",  33036
	MENUITEM "キューポイント(&U)",  33037
	MENUITEM "変数代入式(&F)",  32831
	MENUITEM "メジャーリンク(&R)",  33314
	MENUITEM SEPARATOR
	MENUITEM "テンポ(&T)",  32997
	MENUITEM "拍子(&B)",  32803
	MENUITEM "調号(&K)",  33123
	MENUITEM "スケール(&S)",  33335
	MENUITEM "コード(&O)",  33336
	MENUITEM SEPARATOR
	MENUITEM "歌詞の流し込み(&Y)...",  33343
	MENUITEM SEPARATOR
	MENUITEM "MIDI INの情報からノートを挿入(&D)",  33126
	MENUITEM SEPARATOR
	MENUITEM "テンプレート(&A)...",  32832
	MENUITEM SEPARATOR
	POPUP "CC / テンポの値(&V)"
	{
		POPUP "イベントグラフ1(&1)"
		{
			MENUITEM "4",  33029
			MENUITEM "3",  33028
			MENUITEM "2",  33027
			MENUITEM "1",  33026
			MENUITEM "0",  33025
		}
		POPUP "イベントグラフ2(&2)"
		{
			MENUITEM "4",  33034
			MENUITEM "3",  33033
			MENUITEM "2",  33032
			MENUITEM "1",  33031
			MENUITEM "0",  33030
		}
	}
	MENUITEM SEPARATOR
	MENUITEM "選択範囲へ直線・曲線を入力(&I)...",  32843
	MENUITEM SEPARATOR
	POPUP "イベントリストMIDI入力(&H)"
	{
		MENUITEM "イベントリストMIDI入力を有効にする(&E)",  33277
		MENUITEM SEPARATOR
		MENUITEM "置き換え(&R)",  33278
		MENUITEM "挿入(&I)",  33279
		MENUITEM "追加(&A)",  33280
		MENUITEM SEPARATOR
		MENUITEM "単音ずつ反映(&M)",  33281
		MENUITEM "Velocityの反映(&V)",  33282
		MENUITEM "Note番号の反映(&N)",  33283
	}
}
POPUP "イベント(&N)"
{
	MENUITEM "スライス(&S)",  32838
	MENUITEM "スライス（切り捨て）(&L)",  32839
	MENUITEM "パターンスライス(&A)...",  33328
	MENUITEM SEPARATOR
	MENUITEM "一括変更(&B)...",  32840
	MENUITEM "トランスポーズ(&R)...",  32841
	MENUITEM "クォンタイズ(&Q)...",  32842
	MENUITEM "ストローク(&T)...",  32844
	MENUITEM "ヒューマナイズ(&H)...",  33097
	MENUITEM "レガート(&M)",  33273
	MENUITEM "結合(&4)",  33329
	MENUITEM "左右反転(&3)",  33324
	MENUITEM "ベロシティコンプレッサ(&C)...",  33325
	MENUITEM SEPARATOR
	MENUITEM "1オクターブ上げる(&O)",  32845
	MENUITEM "1オクターブ下げる(&W)",  32846
	MENUITEM SEPARATOR
	MENUITEM "タイムストレッチ(&5)...",  33338
	MENUITEM "コントロールチェンジの置換(&V)...",  33294
	MENUITEM "コントロールチェンジの置換（複数）(&Y)...",  33317
	MENUITEM "オニオンスキンノートの複製(&N)",  33095
	MENUITEM "タップテンポ＆フィット(&U)...",  33289
	MENUITEM "重複ノートのGate一括補正(&X)...",  33313
	MENUITEM "メジャーリンクイベントの復元(&Z)",  33315
	MENUITEM "ハモリパートの生成(&6)...",  33344
	MENUITEM SEPARATOR
	POPUP "Vel/Valueの調整(&7)"
	{
		MENUITEM "小単位で加える(&S)",  33345
		MENUITEM "小単位で引く(&I)",  33346
		MENUITEM SEPARATOR
		MENUITEM "中単位で加える(&M)",  33347
		MENUITEM "中単位で引く(&E)",  33348
		MENUITEM SEPARATOR
		MENUITEM "大単位で加える(&L)",  33349
		MENUITEM "大単位で引く(&A)",  33350
	}
	MENUITEM SEPARATOR
	MENUITEM "End of Trackの調節(&D)",  32849
	MENUITEM SEPARATOR
	POPUP "イベントリストのイベント(&E)"
	{
		MENUITEM "プロパティ(&P)...",  32848
		MENUITEM SEPARATOR
		MENUITEM "イベントグラフペイン1で表示(&1)",  33308
		MENUITEM "イベントグラフペイン2で表示(&2)",  33309
		MENUITEM SEPARATOR
		MENUITEM "イベントの送信(&E)",  33047
		MENUITEM "ノートイベントの発音(&F)",  33265
		MENUITEM "ノートイベント（和音）の発音(&G)",  33266
		MENUITEM SEPARATOR
		MENUITEM "値の再編集(&J)",  32847
		POPUP "値の調整(&K)"
		{
			MENUITEM "小単位で加える(&S)",  33038
			MENUITEM "小単位で引く(&I)",  33039
			MENUITEM SEPARATOR
			MENUITEM "中単位で加える(&M)",  33040
			MENUITEM "中単位で引く(&E)",  33041
			MENUITEM SEPARATOR
			MENUITEM "大単位で加える(&L)",  33274
			MENUITEM "大単位で引く(&A)",  33275
		}
		POPUP "値の倍入力モード(&I)"
		{
			MENUITEM "桁を上げる(&U)",  33263
			MENUITEM "桁を下げる(&D)",  33264
		}
	}
}
POPUP "ツール(&T)"
{
	MENUITEM "ペン(&P)",  32850
	MENUITEM "選択(&S)",  32851
	MENUITEM "消しゴム(&E)",  32852
	MENUITEM SEPARATOR
	MENUITEM "ペン/選択ツールの切り替え(&W)",  32853
	MENUITEM SEPARATOR
	POPUP "コード入力支援(&C)"
	{
		MENUITEM "設定(&C)...",  33139
		MENUITEM SEPARATOR
		MENUITEM "通常入力に戻す(&E)",  33138
		MENUITEM SEPARATOR
		POPUP "コード一覧(&L)"
		{
			MENUITEM "No.001",  33140
			MENUITEM "No.002",  33141
			MENUITEM "No.003",  33142
			MENUITEM "No.004",  33143
			MENUITEM "No.005",  33144
			MENUITEM "No.006",  33145
			MENUITEM "No.007",  33146
			MENUITEM "No.008",  33147
			MENUITEM "No.009",  33148
			MENUITEM "No.010",  33149
			MENUITEM "No.011",  33150
			MENUITEM "No.012",  33151
			MENUITEM "No.013",  33152
			MENUITEM "No.014",  33153
			MENUITEM "No.015",  33154
			MENUITEM "No.016",  33155
			MENUITEM "No.017",  33156
			MENUITEM "No.018",  33157
			MENUITEM "No.019",  33158
			MENUITEM "No.020",  33159
			MENUITEM "No.021",  33160
			MENUITEM "No.022",  33161
			MENUITEM "No.023",  33162
			MENUITEM "No.024",  33163
			MENUITEM "No.025",  33164
			MENUITEM "No.026",  33165
			MENUITEM "No.027",  33166
			MENUITEM "No.028",  33167
			MENUITEM "No.029",  33168
			MENUITEM "No.030",  33169
			MENUITEM "No.031",  33170,  MENUBARBREAK
			MENUITEM "No.032",  33171
			MENUITEM "No.033",  33172
			MENUITEM "No.034",  33173
			MENUITEM "No.035",  33174
			MENUITEM "No.036",  33175
			MENUITEM "No.037",  33176
			MENUITEM "No.038",  33177
			MENUITEM "No.039",  33178
			MENUITEM "No.040",  33179
			MENUITEM "No.041",  33180
			MENUITEM "No.042",  33181
			MENUITEM "No.043",  33182
			MENUITEM "No.044",  33183
			MENUITEM "No.045",  33184
			MENUITEM "No.046",  33185
			MENUITEM "No.047",  33186
			MENUITEM "No.048",  33187
			MENUITEM "No.049",  33188
			MENUITEM "No.050",  33189
			MENUITEM "No.051",  33190
			MENUITEM "No.052",  33191
			MENUITEM "No.053",  33192
			MENUITEM "No.054",  33193
			MENUITEM "No.055",  33194
			MENUITEM "No.056",  33195
			MENUITEM "No.057",  33196
			MENUITEM "No.058",  33197
			MENUITEM "No.059",  33198
			MENUITEM "No.060",  33199
			MENUITEM "No.061",  33200,  MENUBARBREAK
			MENUITEM "No.062",  33201
			MENUITEM "No.063",  33202
			MENUITEM "No.064",  33203
			MENUITEM "No.065",  33204
			MENUITEM "No.066",  33205
			MENUITEM "No.067",  33206
			MENUITEM "No.068",  33207
			MENUITEM "No.069",  33208
			MENUITEM "No.070",  33209
			MENUITEM "No.071",  33210
			MENUITEM "No.072",  33211
			MENUITEM "No.073",  33212
			MENUITEM "No.074",  33213
			MENUITEM "No.075",  33214
			MENUITEM "No.076",  33215
			MENUITEM "No.077",  33216
			MENUITEM "No.078",  33217
			MENUITEM "No.079",  33218
			MENUITEM "No.080",  33219
			MENUITEM "No.081",  33220
			MENUITEM "No.082",  33221
			MENUITEM "No.083",  33222
			MENUITEM "No.084",  33223
			MENUITEM "No.085",  33224
			MENUITEM "No.086",  33225
			MENUITEM "No.087",  33226
			MENUITEM "No.088",  33227
			MENUITEM "No.089",  33228
			MENUITEM "No.090",  33229
			MENUITEM "No.091",  33230,  MENUBARBREAK
			MENUITEM "No.092",  33231
			MENUITEM "No.093",  33232
			MENUITEM "No.094",  33233
			MENUITEM "No.095",  33234
			MENUITEM "No.096",  33235
			MENUITEM "No.097",  33236
			MENUITEM "No.098",  33237
			MENUITEM "No.099",  33238
			MENUITEM "No.100",  33239
			MENUITEM "No.101",  33240
			MENUITEM "No.102",  33241
			MENUITEM "No.103",  33242
			MENUITEM "No.104",  33243
			MENUITEM "No.105",  33244
			MENUITEM "No.106",  33245
			MENUITEM "No.107",  33246
			MENUITEM "No.108",  33247
			MENUITEM "No.109",  33248
			MENUITEM "No.110",  33249
			MENUITEM "No.111",  33250
			MENUITEM "No.112",  33251
			MENUITEM "No.113",  33252
			MENUITEM "No.114",  33253
			MENUITEM "No.115",  33254
			MENUITEM "No.116",  33255
			MENUITEM "No.117",  33256
			MENUITEM "No.118",  33257
			MENUITEM "No.119",  33258
			MENUITEM "No.120",  33259
		}
		MENUITEM SEPARATOR
		MENUITEM "コード一覧を表示(&P)",  33262
	}
	MENUITEM SEPARATOR
	POPUP "クォンタイズ(&Q)"
	{
		MENUITEM "小節",  33359
		MENUITEM "全音符",  33000
		MENUITEM "付点2分音符",  33001
		MENUITEM "2分音符",  33002
		MENUITEM "3連2分音符",  33003
		MENUITEM "付点4分音符",  33004
		MENUITEM "4分音符",  33005
		MENUITEM "3連4分音符",  33006
		MENUITEM "付点8分音符",  33007
		MENUITEM "8分音符",  33008
		MENUITEM "3連8分音符",  33009
		MENUITEM "付点16分音符",  33010
		MENUITEM "16分音符",  33011
		MENUITEM "3連16分音符",  33012
		MENUITEM "付点32分音符",  33013
		MENUITEM "32分音符",  33014
		MENUITEM "3連32分音符",  33015
		MENUITEM SEPARATOR
		MENUITEM "デフォルトGateと連動(&G)",  33295
	}
	MENUITEM "Tickクォンタイズ(&T)",  32855
	MENUITEM "Gateクォンタイズ(&G)",  32856
	MENUITEM SEPARATOR
	POPUP "デフォルトGate(&B)"
	{
		MENUITEM "全音符",  33060
		MENUITEM "付点2分音符",  33061
		MENUITEM "2分音符",  33062
		MENUITEM "3連2分音符",  33063
		MENUITEM "付点4分音符",  33064
		MENUITEM "4分音符",  33065
		MENUITEM "3連4分音符",  33066
		MENUITEM "付点8分音符",  33067
		MENUITEM "8分音符",  33068
		MENUITEM "3連8分音符",  33069
		MENUITEM "付点16分音符",  33070
		MENUITEM "16分音符",  33071
		MENUITEM "3連16分音符",  33072
		MENUITEM "付点32分音符",  33073
		MENUITEM "32分音符",  33074
		MENUITEM "3連32分音符",  33075
		MENUITEM SEPARATOR
		MENUITEM "増やす(&A)",  33267
		MENUITEM "減らす(&M)",  33268
	}
	POPUP "デフォルトVelocity(&V)"
	{
		MENUITEM "フォルティッシシモ",  33059
		MENUITEM "フォルティッシモ",  33058
		MENUITEM "フォルテ",  33057
		MENUITEM "メゾフォルテ",  33056
		MENUITEM "メゾピアノ",  33055
		MENUITEM "ピアノ",  33054
		MENUITEM "ピアニッシモ",  33053
		MENUITEM "ピアニッシシモ",  33052
		MENUITEM SEPARATOR
		MENUITEM "増やす(&A)",  33269
		MENUITEM "減らす(&M)",  33270
	}
	MENUITEM SEPARATOR
	MENUITEM "フリーハンド(&F)",  32857
	MENUITEM "直線(&L)",  32858
	MENUITEM "ゆるやかな曲線(&U)",  32859
	MENUITEM "はやい曲線(&A)",  32861
	MENUITEM "S字曲線(&D)",  33337
	MENUITEM "ランダム(&R)",  32862
	POPUP "カスタム(&Z)"
	{
		MENUITEM "編集(&E)...",  32863
		MENUITEM SEPARATOR
		MENUITEM "0",  32864
		MENUITEM "1",  32865
		MENUITEM "2",  32866
		MENUITEM "3",  32867
		MENUITEM "4",  32868
		MENUITEM "5",  32869
		MENUITEM "6",  32870
		MENUITEM "7",  32871
		MENUITEM "8",  32872
		MENUITEM "9",  32873
		MENUITEM "10",  32874
		MENUITEM "11",  32875
		MENUITEM "12",  32876
		MENUITEM "13",  32877
		MENUITEM "14",  32878
		MENUITEM "15",  32879
		MENUITEM "16",  32880
		MENUITEM "17",  32881
		MENUITEM "18",  32882
		MENUITEM "19",  32883
	}
	MENUITEM SEPARATOR
	MENUITEM "間隔設定(&I)...",  32884
	MENUITEM "ノートの直前(&N)",  32885
	MENUITEM SEPARATOR
	POPUP "イベントグラフ1(&1)"
	{
		MENUITEM "アンカー上下移動のみ(&A)",  33320
		MENUITEM "矩形選択(&Y)",  33331
	}
	POPUP "イベントグラフ2(&2)"
	{
		MENUITEM "アンカー上下移動のみ(&A)",  33319
		MENUITEM "矩形選択(&Y)",  33332
	}
}
POPUP "演奏(&P)"
{
	MENUITEM "演奏開始/停止(&P)",  32886
	MENUITEM "ソロ演奏開始(&K)",  33130
	MENUITEM "小節ソロ演奏開始(&J)",  33127
	MENUITEM "小節ソロループ演奏開始(&V)",  33285
	MENUITEM "一時停止(&E)",  33048
	MENUITEM "停止(&Q)",  33131
	MENUITEM SEPARATOR
	POPUP "ループ(&L)"
	{
		MENUITEM "ループ(&L)",  32887
		MENUITEM "選択範囲優先(&S)",  33339
		MENUITEM SEPARATOR
		MENUITEM "選択範囲からループマーカーを作成(&M)",  33271
		MENUITEM "ループマーカーの削除(&D)",  33272
		MENUITEM SEPARATOR
		MENUITEM "ループマーカー開始位置へ(&B)",  33286
		MENUITEM "ループマーカー終了位置へ(&E)",  33288
	}
	POPUP "再生速度(&D)"
	{
		MENUITEM "50％",  32889
		MENUITEM "100％",  32890
		MENUITEM "150％",  32891
		MENUITEM "200％",  32892
		MENUITEM "300％",  32893
	}
	MENUITEM SEPARATOR
	MENUITEM "曲の先頭へ(&H)",  32894
	MENUITEM "二つ前の小節へ(&C)",  32998
	MENUITEM "一つ前の小節へ(&B)",  32895
	MENUITEM "クォンタイズ単位で前へ(&W)",  33326
	MENUITEM "クォンタイズ単位で次へ(&X)",  33327
	MENUITEM "一つ次の小節へ(&N)",  32896
	MENUITEM "曲の最後尾へ(&F)",  32976
	MENUITEM "演奏位置の指定(&1)...",  33340
	MENUITEM SEPARATOR
	MENUITEM "トラックの演奏(&T)",  32897
	MENUITEM "ソロ演奏(&S)",  32898
	MENUITEM "全トラック演奏(&A)",  32899
	MENUITEM SEPARATOR
	MENUITEM "MIDI機器の状態を合わせる(&Y)",  32900
	MENUITEM "MIDI機器の状態を自動的に合わせる(&O)",  33035
	MENUITEM "トラック個別設定(&R)...",  33096
	MENUITEM SEPARATOR
	MENUITEM "GMリセット送信(&G)",  33077
	MENUITEM "パニック(&Z)",  33330
	MENUITEM SEPARATOR
	MENUITEM "演奏時間の算出(&M)...",  32901
	MENUITEM SEPARATOR
	MENUITEM "演奏位置のコードを調べる(&I)",  33090
	MENUITEM SEPARATOR
	MENUITEM "低負荷演奏(&U)...",  32999
}
POPUP "トラック(&K)"
{
	MENUITEM "トラックの追加(&T)",  32902
	MENUITEM "デフォルトトラックの追加(&A)...",  33094
	MENUITEM "トラックの削除(&R)",  32903
	MENUITEM "トラックのプロパティ(&P)...",  32904
	MENUITEM SEPARATOR
	POPUP "オニオンスキンの色(&C)"
	{
		MENUITEM "自動（未指定）(&N)",  33297
		MENUITEM SEPARATOR
		MENUITEM "赤(&R)",  33298
		MENUITEM "橙(&O)",  33299
		MENUITEM "黄(&Y)",  33300
		MENUITEM "緑(&G)",  33301
		MENUITEM "水(&W)",  33302
		MENUITEM "紫(&V)",  33303
		MENUITEM "桃(&P)",  33304
	}
	MENUITEM SEPARATOR
	POPUP "表示トラックの変更(&V)"
	{
		MENUITEM "前のトラックへ(&B)",  32905
		MENUITEM "次のトラックへ(&N)",  32906
		MENUITEM SEPARATOR
		MENUITEM "前の同色トラックへ(&A)",  33306
		MENUITEM "次の同色トラックへ(&E)",  33305
	}
	MENUITEM SEPARATOR
	MENUITEM "0",  32907
	MENUITEM "1",  32908
	MENUITEM "2",  32909
	MENUITEM "3",  32910
	MENUITEM "4",  32911
	MENUITEM "5",  32912
	MENUITEM "6",  32913
	MENUITEM "7",  32914
	MENUITEM "8",  32915
	MENUITEM "9",  32916
	MENUITEM "10",  32917
	MENUITEM "11",  32918
	MENUITEM "12",  32919
	MENUITEM "13",  32920
	MENUITEM "14",  32921
	MENUITEM "15",  32922
	MENUITEM "16",  32923
	MENUITEM "17",  32924
	MENUITEM "18",  32925
	MENUITEM "19",  32926
	MENUITEM "20",  32927
	MENUITEM "21",  32928
	MENUITEM "22",  32929
	MENUITEM "23",  32930
	MENUITEM "24",  32931
	MENUITEM "25",  32932
	MENUITEM "26",  32933
	MENUITEM "27",  32934
	MENUITEM "28",  32935
	MENUITEM "29",  32936
	MENUITEM "30",  32937
	MENUITEM "31",  32938
	MENUITEM "32",  32939
	MENUITEM "33",  32940
}
POPUP "マーク(&M)"
{
	MENUITEM "マークの挿入(&A)...",  32941
	MENUITEM SEPARATOR
	MENUITEM "前のマークへ(&P)",  33342
	MENUITEM "次のマークへ(&N)",  33341
	MENUITEM SEPARATOR
	MENUITEM "0",  32943
	MENUITEM "1",  32944
	MENUITEM "2",  32945
	MENUITEM "3",  32946
	MENUITEM "4",  32947
	MENUITEM "5",  32948
	MENUITEM "6",  32949
	MENUITEM "7",  32950
	MENUITEM "8",  32951
	MENUITEM "9",  32952
	MENUITEM "10",  32953
	MENUITEM "11",  32954
	MENUITEM "12",  32955
	MENUITEM "13",  32956
	MENUITEM "14",  32957
	MENUITEM "15",  32958
	MENUITEM "16",  32959
	MENUITEM "17",  32960
	MENUITEM "18",  32961
	MENUITEM "19",  32962
	MENUITEM "20",  32963
	MENUITEM "21",  32964
	MENUITEM "22",  32965
	MENUITEM "23",  32966
	MENUITEM "24",  32967
	MENUITEM "25",  32968
	MENUITEM "26",  32969
	MENUITEM "27",  32970
	MENUITEM "28",  32971
	MENUITEM "29",  32972
}
POPUP "ヘルプ(&H)"
{
	MENUITEM "取扱説明書(&M)...",  33020
	MENUITEM SEPARATOR
	MENUITEM "公式サイトへ(&O)...",  33021
	MENUITEM SEPARATOR
	MENUITEM "不具合報告(&B)...",  33022
	MENUITEM SEPARATOR
	MENUITEM "音源定義ファイル情報(&X)...",  33024
	MENUITEM SEPARATOR
	MENUITEM "バージョン情報(&A)...",  57664
}
}
