130 MENU
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
{
	POPUP "0: output"
	{
		MENUITEM "&Copy", 32975
		MENUITEM SEPARATOR
		MENUITEM "Clea&r", 33334
	}
	POPUP "1:Curve"
	{
		MENUITEM "&Freehand", 32857
		MENUITEM "Straight &Line", 32858
		MENUITEM "Gentle Curve (&U)", 32859
		MENUITEM "F&ast Curve", 32861
		MENUITEM "S Curve (&D)", 33337
		MENUITEM "&Random", 32862
		POPUP "Presets"
		{
			MENUITEM "Setup...", 32863
			MENUITEM SEPARATOR
			MENUITEM "0", 32864
			MENUITEM "1", 32865
			MENUITEM "2", 32866
			MENUITEM "3", 32867
			MENUITEM "4", 32868
			MENUITEM "5", 32869
			MENUITEM "6", 32870
			MENUITEM "7", 32871
			MENUITEM "8", 32872
			MENUITEM "9", 32873
			MENUITEM "10", 32874
			MENUITEM "11", 32875
			MENUITEM "12", 32876
			MENUITEM "13", 32877
			MENUITEM "14", 32878
			MENUITEM "15", 32879
			MENUITEM "16", 32880
			MENUITEM "17", 32881
			MENUITEM "18", 32882
			MENUITEM "19", 32883
		}
		MENUITEM SEPARATOR
		MENUITEM "&Resolution...", 32884
		MENUITEM "Anchor To &Notes Only", 32885
	}
	POPUP "2:file"
	{
		MENUITEM "00", 32771
		MENUITEM SEPARATOR
		MENUITEM "&Clear", 32791
	}
	POPUP "3:pianoroll"
	{
		MENUITEM "Cu&t", 57635
		MENUITEM "&Copy", 57634
		MENUITEM SEPARATOR
		MENUITEM "&Paste", 57637
		MENUITEM "&Insert Paste", 32796
		MENUITEM "&Delete", 32795
		MENUITEM SEPARATOR
		MENUITEM "&Filter...", 33045
		MENUITEM SEPARATOR
		MENUITEM "I&nsert Time", 32798
		MENUITEM "De&lete Time", 32799
		MENUITEM SEPARATOR
		MENUITEM "L&ock Step", 32805
		MENUITEM "Unloc&k Step", 32806
		MENUITEM SEPARATOR
		MENUITEM "&Bulk Changes...", 32840
		MENUITEM "T&ranpose...", 32841
		MENUITEM "&Quantize...", 32842
		MENUITEM "S&troke...", 32844
		MENUITEM "&Humanize...", 33097
		MENUITEM "Legato (&M)", 33273
		MENUITEM SEPARATOR
		MENUITEM "1 &Octave Up", 32845
		MENUITEM "1 Octave Do&wn", 32846
		MENUITEM SEPARATOR
		MENUITEM "&Pen", 32850
		MENUITEM "&Select", 32851
		MENUITEM "&Eraser", 32852
	}
	POPUP "4:eventlist"
	{
		MENUITEM "Cu&t", 57635
		MENUITEM "Ripple Cut (&W)", 33290
		MENUITEM "&Copy", 57634
		MENUITEM SEPARATOR
		MENUITEM "&Paste", 57637
		MENUITEM "&Insert Paste", 32796
		MENUITEM SEPARATOR
		MENUITEM "&Delete", 32795
		MENUITEM "Ripple Delete (&Q)", 33136
		MENUITEM SEPARATOR
		MENUITEM "Select &All", 57642
		MENUITEM "&Selection Range...", 33087
		MENUITEM "&Filter...", 33045
		MENUITEM SEPARATOR
		MENUITEM "L&ock Step", 32805
		MENUITEM "Unloc&k Step", 32806
		MENUITEM SEPARATOR
		MENUITEM "&Bulk Changes...", 32840
		MENUITEM "T&ranpose...", 32841
		MENUITEM "&Quantize...", 32842
		MENUITEM "S&troke...", 32844
		MENUITEM "&Humanize...", 33097
		MENUITEM "Legato (&M)", 33273
		MENUITEM SEPARATOR
		MENUITEM "1 &Octave Up", 32845
		MENUITEM "1 Octave Do&wn", 32846
		MENUITEM SEPARATOR
		MENUITEM "Play (&E)", 33047
		MENUITEM SEPARATOR
		MENUITEM "&Properties...", 32848
	}
	POPUP "5:tracklist_roll"
	{
		MENUITEM "Cu&t", 57635
		MENUITEM "&Copy", 57634
		MENUITEM SEPARATOR
		MENUITEM "&Paste", 57637
		MENUITEM "&Insert Paste", 32796
		MENUITEM "&Delete", 32795
		MENUITEM SEPARATOR
		MENUITEM "&Filter...", 33045
		MENUITEM "&Note Selection", 33124
		MENUITEM "&Selection Range...", 33087
		MENUITEM SEPARATOR
		MENUITEM "I&nsert Time", 32798
		MENUITEM "De&lete Time", 32799
		MENUITEM SEPARATOR
		MENUITEM "&Bulk Changes...", 32840
		MENUITEM "T&ranpose...", 32841
		MENUITEM "&Quantize...", 32842
		MENUITEM "S&troke...", 32844
		MENUITEM "&Humanize...", 33097
		MENUITEM "Legato (&M)", 33273
		MENUITEM SEPARATOR
		MENUITEM "1 &Octave Up", 32845
		MENUITEM "1 Octave Do&wn", 32846
		MENUITEM SEPARATOR
		MENUITEM "&Select", 32851
		MENUITEM "&Eraser", 32852
	}
	POPUP "6:tracklist_label"
	{
		MENUITEM "Add &Track", 32902
		MENUITEM "&Add Track Set...", 33094
		MENUITEM "Remove T&rack", 32903
		MENUITEM "&Properties...", 32904
	}
	POPUP "7:onionskin"
	{
		MENUITEM "Enable Onion Skin (&U)", 32821
		MENUITEM SEPARATOR
		MENUITEM "Overlay &Previous Track", 32822
		MENUITEM "Overlay &Next Track", 32823
		MENUITEM "&Overlay Specific Track(s)...", 32824
		MENUITEM "Overlay Similar Track &Color", 33296
		MENUITEM SEPARATOR
		MENUITEM "Apply Only To Thi&s Track", 33082
	}
	POPUP "8;frame"
	{
		MENUITEM "Main Toolba&r", 32804
		MENUITEM "Editing Toolba&r", 33017
		MENUITEM "User Toolbar &1", 33042
		MENUITEM "&Customize...", 33016
		MENUITEM SEPARATOR
		MENUITEM "&Status Bar", 59393
		MENUITEM "&Marker Bar", 32811
		MENUITEM "T&rack Bar", 32812
	}
	POPUP "9:customcurve"
	{
		MENUITEM "0", 32864
	}
	POPUP "10:chord"
	{
		MENUITEM "No.001", 33140
		MENUITEM "No.002", 33141
		MENUITEM "No.003", 33142
		MENUITEM "No.004", 33143
		MENUITEM "No.005", 33144
		MENUITEM "No.006", 33145
		MENUITEM "No.007", 33146
		MENUITEM "No.008", 33147
		MENUITEM "No.009", 33148
		MENUITEM "No.010", 33149
		MENUITEM "No.011", 33150
		MENUITEM "No.012", 33151
		MENUITEM "No.013", 33152
		MENUITEM "No.014", 33153
		MENUITEM "No.015", 33154
		MENUITEM "No.016", 33155
		MENUITEM "No.017", 33156
		MENUITEM "No.018", 33157
		MENUITEM "No.019", 33158
		MENUITEM "No.020", 33159
		MENUITEM "No.021", 33160
		MENUITEM "No.022", 33161
		MENUITEM "No.023", 33162
		MENUITEM "No.024", 33163
		MENUITEM "No.025", 33164
		MENUITEM "No.026", 33165
		MENUITEM "No.027", 33166
		MENUITEM "No.028", 33167
		MENUITEM "No.029", 33168
		MENUITEM "No.030", 33169
		MENUITEM "No.031", 33170, MENUBARBREAK
		MENUITEM "No.032", 33171
		MENUITEM "No.033", 33172
		MENUITEM "No.034", 33173
		MENUITEM "No.035", 33174
		MENUITEM "No.036", 33175
		MENUITEM "No.037", 33176
		MENUITEM "No.038", 33177
		MENUITEM "No.039", 33178
		MENUITEM "No.040", 33179
		MENUITEM "No.041", 33180
		MENUITEM "No.042", 33181
		MENUITEM "No.043", 33182
		MENUITEM "No.044", 33183
		MENUITEM "No.045", 33184
		MENUITEM "No.046", 33185
		MENUITEM "No.047", 33186
		MENUITEM "No.048", 33187
		MENUITEM "No.049", 33188
		MENUITEM "No.050", 33189
		MENUITEM "No.051", 33190
		MENUITEM "No.052", 33191
		MENUITEM "No.053", 33192
		MENUITEM "No.054", 33193
		MENUITEM "No.055", 33194
		MENUITEM "No.056", 33195
		MENUITEM "No.057", 33196
		MENUITEM "No.058", 33197
		MENUITEM "No.059", 33198
		MENUITEM "No.060", 33199
		MENUITEM "No.061", 33200, MENUBARBREAK
		MENUITEM "No.062", 33201
		MENUITEM "No.063", 33202
		MENUITEM "No.064", 33203
		MENUITEM "No.065", 33204
		MENUITEM "No.066", 33205
		MENUITEM "No.067", 33206
		MENUITEM "No.068", 33207
		MENUITEM "No.069", 33208
		MENUITEM "No.070", 33209
		MENUITEM "No.071", 33210
		MENUITEM "No.072", 33211
		MENUITEM "No.073", 33212
		MENUITEM "No.074", 33213
		MENUITEM "No.075", 33214
		MENUITEM "No.076", 33215
		MENUITEM "No.077", 33216
		MENUITEM "No.078", 33217
		MENUITEM "No.079", 33218
		MENUITEM "No.080", 33219
		MENUITEM "No.081", 33220
		MENUITEM "No.082", 33221
		MENUITEM "No.083", 33222
		MENUITEM "No.084", 33223
		MENUITEM "No.085", 33224
		MENUITEM "No.086", 33225
		MENUITEM "No.087", 33226
		MENUITEM "No.088", 33227
		MENUITEM "No.089", 33228
		MENUITEM "No.090", 33229
		MENUITEM "No.091", 33230, MENUBARBREAK
		MENUITEM "No.092", 33231
		MENUITEM "No.093", 33232
		MENUITEM "No.094", 33233
		MENUITEM "No.095", 33234
		MENUITEM "No.096", 33235
		MENUITEM "No.097", 33236
		MENUITEM "No.098", 33237
		MENUITEM "No.099", 33238
		MENUITEM "No.100", 33239
		MENUITEM "No.101", 33240
		MENUITEM "No.102", 33241
		MENUITEM "No.103", 33242
		MENUITEM "No.104", 33243
		MENUITEM "No.105", 33244
		MENUITEM "No.106", 33245
		MENUITEM "No.107", 33246
		MENUITEM "No.108", 33247
		MENUITEM "No.109", 33248
		MENUITEM "No.110", 33249
		MENUITEM "No.111", 33250
		MENUITEM "No.112", 33251
		MENUITEM "No.113", 33252
		MENUITEM "No.114", 33253
		MENUITEM "No.115", 33254
		MENUITEM "No.116", 33255
		MENUITEM "No.117", 33256
		MENUITEM "No.118", 33257
		MENUITEM "No.119", 33258
		MENUITEM "No.120", 33259
	}
	POPUP "11: trackselect"
	{
		MENUITEM "Add &Track", 32902
		MENUITEM "&Add Track Set...", 33094
		MENUITEM "Remove T&rack", 32903
		MENUITEM "&Properties...", 32904
		MENUITEM SEPARATOR
		POPUP "Onion Skin Color"
		{
			MENUITEM "Automatic (&N)", 33297
			MENUITEM SEPARATOR
			MENUITEM "&Red", 33298
			MENUITEM "&Orange", 33299
			MENUITEM "&Yellow", 33300
			MENUITEM "&Green", 33301
			MENUITEM "&Water", 33302
			MENUITEM "&Violet", 33303
			MENUITEM "&Peach", 33304
		}
	}
	POPUP "12:markbar"
	{
		MENUITEM "Edit...", 33356
		MENUITEM "Remove", 33357
	}
	POPUP "dummy"
	{
		MENUITEM "Empty", 33312
	}
}